Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch

feat(core): add core lr-mojozork for zmachine
  Config.in
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-mojozork/Config.in
  package/libretro-mojozork/libretro-mojozork.mk
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

feat(system): add guncon2 driver for support on recalbox rgb dual
  Config.in
  board/recalbox/fsoverlay/etc/udev/rules.d/99-joysticks-exotics.rules
  package/recalbox-crt/Config.in
  package/recalbox-rgb-dual-guncon2/Config.in
  package/recalbox-rgb-dual-guncon2/recalbox-rgb-dual-guncon2.mk
Due: none

feat(system): lightgun: add support for guncon2 in lightgun configuration
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/lightgun.cfg
  package/recalbox-rgb-dual-guncon2/Config.in
  projects/configgen/configgen/generators/libretro/libretroLightGuns.py
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
Due: tests configgen, tests emulationstation

feat: bump raspberrypi kernel to 5.15.92
  board/recalbox/rpi/kernel_patches/5.15/0001-feat-add-piboy-dmg-panel-for-kms-driver.patch
  board/recalbox/rpi/kernel_patches/5.15/0002-feat-add-auo-a030vvn01-dpi-panel-for-kms-driver.patch
  board/recalbox/rpi/kernel_patches/5.15/0003-linux-usb-hid-input-xinmo.patch
  board/recalbox/rpi/kernel_patches/5.15/0004-linux-usb-xinmo20pins-support.patch
  board/recalbox/rpi/kernel_patches/5.15/0005-linux-vc4-dpi-enable-interlace.patch
  board/recalbox/rpi/kernel_patches/5.15/0006-linux-bcm-clk-add-roundup-ability-to-the-clock-divisor.patch
  board/recalbox/rpi/kernel_patches/5.15/0007-feat-add-retroflag-gpi2w-dpi-panel-for-kms-driver.patch
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  custom/package/rpi-firmware/rpi-firmware.hash
  custom/package/rpi-firmware/rpi-firmware.hash.patch
  custom/package/rpi-firmware/rpi-firmware.mk
  custom/package/rpi-firmware/rpi-firmware.mk.patch
Due: none

chore(buildroot): add python3-magic as needed for linters
  .gitlab-ci.yml
Due: none

chore(buildroot): remove rtl8821cu external package
  Config.in
  package/rtl8821cu/0001-fix-modules-install-target.patch
  package/rtl8821cu/Config.in
  package/rtl8821cu/rtl8821cu.mk
Due: tests buildroot patches

chore(buildroot): remove legacy buildroot packages
  configs/recalbox-x86_64_defconfig
Due: none

chore(buildroot): updated glibc patch for libwidevinecmd
  board/recalbox/patches/glibc/glibc-HACK-Don-t-check-GLIBC_ABI_DT_RELR-support-for-Chrom.patch
  board/recalbox/patches/glibc/glibc-add-support-for-SHT_RELR-sections.patch
Due: tests buildroot patches

chore(buildroot): remove old libclc patch
  board/recalbox/patches/libclc/0001-fix-set-correct-path-to-python3.patch
Due: tests buildroot patches

chore(buildroot): remove lirc-tools symlink patch
  board/recalbox/patches/lirc-tools/0004-force-symlinks.patch
Due: tests buildroot patches

chore(buildroot): remove nodejs patch, patch applied upstream
  board/recalbox/patches/nodejs/0001-include-obj-name-in-shared-intermediate.patch
Due: tests buildroot patches

fix(system): manual installation of case, even automatic ones
  RELEASE-NOTES.md
  projects/recalbox-hardware/case/manage.py
Due: none

chore(buildroot): remove xdriver_xf86-video-openchrome patch
  board/recalbox/patches/xdriver_xf86-video-openchrome/0001-compat-gcc10.patch
Due: tests buildroot patches

chore(buildroot): disable sdl2 joysticks patches
  board/recalbox/patches/sdl2/001-avoid-kms-negative-mode-index.patch
  board/recalbox/patches/sdl2/001-avoid-kms-negative-mode-index.patch.pending
  board/recalbox/patches/sdl2/sdl2_input_exact_retroarch.patch.pending
  board/recalbox/patches/sdl2/sdl2_input_map_hat.patch.pending
Due: tests buildroot patches

chore(buildroot): updated odroidgo2 SDL2 patches
  board/recalbox/odroidgo2/patches/sdl2/0001-sdl2-odroid-go-advance.patch
  board/recalbox/odroidgo2/patches/sdl2/sdl2-patch-0004-odroidgoa-kmsdrm-and-rotate-cursor.patch
Due: none

chore(buildroot): make pulseaudio patch compatible with v16.1
  board/recalbox/rpi/patches/pulseaudio/0001-prioritize-hdmi-sink.patch
Due: none

feat(core): add uae4all core for rpi1 & 0
  CHANGELOG.md
  Config.in
  RELEASE-NOTES.md
  TESTING.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  board/recalbox/fsoverlay/recalbox/share_upgrade/bios/lisez-moi.txt
  board/recalbox/fsoverlay/recalbox/share_upgrade/bios/readme.txt
  configs/recalbox-rpi1_defconfig
  package/libretro-uae4all/0001-Use-cyclone-core.patch
  package/libretro-uae4all/0002-lower-cycle-unit-value.patch
  package/libretro-uae4all/Config.in
  package/libretro-uae4all/libretro-uae4all.mk
  package/recalbox-romfs2/systems/amiga600/system.ini
Due: tests buildroot patches

Lightgun database updated
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/lightgun.cfg
Due: none

chore(buildroot): update sdl2 patch for sdl 2.26.3
  board/recalbox/patches/sdl2/sdl2_input_p003_extra_functions.patch
Due: tests buildroot patches

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

feat(core): add libretro same_cdi for cdi
  Config.in
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  configs/recalbox-x86_64_defconfig
  package/libretro-same_cdi/Config.in
  package/libretro-same_cdi/libretro-same_cdi-0000-recalbox-path.patch
  package/libretro-same_cdi/libretro-same_cdi.mk
  package/recalbox-romfs2/systems/cdi/system.ini
Due: tests buildroot patches

feat(infra): update rpi imager descriptions
  scripts/release/templates/rpi_imager/os_list_imagingutility_recalbox.json
Due: none

feat(frontend): rrgbd: fix calibration screen infinite input
  projects/frontend/es-app/src/views/crt/CrtView.cpp
Due: tests emulationstation

fix(frontend): fix release events for joysticks & hats
  projects/frontend/es-core/src/input/InputCompactEvent.cpp
  projects/frontend/es-core/src/input/InputCompactEvent.h
  projects/frontend/es-core/src/input/InputDevice.cpp
  projects/frontend/es-core/src/input/InputDevice.h
  projects/frontend/es-core/src/input/InputEvent.cpp
  projects/frontend/es-core/src/input/InputEvent.h
  projects/frontend/es-core/src/input/InputManager.cpp
  projects/frontend/es-core/src/input/InputManager.h
Due: tests emulationstation

fix(romfs): remove .zip extension for z-machine
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

feat(system): add composite support in kms-enabler
  board/recalbox/fsoverlay/usr/bin/kms-manager
Due: none

feat(frontend): add fullscreen aspect ratio selection in Game Config
  projects/configgen/configgen/generators/libretro/libretroRetroarch.py
  projects/frontend/es-app/src/LibretroRatio.cpp
Due: tests configgen, tests emulationstation

feat(frontend): add the possibility to force 4/3 ratio for frontend
  projects/frontend/es-core/src/RecalboxConf.h
  projects/frontend/es-core/src/Renderer.cpp
Due: tests emulationstation

feat(frontend): improve game name display options
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/FileData.h
  projects/frontend/es-app/src/games/FileSorts.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.h
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-app/src/views/gamelist/BasicGameListView.cpp
  projects/frontend/es-core/src/RecalboxConf.h
  projects/frontend/es-core/src/components/GameClipContainer.cpp
Due: tests emulationstation

feat(frontend): add show ony siblings gamelist options
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.h
  projects/frontend/es-app/src/views/gamelist/BasicGameListView.cpp
  projects/frontend/es-core/src/RecalboxConf.cpp
  projects/frontend/es-core/src/RecalboxConf.h
Due: tests emulationstation

feat(retroarch menu): allow swap valid cancel buttons
  projects/configgen/configgen/Emulator.py
  projects/configgen/configgen/generators/libretro/libretroRetroarch.py
Due: tests configgen

feat(system): rrgbd: use cases system to avoid having an installed case with rrgbd
  package/recalbox-crt/S13crt
  projects/frontend/es-core/src/hardware/Case.cpp
  projects/frontend/es-core/src/hardware/Case.h
Due: tests emulationstation

feat(core): bump hypseus-singe
  package/hypseus/hypseus.mk
  projects/configgen/configgen/generators/daphne/daphneGenerator.py
  projects/configgen/tests/generators/daphneGenerator_test.py
Due: tests configgen

feat(frontend): allow to run a game directly from savestate slot
  board/recalbox/fsoverlay/recalbox/share_init/system/configs/retroarch/retroarchcustom.cfg.origin
  package/retroarch/retroarch-0013-update.selected.slot.patch
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/tests/generators/FakeArguments.py
  projects/frontend/es-app/src/emulators/EmulatorData.h
  projects/frontend/es-app/src/emulators/run/GameLinkedData.h
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/emulators/run/SaveStateData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/GameFilesUtils.h
  projects/frontend/es-app/src/games/SaveState.cpp
  projects/frontend/es-app/src/games/SaveState.h
  projects/frontend/es-app/src/guis/GuiSaveStates.cpp
  projects/frontend/es-app/src/guis/GuiSaveStates.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.h
  projects/frontend/es-app/src/views/ViewController.cpp
  projects/frontend/es-app/src/views/ViewController.h
  projects/frontend/es-core/src/RecalboxConf.h
Due: tests configgen, tests emulationstation, tests buildroot patches

feat: add ES support for rg353x and rg503 family boards
  board/recalbox/fsoverlay/etc/udev/rules.d/91-pulseaudio.rules
  board/recalbox/fsoverlay/usr/share/pulseaudio/alsa-mixer/profile-sets/rk817.conf
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/MainRunner.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSystem.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.h
  projects/frontend/es-app/src/scraping/scrapers/recalbox/RecalboxEndPoints.cpp
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/ResolutionAdapter.cpp
  projects/frontend/es-core/src/audio/pulseaudio/PulseAudioController.cpp
  projects/frontend/es-core/src/hardware/Board.cpp
  projects/frontend/es-core/src/hardware/BoardType.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XVolumeReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XVolumeReader.h
  projects/frontend/es-core/src/hardware/messaging/HardwareMessageSender.cpp
  projects/frontend/es-core/src/hardware/messaging/IHardwareNotifications.h
  projects/frontend/es-core/src/hardware/messaging/MessageTypes.h
Due: tests emulationstation

chore: rename mali-t62x mali drivers to librelec-libmali
  Config.in
  configs/recalbox-odroidxu4_defconfig
  package/librelec-libmali/0001-add-the-libgbm-wrapper-to-the-build.patch
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: tests buildroot patches

chore(rg353x): add possiblity to build resource.img linux image
  custom/linux/Config.in
  custom/linux/Config.in.patch
  custom/linux/linux.mk
  custom/linux/linux.mk.patch
Due: none
