Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

fix(romfs): add new fantasy system type
  package/recalbox-romfs2/scripts/installroms.py
  package/recalbox-romfs2/scripts/systemholder.py
  package/recalbox-romfs2/systems/.templates/readme/_leggime.txt
  package/recalbox-romfs2/systems/.templates/readme/_leiame.txt
  package/recalbox-romfs2/systems/.templates/readme/_liesmich.txt
  package/recalbox-romfs2/systems/.templates/readme/_lisezmoi.txt
  package/recalbox-romfs2/systems/.templates/readme/_readme.txt
Due: none

fix(frontend): fix system types & device requirement for virtual systems
  projects/frontend/es-app/src/games/IFilter.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/SystemView.cpp
Due: tests emulationstation

feat(frontend): add $system-x/$system+x meta-variables in theme's xml
  package/recalbox-romfs2/systems/easyrpg/system.ini
  package/recalbox-romfs2/systems/lowresnx/system.ini
  package/recalbox-romfs2/systems/lutro/system.ini
  package/recalbox-romfs2/systems/pico8/system.ini
  package/recalbox-romfs2/systems/scummvm/system.ini
  package/recalbox-romfs2/systems/tic80/system.ini
  package/recalbox-romfs2/systems/uzebox/system.ini
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-core/src/themes/ThemeData.cpp
  projects/frontend/es-core/src/themes/ThemeData.h
  projects/frontend/es-core/src/utils/String.cpp
  projects/frontend/es-core/src/utils/String.h
Due: tests emulationstation

feat(core): bump lr-mesen_s
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  package/libretro-mesen-s/0001-bios-paths.patch
  package/libretro-mesen-s/libretro-mesen-s.mk
Due: tests buildroot patches

chore(moonlight): adapt recalbox moonlight configgen generator for moonlight-qt
  package/moonlight-qt/moonlight-qt.mk
  projects/configgen/configgen/generators/moonlight/moonlightGenerator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/tests/generators/moonlightGenerator_test.py
  projects/configgen/tests/resources/moonlight/gamelist.txt
  projects/configgen/tests/resources/moonlight/moonlight.conf
Due: tests configgen

feat: replace Moonlight embedded with Moonlight QT
  Config.in
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-x86_64_defconfig
  package/moonlight-embedded/Moonlight.sh
  package/moonlight-embedded/moonlight-embedded.mk
  package/moonlight-qt/0001-quit-on-pair.patch
  package/moonlight-qt/Config.in
  package/moonlight-qt/Moonlight.sh
  package/moonlight-qt/moonlight-qt.mk
Due: tests buildroot patches

fix(frontend): fix icon font path
  projects/frontend/es-core/src/resources/Font.cpp
Due: tests emulationstation

fix: for piboy, on boot, force fan to high speed (200)
  board/recalbox/fsoverlay/etc/init.d/S05hardware
Due: none

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

feat(frontend): bt: animated bluetooth icon
  projects/frontend/data/ResourceUtil.cpp
  projects/frontend/data/Resources.h
  projects/frontend/data/converted/bluetooth__bt_bottom_svg.cpp
  projects/frontend/data/converted/bluetooth__bt_controller_svg.cpp
  projects/frontend/data/converted/bluetooth__bt_middle_svg.cpp
  projects/frontend/data/converted/bluetooth__bt_top_svg.cpp
  projects/frontend/data/converted/bluetooth_svg.cpp
  projects/frontend/data/resources/bluetooth.svg
  projects/frontend/data/resources/bluetooth/bt_bottom.svg
  projects/frontend/data/resources/bluetooth/bt_controller.svg
  projects/frontend/data/resources/bluetooth/bt_middle.svg
  projects/frontend/data/resources/bluetooth/bt_top.svg
  projects/frontend/es-core/src/bluetooth/BluetoothOverlayGUI.cpp
  projects/frontend/es-core/src/bluetooth/BluetoothOverlayGUI.h
Due: tests emulationstation

feat: add bluetooth autopairing for controllers
  RELEASE-NOTES.md
  package/recalbox-bluetooth/recalbox-bluetooth.mk
  package/recalbox-bluetooth/src/init/bluetooth
  package/recalbox-bluetooth/src/scripts/autopair
  package/recalbox-bluetooth/src/scripts/btDaemon
  package/recalbox-bluetooth/src/scripts/recalbox-bluetooth-agent
  package/recalbox-bluetooth/src/scripts/simple-agent
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.h
  projects/frontend/es-app/src/mqtt/MqttClient.cpp
  projects/frontend/es-app/src/mqtt/MqttClient.h
Due: tests emulationstation

chore(autopair): send more status reports and make it more reliable
  package/recalbox-bluetooth/src/scripts/autopair
  package/recalbox-bluetooth/src/scripts/autopair.readme
Due: none

chore: enable uhid module onboot
  board/recalbox/fsoverlay/etc/modules.conf
  board/recalbox/rpi/fsoverlay/etc/modules.conf
Due: none

fix(kodi): fix languages versions
  package/kodi-plugin-video-netflix/kodi_plugin_video_netflix.mk
  package/kodi-plugin-video-youtube/kodi_plugin_video_youtube.mk
  package/kodi-resource-language-de_de/kodi_resource_language_de_de.mk
  package/kodi-resource-language-fr_fr/kodi_resource_language_fr_fr.mk
  package/kodi-resource-language-it_it/kodi_resource_language_it_it.mk
Due: none

fix(controllers): remove xbox patch and manage trigger axis in frontend
  board/recalbox/kernel_patches/5.10/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.12/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.15/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.4/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.9/linux-xpad-triggers-to-buttons.patch
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
Due: tests emulationstation

fix(frontend): fix truncated search result & optimize search arlgorithm
  projects/frontend/es-app/src/systems/SystemManager.cpp
Due: tests emulationstation

fix(frontend): fix cache refresh
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
Due: tests emulationstation

fix(frontend): fix search sort issue
  projects/frontend/es-app/src/systems/SystemManager.cpp
Due: tests emulationstation

fix(case): case uninstallation scripts expects a string at uninstall software
  projects/recalbox-hardware/case/installer.py
  projects/recalbox-hardware/case/installers/gpi2/install.py
  projects/recalbox-hardware/case/installers/piboy/install.py
Due: none

fix(system): add favori icon for system vg5000 and zmachine
  package/recalbox-romfs2/systems/vg5000/system.ini
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

fix(build): fix docker run command
  scripts/linux/recaldocker.sh
Due: none

feat(system): remove buildroot sdl package
  Config.in
  board/recalbox/patches/sdl/0003-pssc-sdl-fbcon.patch
  custom/list.hash
  custom/package/ffmpeg/ffmpeg.mk.patch
  custom/package/sdl/Config.in
  custom/package/sdl/Config.in.patch
  custom/package/sdl/sdl-0000-route-sdl-config-to-staging.patch
  custom/package/sdl/sdl.mk
  custom/package/sdl/sdl.mk.patch
Due: tests buildroot patches

chore(packages): fix sdl2 dependencies
  package/amiberry33/Config.in
  package/jstest2/Config.in
  package/libretro-picodrive/Config.in
  package/pifba/Config.in
  package/recalbox-emulationstation2/Config.in
  package/vice/Config.in
Due: none

feat(emulator): move from linapple-pie to recalbox version
  Config.in
  Dockerfile
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/linapple-pie/Config.in
  package/linapple-pie/linapple-pie.mk
  package/linapple-recalbox/Config.in
  package/linapple-recalbox/linapple-recalbox.mk
  package/recalbox-romfs2/systems/apple2/system.ini
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/linapple/linappleConfig.py
  projects/configgen/configgen/generators/linapple/linappleGenerator.py
  projects/configgen/configgen/utils/diskCollector.py
  projects/configgen/tests/generators/linappleGenerator_test.py
Due: tests configgen

feat(system): add sdl1.2 compatibility library package
  Config.in
  package/sdl/Config.in
  package/sdl/sdl-0000-route-sdl-config-to-staging.patch
  package/sdl/sdl.mk
Due: tests buildroot patches

chore(rg353x): add possiblity to build resource.img linux image
  custom/linux/Config.in
  custom/linux/Config.in.patch
  custom/linux/linux.mk
  custom/linux/linux.mk.patch
Due: none

chore(rg353x): add specific rg353x GPT partition probe
  board/recalbox/fsoverlay/recalbox/scripts/upgrade/recalbox-squashfs-upgrade.sh
Due: none

chore(rg353x): add a fix when using GPT partition table type
  board/recalbox/fsoverlay/etc/init.d/S11share
  package/recalbox-system/Config.in
Due: none

chore: rename mali-t62x mali drivers to librelec-libmali
  Config.in
  configs/recalbox-odroidxu4_defconfig
  package/librelec-libmali/0001-add-the-libgbm-wrapper-to-the-build.patch
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: tests buildroot patches

chore(upgrade): show first install step right after the image has been correctly checked
  board/recalbox/fsoverlay/etc/init.d/S11upgrade
Due: none

chore: end migration from mali-t62x to librelec-libmali
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: none

chore: simplification of adding new board
  package/libretro-flycast/libretro-flycast.mk
  package/libretro-mupen64plus-nx/libretro-mupen64plus-nx.mk
  package/libretro-parallel-n64/0001-add-odroidgo2-board.patch
  package/libretro-parallel-n64/0002-add-gcc10-compat.patch
  package/libretro-parallel-n64/libretro-parallel-n64.mk
  package/libretro-uae4arm/libretro-uae4arm.mk
  package/libretro-vitaquake2/libretro-vitaquake2.mk
  package/oricutron/oricutron.mk
  package/recalbox-initramfs/recalbox-initramfs.mk
  package/retroarch/retroarch.mk
Due: tests buildroot patches

feat: add support for volume control of rg353x with volumed
  board/recalbox/anbernic/rg353x/fsoverlay/etc/init.d/S06volumed
  package/recalbox-system/Config.in
  package/recalbox-volumed/recalbox-volumed.mk
Due: none

fixup! feat: add anbernic rg353p/v/m family support
  board/recalbox/anbernic/rg353x/genimage.cfg
  board/recalbox/copy-recalbox-archives.sh
Due: none

feat(system): rrgbd: add crt configuration for presinstalled ports
  package/recalbox-crt/crt-config/systems.txt
  package/recalbox-romfs2/systems/2048/system.ini
  package/recalbox-romfs2/systems/cavestory/system.ini
  package/recalbox-romfs2/systems/dinothawr/system.ini
  package/recalbox-romfs2/systems/doom/system.ini
  package/recalbox-romfs2/systems/dos/system.ini
  package/recalbox-romfs2/systems/gong/system.ini
  package/recalbox-romfs2/systems/mrboom/system.ini
  package/recalbox-romfs2/systems/quake/system.ini
  package/recalbox-romfs2/systems/quake2/system.ini
  package/recalbox-romfs2/systems/rickdangerous/system.ini
  package/recalbox-romfs2/systems/tic80/system.ini
  package/recalbox-romfs2/systems/wolfenstein3d/system.ini
Due: none

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
