Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch

fix(board): remove snes9x dor pi0 - too slow
  configs/recalbox-rpi1_defconfig
Due: none

fix(board): remove simcoupe from pi0 - too slow
  configs/recalbox-rpi1_defconfig
Due: none

fix(roms): add default p2k for trs-80 coco
  package/recalbox-romfs2/systems/trs80coco/upgrade/roms/.p2k.cfg
Due: none

fix(emulator): fix pifba package
  package/pifba/Config.in
Due: none

feat(system): add samba shortcuts
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/etc/samba/smb.conf
Due: none

feat(configgen): tate: add tate screen and controls support
  projects/configgen/configgen/Emulator.py
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/libretro/libretroConfigurations.py
  projects/configgen/configgen/generators/libretro/libretroControllers.py
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/tests/emulatorlauncher_test.py
  projects/configgen/tests/generators/libretro/LibretroConfigTate_test.py
Due: tests configgen

feat(frontend): tate: add tate virtual system with automatic rotation support
  projects/frontend/es-app/src/ApplicationWindow.cpp
  projects/frontend/es-app/src/ApplicationWindow.h
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/MainRunner.h
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.h
  projects/frontend/es-app/src/guis/menus/GuiMenuTateVirtualSystem.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuTateVirtualSystem.h
  projects/frontend/es-app/src/guis/menus/GuiMenuVirtualSystems.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuVirtualSystems.h
  projects/frontend/es-app/src/recalbox/BootConf.cpp
  projects/frontend/es-app/src/recalbox/BootConf.h
  projects/frontend/es-app/src/systems/SystemData.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/SystemView.cpp
  projects/frontend/es-app/src/views/ViewController.cpp
  projects/frontend/es-app/src/views/gamelist/ISimpleGameListView.cpp
  projects/frontend/es-core/src/RecalboxConf.h
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/Renderer.h
  projects/frontend/es-core/src/RotationManager.cpp
  projects/frontend/es-core/src/RotationManager.h
  projects/frontend/es-core/src/WindowManager.h
  projects/frontend/es-core/src/hardware/Board.h
  projects/frontend/es-core/src/hardware/Case.cpp
  projects/frontend/es-core/src/hardware/Case.h
  projects/frontend/es-core/src/hardware/IBoardInterface.h
  projects/frontend/es-core/src/hardware/RotationType.h
  projects/frontend/es-core/src/hardware/boards/odroidadvancego2/OdroidAdvanceGo2Board.cpp
  projects/frontend/es-core/src/hardware/boards/odroidadvancego2/OdroidAdvanceGo2Board.h
  projects/frontend/es-core/src/input/InputCompactEvent.cpp
  projects/frontend/es-core/src/input/InputCompactEvent.h
  projects/frontend/es-core/src/resources/Font.cpp
Due: tests emulationstation

feat(frontend): tate: add rotation in game metadata
  projects/configgen/configgen/utils/Rotation.py
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperApis.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperApis.h
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-core/src/hardware/RotationType.h
Due: tests configgen, tests emulationstation

feat(frontend): tate: add frontend rotation support
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.h
  projects/frontend/es-app/src/views/crt/CrtView.cpp
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/Renderer.h
  projects/frontend/es-core/src/resources/Font.cpp
Due: tests emulationstation

feat(system): bump themes to add tate auto theme
  package/recalbox-themes/recalbox-themes.mk
Due: none

feat(ci): bump python to 3.10 in ci
  .gitlab-ci.yml
Due: none

feat(cores): add lr-dirksimple for daphne
  Config.in
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-dirksimple/Config.in
  package/libretro-dirksimple/libretro-dirksimple.mk
  package/recalbox-romfs2/systems/daphne/system.ini
Due: none

fix(romfs): add netplay support for some gb/gbc/gba systems
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/gb/system.ini
  package/recalbox-romfs2/systems/gba/system.ini
  package/recalbox-romfs2/systems/gbc/system.ini
Due: none

feat(system): remove mount bind of retroarch assets partition
  board/recalbox/fsoverlay/etc/init.d/S12populateshare
Due: none

fix(frontend): fix demo not starting games with specific resolution
  projects/frontend/es-app/src/DemoMode.cpp
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/emulators/run/GameRunner.h
Due: tests emulationstation

feat(romfs): add super game boy directory to auto config games for this support
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/gb/upgrade/roms/.core.cfg
  package/recalbox-romfs2/systems/gb/upgrade/roms/supergameboy/.core.cfg
  package/recalbox-romfs2/systems/gb/upgrade/roms/supergameboy/.recalbox.conf
  package/recalbox-romfs2/systems/gb/upgrade/roms/supergameboy/.retroarch.cfg
  package/recalbox-romfs2/systems/gbc/upgrade/roms/.core.cfg
  package/recalbox-romfs2/systems/gbc/upgrade/roms/supergameboy/.core.cfg
  package/recalbox-romfs2/systems/gbc/upgrade/roms/supergameboy/.recalbox.conf
  package/recalbox-romfs2/systems/gbc/upgrade/roms/supergameboy/.retroarch.cfg
Due: none

feat: update kernel firmware package to 20230210
  package/kernelfirmwares/kernelfirmwares.mk
Due: none

feat(system): bump fbneo to aad581f27fbc0777dfd24be7536f8fd6facf857b
  package/libretro-fbneo/libretro-fbneo.mk
Due: none

feat(frontend): menu: add recommended video in scrap video menu
  RELEASE-NOTES.md
  projects/frontend/es-app/src/guis/menus/GuiMenuScreenScraperOptions.cpp
Due: tests emulationstation

perf(frontend): move auto-hashing into its own low-priority thread
  projects/frontend/es-app/src/games/FolderData.h
  projects/frontend/es-app/src/games/RootFolderData.h
  projects/frontend/es-app/src/systems/SystemData.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemHasher.cpp
  projects/frontend/es-app/src/systems/SystemHasher.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
Due: tests emulationstation

feat(frontend): add wizard to disable smooth and enable integer scale when enabling shaders
  RELEASE-NOTES.md
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.h
Due: tests emulationstation

feat(emulators): add crt curved shader-set support
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/configs/shadersets/crtcurved.cfg
  projects/configgen/configgen/Emulator.py
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
Due: tests configgen, tests emulationstation

fix(system): manual installation of case, even automatic ones
  RELEASE-NOTES.md
  projects/recalbox-hardware/case/manage.py
Due: none

feat(system): gpicase2w: add specific image for gpicase2w + rpizero support
  .gitlab-ci.yml
  RELEASE-NOTES.md
  package/recalbox-initramfs/init
  package/recalbox-system/rpi1/pre-upgrade.sh
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
Due: tests emulationstation

feat: bump raspberrypi kernel to 5.15.92
  board/recalbox/rpi/kernel_patches/5.15/0001-feat-add-piboy-dmg-panel-for-kms-driver.patch
  board/recalbox/rpi/kernel_patches/5.15/0002-feat-add-auo-a030vvn01-dpi-panel-for-kms-driver.patch
  board/recalbox/rpi/kernel_patches/5.15/0003-linux-usb-hid-input-xinmo.patch
  board/recalbox/rpi/kernel_patches/5.15/0004-linux-usb-xinmo20pins-support.patch
  board/recalbox/rpi/kernel_patches/5.15/0005-linux-vc4-dpi-enable-interlace.patch
  board/recalbox/rpi/kernel_patches/5.15/0006-linux-bcm-clk-add-roundup-ability-to-the-clock-divisor.patch
  board/recalbox/rpi/kernel_patches/5.15/0007-feat-add-retroflag-gpi2w-dpi-panel-for-kms-driver.patch
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  custom/package/rpi-firmware/rpi-firmware.hash
  custom/package/rpi-firmware/rpi-firmware.hash.patch
  custom/package/rpi-firmware/rpi-firmware.mk
  custom/package/rpi-firmware/rpi-firmware.mk.patch
Due: none

feat(system): remove every hdmi_force_hotplug options for rpis
  package/recalbox-crt/S13crt
  package/recalbox-system/config.txt
  package/recalbox-system/rpi1/pre-upgrade.sh
  package/recalbox-system/rpi3/pre-upgrade.sh
  package/recalbox-system/rpi4/pre-upgrade.sh
  package/recalbox-system/rpi4_64/pre-upgrade.sh
  package/recalbox-system/rpizero2legacy/pre-upgrade.sh
  projects/recalbox-hardware/case/installers/gpi2/assets/recalbox-user-config.txt
  projects/recalbox-hardware/case/installers/piboy/assets/recalbox-user-config.txt
Due: none

feat(system): upgrade: add migration system in S14migrate
  board/recalbox/fsoverlay/etc/init.d/S14migrate
Due: none

feat(infra): update rpi imager descriptions
  scripts/release/templates/rpi_imager/os_list_imagingutility_recalbox.json
Due: none

fix(frontend): fix release events for joysticks & hats
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
  projects/frontend/es-core/src/input/InputCompactEvent.cpp
  projects/frontend/es-core/src/input/InputCompactEvent.h
  projects/frontend/es-core/src/input/InputDevice.cpp
  projects/frontend/es-core/src/input/InputDevice.h
  projects/frontend/es-core/src/input/InputEvent.cpp
  projects/frontend/es-core/src/input/InputEvent.h
  projects/frontend/es-core/src/input/InputManager.cpp
  projects/frontend/es-core/src/input/InputManager.h
  projects/frontend/es-core/src/utils/String.h
Due: tests emulationstation

fix(romfs): remove .zip extension for z-machine
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

feat(system): add composite support in kms-enabler
  board/recalbox/fsoverlay/usr/bin/kms-manager
Due: none

feat(frontend): add fullscreen aspect ratio selection in Game Config
  projects/configgen/configgen/generators/libretro/libretroRetroarch.py
  projects/frontend/es-app/src/LibretroRatio.cpp
Due: tests configgen, tests emulationstation

feat(frontend): add the possibility to force 4/3 ratio for frontend
  projects/frontend/es-core/src/RecalboxConf.h
  projects/frontend/es-core/src/Renderer.cpp
Due: tests emulationstation

feat(frontend): add new alias metadata
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/FileData.h
  projects/frontend/es-app/src/games/FileSorts.cpp
  projects/frontend/es-app/src/games/FolderData.cpp
  projects/frontend/es-app/src/games/FolderData.h
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/guis/GuiSearch.h
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/SearchForceOptions.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.h
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.h
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemData.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/gamelist/BasicGameListView.cpp
  projects/frontend/es-core/src/RecalboxConf.cpp
  projects/frontend/es-core/src/RecalboxConf.h
  projects/frontend/es-core/src/components/GameClipContainer.cpp
Due: tests emulationstation

feat(frontend): limit siblings resutls on alias full match and on all systems
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/guis/GuiSearch.h
  projects/frontend/es-app/src/guis/SearchForceOptions.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/usernotifications/NotificationManager.cpp
Due: tests emulationstation

feat(core): bump hypseus-singe
  package/hypseus/hypseus.mk
  projects/configgen/configgen/generators/daphne/daphneGenerator.py
  projects/configgen/tests/generators/daphneGenerator_test.py
Due: tests configgen

feat(frontend): allow to run a game directly from savestate slot
  package/retroarch/retroarch-0013-update.selected.slot.patch
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/configgen/generators/libretro/libretroRetroarch.py
  projects/configgen/tests/generators/FakeArguments.py
  projects/frontend/es-app/src/emulators/EmulatorData.h
  projects/frontend/es-app/src/emulators/run/GameLinkedData.h
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/emulators/run/SaveStateData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/GameFilesUtils.h
  projects/frontend/es-app/src/games/SaveState.cpp
  projects/frontend/es-app/src/games/SaveState.h
  projects/frontend/es-app/src/guis/GuiSaveStates.cpp
  projects/frontend/es-app/src/guis/GuiSaveStates.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.h
  projects/frontend/es-app/src/views/ViewController.cpp
  projects/frontend/es-app/src/views/ViewController.h
  projects/frontend/es-core/src/RecalboxConf.h
Due: tests configgen, tests emulationstation, tests buildroot patches

chore: rename mali-t62x mali drivers to librelec-libmali
  Config.in
  configs/recalbox-odroidxu4_defconfig
  package/librelec-libmali/0001-add-the-libgbm-wrapper-to-the-build.patch
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: tests buildroot patches
