Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

feat(ci): bump python to 3.10 in ci
  .gitlab-ci.yml
Due: none

feat(ui): add webmanager v3 package
  .gitlab-ci.yml
  CHANGELOG.md
  Config.in
  Dockerfile
  RELEASE-NOTES.md
  TESTING.md
  board/recalbox/fsoverlay/etc/init.d/S93webmanager
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-x86_64_defconfig
  package/recalbox-manager3/Config.in
  package/recalbox-manager3/recalbox-manager3.mk
  scripts/linux/recaldocker.sh
Due: none

feat(system): gpicase2w: add specific image for gpicase2w + rpizero support
  .gitlab-ci.yml
  RELEASE-NOTES.md
  package/recalbox-initramfs/init
  package/recalbox-system/rpi1/pre-upgrade.sh
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
Due: tests emulationstation

chore(buildroot): bump libretro-dinothawr and compile with neon if available
  package/libretro-dinothawr/libretro-dinothawr.mk
Due: none

chore(buildroot): add compilation bug patch for flac
  board/recalbox/patches/flac/0001-fix-compilation-issue.patch
Due: tests buildroot patches

chore(builroot): use python 3.11 compileall.py script
  package/recalbox-configgen/recalbox-configgen.mk
Due: none

chore(buildroot): updated odroidgo2 SDL2 patches
  board/recalbox/odroidgo2/patches/sdl2/0001-sdl2-odroid-go-advance.patch
  board/recalbox/odroidgo2/patches/sdl2/sdl2-patch-0004-odroidgoa-kmsdrm-and-rotate-cursor.patch
Due: none

chore(buildroot): remove rtl8821cu external package
  Config.in
  package/rtl8821cu/0001-fix-modules-install-target.patch
  package/rtl8821cu/Config.in
  package/rtl8821cu/rtl8821cu.mk
Due: tests buildroot patches

chore(buildroot): disable sdl2 joysticks patches
  board/recalbox/patches/sdl2/001-avoid-kms-negative-mode-index.patch
  board/recalbox/patches/sdl2/001-avoid-kms-negative-mode-index.patch.pending
  board/recalbox/patches/sdl2/sdl2_input_exact_retroarch.patch.pending
  board/recalbox/patches/sdl2/sdl2_input_map_hat.patch.pending
Due: tests buildroot patches

chore(buildroot): bump scummvm to v2.7.0
  package/scummvm/scummvm-001-configure.patch
  package/scummvm/scummvm-002-checkedfile.patch
  package/scummvm/scummvm.mk
Due: tests buildroot patches

chore(buildroot): remove lirc-tools symlink patch
  board/recalbox/patches/lirc-tools/0004-force-symlinks.patch
Due: tests buildroot patches

chore(buildroot): remove xdriver_xf86-video-openchrome patch
  board/recalbox/patches/xdriver_xf86-video-openchrome/0001-compat-gcc10.patch
Due: tests buildroot patches

chore(buildroot): remove legacy buildroot packages
  configs/recalbox-x86_64_defconfig
Due: none

chore(buildroot): fix StrEnum of python 3.11
  .gitlab-ci.yml
  projects/configgen/configgen/crt/CRTTypes.py
Due: tests configgen

chore(buildroot): add python3-magic as needed for linters
  .gitlab-ci.yml
Due: none

chore(buildroot): update python-pygame to 2.2.0 and update patches
  board/recalbox/patches/python-pygame/0001-auto-argv.patch
  board/recalbox/patches/python-pygame/0003-remove-host-dir.patch
  custom/package/python-pygame/python-pygame.hash
  custom/package/python-pygame/python-pygame.hash.patch
  custom/package/python-pygame/python-pygame.mk
  custom/package/python-pygame/python-pygame.mk.patch
Due: tests buildroot patches

chore(buildroot): link busybox hash instead of duplicate it
  package/recalbox-initramfs/recalbox-initramfs.hash
Due: none

chore(buildroot): remove old libclc patch
  board/recalbox/patches/libclc/0001-fix-set-correct-path-to-python3.patch
Due: tests buildroot patches

chore(buildroot): updated glibc patch for libwidevinecmd
  board/recalbox/patches/arm/.keepme
  board/recalbox/patches/arm/glibc/glibc-HACK-Don-t-check-GLIBC_ABI_DT_RELR-support-for-Chrom.patch
  board/recalbox/patches/arm/glibc/glibc-tls-libwidevinecdm.so-since-4.10.2252.0-has-TLS-with.patch
  board/recalbox/patches/glibc/glibc-add-support-for-SHT_RELR-sections.patch
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
Due: tests buildroot patches

chore(buildroot): add patch to allow compilation with sdl >= 2.0
  package/dosbox/0001-sdl2-26-3-compat.patch
Due: tests buildroot patches

chore(buildroot): make pulseaudio patch compatible with v16.1
  board/recalbox/rpi/patches/pulseaudio/0001-prioritize-hdmi-sink.patch
Due: none

chore(buildroot): update sdl2 patch for sdl 2.26.3
  board/recalbox/patches/sdl2/sdl2_input_p003_extra_functions.patch
Due: tests buildroot patches

chore(buildroot): remove nodejs patch, patch applied upstream
  board/recalbox/patches/nodejs/0001-include-obj-name-in-shared-intermediate.patch
Due: tests buildroot patches

chore(buildroot): add python-glslang in external tree
  custom/list.hash
  custom/package/mesa3d/mesa3d.mk
  custom/package/mesa3d/mesa3d.mk.patch
  package/python-glslang/python-glslang.hash
  package/python-glslang/python-glslang.mk
Due: none

feat(frontend): tate: add tate virtual system with automatic rotation support
  projects/frontend/es-app/src/ApplicationWindow.cpp
  projects/frontend/es-app/src/ApplicationWindow.h
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/MainRunner.h
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuTateVirtualSystem.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuTateVirtualSystem.h
  projects/frontend/es-app/src/guis/menus/GuiMenuVirtualSystems.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuVirtualSystems.h
  projects/frontend/es-app/src/recalbox/BootConf.cpp
  projects/frontend/es-app/src/recalbox/BootConf.h
  projects/frontend/es-app/src/systems/SystemData.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/ViewController.cpp
  projects/frontend/es-app/src/views/gamelist/ISimpleGameListView.cpp
  projects/frontend/es-core/src/RecalboxConf.h
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/Renderer.h
  projects/frontend/es-core/src/RotationManager.cpp
  projects/frontend/es-core/src/RotationManager.h
  projects/frontend/es-core/src/WindowManager.h
  projects/frontend/es-core/src/hardware/Board.h
  projects/frontend/es-core/src/hardware/Case.cpp
  projects/frontend/es-core/src/hardware/Case.h
  projects/frontend/es-core/src/hardware/IBoardInterface.h
  projects/frontend/es-core/src/hardware/boards/odroidadvancego2/OdroidAdvanceGo2Board.cpp
  projects/frontend/es-core/src/hardware/boards/odroidadvancego2/OdroidAdvanceGo2Board.h
  projects/frontend/es-core/src/input/InputCompactEvent.cpp
  projects/frontend/es-core/src/input/InputCompactEvent.h
  projects/frontend/es-core/src/resources/Font.cpp
Due: tests emulationstation

feat(frontend): tate: add frontend rotation support
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.h
  projects/frontend/es-app/src/views/crt/CrtView.cpp
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/Renderer.h
  projects/frontend/es-core/src/resources/Font.cpp
Due: tests emulationstation

feat(configgen): tate: add tate screen and controls support
  projects/configgen/configgen/Emulator.py
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/libretro/libretroConfigurations.py
  projects/configgen/configgen/generators/libretro/libretroControllers.py
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/tests/emulatorlauncher_test.py
  projects/configgen/tests/generators/libretro/LibretroConfigTate_test.py
Due: tests configgen

feat(frontend): tate: add rotation in game metadata
  projects/configgen/configgen/utils/Rotation.py
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperApis.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperApis.h
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-core/src/hardware/RotationType.h
Due: tests configgen, tests emulationstation

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

feat(cores): add lr-dirksimple for daphne
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-dirksimple/Config.in
  package/libretro-dirksimple/libretro-dirksimple.mk
  package/recalbox-romfs2/systems/daphne/system.ini
Due: none

fix(romfs): add netplay support for some gb/gbc/gba systems
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/gb/system.ini
  package/recalbox-romfs2/systems/gba/system.ini
  package/recalbox-romfs2/systems/gbc/system.ini
Due: none

feat(system): remove mount bind of retroarch assets partition
  board/recalbox/fsoverlay/etc/init.d/S12populateshare
Due: none

fix(frontend): fix demo not starting games with specific resolution
  projects/frontend/es-app/src/DemoMode.cpp
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/emulators/run/GameRunner.h
Due: tests emulationstation

feat(romfs): add super game boy directory to auto config games for this support
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/gb/upgrade/roms/.core.cfg
  package/recalbox-romfs2/systems/gb/upgrade/roms/supergameboy/.core.cfg
  package/recalbox-romfs2/systems/gb/upgrade/roms/supergameboy/.recalbox.conf
  package/recalbox-romfs2/systems/gb/upgrade/roms/supergameboy/.retroarch.cfg
  package/recalbox-romfs2/systems/gbc/upgrade/roms/.core.cfg
  package/recalbox-romfs2/systems/gbc/upgrade/roms/supergameboy/.core.cfg
  package/recalbox-romfs2/systems/gbc/upgrade/roms/supergameboy/.recalbox.conf
  package/recalbox-romfs2/systems/gbc/upgrade/roms/supergameboy/.retroarch.cfg
Due: none

feat: update kernel firmware package to 20230210
  package/kernelfirmwares/kernelfirmwares.mk
Due: none

feat(system): bump fbneo to aad581f27fbc0777dfd24be7536f8fd6facf857b
  package/libretro-fbneo/libretro-fbneo.mk
Due: none

feat(frontend): menu: add recommended video in scrap video menu
  RELEASE-NOTES.md
  projects/frontend/es-app/src/guis/menus/GuiMenuScreenScraperOptions.cpp
Due: tests emulationstation

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
