Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

feat(cores): add lr-dirksimple for daphne
  Config.in
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-dirksimple/Config.in
  package/libretro-dirksimple/libretro-dirksimple.mk
  package/recalbox-romfs2/systems/daphne/system.ini
Due: none

feat(build): add arcade dat package
  Config.in
  Dockerfile
  package/arcade-dats/Config.in
  package/arcade-dats/arcade-dats.mk
  package/arcade-dats/arcade-flat.xslt
  package/arcade-dats/arcade.xslt
  package/arcade-dats/atomiswave.xslt
  package/arcade-dats/model3.xslt
  package/arcade-dats/naomi.xslt
  package/arcade-dats/naomigd.xslt
Due: none

feat(system): allow accessing read-only dats from /recalbox/share
  board/recalbox/fsoverlay/etc/init.d/S12populateshare
Due: none

feat(frontend): add arcade filtering
  projects/frontend/es-app/src/emulators/EmulatorData.h
  projects/frontend/es-app/src/emulators/EmulatorDescriptor.h
  projects/frontend/es-app/src/emulators/EmulatorList.h
  projects/frontend/es-app/src/systems/Arcade.cpp
  projects/frontend/es-app/src/systems/Arcade.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemDeserializer.cpp
  projects/frontend/es-core/src/utils/String.h
Due: tests emulationstation

feat(build): add arcade properties into romfs v2
  package/recalbox-romfs2/scripts/installroms.py
  package/recalbox-romfs2/scripts/systembuilder.py
  package/recalbox-romfs2/scripts/systemholder.py
  package/recalbox-romfs2/systems/fbneo/system.ini
Due: none

feat(build): generate game flat lists
  package/arcade-dats/arcade-dats.mk
  package/libretro-fbneo/Config.in
  package/libretro-fbneo/libretro-fbneo.mk
  package/libretro-mame/Config.in
  package/libretro-mame/libretro-mame.mk
  package/libretro-mame2000/Config.in
  package/libretro-mame2000/libretro-mame2000.mk
  package/libretro-mame2003-plus/Config.in
  package/libretro-mame2003-plus/libretro-mame2003-plus.mk
  package/libretro-mame2003/Config.in
  package/libretro-mame2003/libretro-mame2003.mk
  package/libretro-mame2010/Config.in
  package/libretro-mame2010/libretro-mame2010.mk
  package/libretro-mame2015/Config.in
  package/libretro-mame2015/libretro-mame2015.mk
  package/libretro-mame2016/Config.in
  package/libretro-mame2016/libretro-mame2016.mk
  package/pifba/Config.in
  package/pifba/fba_rb.dat
  package/pifba/pifba.mk
  package/supermodel/Config.in
  package/supermodel/supermodel.mk
Due: none

feat(cores): add lr-dirksimple for daphne
  Config.in
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-dirksimple/0001-recalbox-paths.patch
  package/libretro-dirksimple/Config.in
  package/libretro-dirksimple/libretro-dirksimple.mk
  package/recalbox-romfs2/systems/daphne/system.ini
Due: tests buildroot patches

feat(frontend): tate: add tate in main menu
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenu.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenu.h
  projects/frontend/es-app/src/guis/menus/GuiMenuTate.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuTate.h
  projects/frontend/es-app/src/guis/menus/GuiMenuTateVirtualSystem.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuTateVirtualSystem.h
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.h
  projects/frontend/es-app/src/guis/menus/GuiMenuVirtualSystems.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuVirtualSystems.h
  projects/frontend/es-app/src/recalbox/BootConf.cpp
  projects/frontend/es-app/src/recalbox/BootConf.h
  projects/frontend/es-core/src/RecalboxConf.h
  projects/frontend/es-core/src/RotationManager.cpp
  projects/frontend/es-core/src/hardware/IBoardInterface.h
  projects/frontend/es-core/src/hardware/RotationType.h
  projects/frontend/es-core/src/hardware/boards/odroidadvancego2/OdroidAdvanceGo2Board.cpp
  projects/frontend/es-core/src/hardware/boards/odroidadvancego2/OdroidAdvanceGo2Board.h
  projects/frontend/es-core/src/themes/MenuThemeData.cpp
  projects/frontend/es-core/src/themes/MenuThemeData.h
  projects/frontend/es-core/src/themes/ThemeData.cpp
Due: tests emulationstation

fix(frontend): fix release events for joysticks & hats
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
  projects/frontend/es-core/src/guis/GuiInputConfig.h
  projects/frontend/es-core/src/input/InputCompactEvent.cpp
  projects/frontend/es-core/src/input/InputCompactEvent.h
  projects/frontend/es-core/src/input/InputDevice.cpp
  projects/frontend/es-core/src/input/InputDevice.h
  projects/frontend/es-core/src/input/InputEvent.cpp
  projects/frontend/es-core/src/input/InputEvent.h
  projects/frontend/es-core/src/input/InputManager.cpp
  projects/frontend/es-core/src/input/InputManager.h
  projects/frontend/es-core/src/input/InputStack.cpp
  projects/frontend/es-core/src/input/InputStack.h
  projects/frontend/es-core/src/utils/String.h
Due: tests emulationstation

feat(system): remove every hdmi_force_hotplug options for rpis
  package/recalbox-crt/S13crt
  package/recalbox-system/config.txt
  package/recalbox-system/rpi1/pre-upgrade.sh
  package/recalbox-system/rpi3/pre-upgrade.sh
  package/recalbox-system/rpi4/pre-upgrade.sh
  package/recalbox-system/rpi4_64/pre-upgrade.sh
  package/recalbox-system/rpizero2legacy/pre-upgrade.sh
  projects/recalbox-hardware/case/installers/gpi2/assets/recalbox-user-config.txt
  projects/recalbox-hardware/case/installers/piboy/assets/recalbox-user-config.txt
Due: none

feat(system): upgrade: add migration system in S14migrate
  board/recalbox/fsoverlay/etc/init.d/S14migrate
Due: none

feat: bump raspberrypi kernel to 5.15.92
  board/recalbox/rpi/kernel_patches/5.15/0001-feat-add-piboy-dmg-panel-for-kms-driver.patch
  board/recalbox/rpi/kernel_patches/5.15/0002-feat-add-auo-a030vvn01-dpi-panel-for-kms-driver.patch
  board/recalbox/rpi/kernel_patches/5.15/0003-linux-usb-hid-input-xinmo.patch
  board/recalbox/rpi/kernel_patches/5.15/0004-linux-usb-xinmo20pins-support.patch
  board/recalbox/rpi/kernel_patches/5.15/0005-linux-vc4-dpi-enable-interlace.patch
  board/recalbox/rpi/kernel_patches/5.15/0006-linux-bcm-clk-add-roundup-ability-to-the-clock-divisor.patch
  board/recalbox/rpi/kernel_patches/5.15/0007-feat-add-retroflag-gpi2w-dpi-panel-for-kms-driver.patch
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  custom/package/rpi-firmware/rpi-firmware.hash
  custom/package/rpi-firmware/rpi-firmware.hash.patch
  custom/package/rpi-firmware/rpi-firmware.mk
  custom/package/rpi-firmware/rpi-firmware.mk.patch
Due: none

chore(rg353x): add specific rg353x GPT partition probe
  board/recalbox/fsoverlay/recalbox/scripts/upgrade/recalbox-squashfs-upgrade.sh
Due: none

chore: save profiles per cards
  projects/frontend/es-core/src/audio/pulseaudio/PulseAudioController.cpp
  projects/frontend/es-core/src/audio/pulseaudio/PulseAudioController.h
Due: tests emulationstation

chore: simplification of adding new board
  package/libretro-flycast/libretro-flycast.mk
  package/libretro-mupen64plus-nx/libretro-mupen64plus-nx.mk
  package/libretro-parallel-n64/0001-add-odroidgo2-board.patch
  package/libretro-parallel-n64/0002-add-gcc10-compat.patch
  package/libretro-parallel-n64/libretro-parallel-n64.mk
  package/libretro-uae4arm/libretro-uae4arm.mk
  package/libretro-vitaquake2/libretro-vitaquake2.mk
  package/oricutron/oricutron.mk
  package/recalbox-initramfs/recalbox-initramfs.mk
  package/retroarch/retroarch.mk
Due: tests buildroot patches

feat: add bluetooth support for rg353x
  Config.in
  package/recalbox-bluetooth/recalbox-bluetooth.mk
  package/recalbox-bluetooth/src/scripts/bluetoothcontrollers.sh.rg353x
  package/recalbox-system/Config.in
  package/rkwifibt/Config.in
  package/rkwifibt/rkwifibt.mk
Due: none

chore(upgrade): show first install step right after the image has been correctly checked
  board/recalbox/fsoverlay/etc/init.d/S11upgrade
Due: none

chore(rg353x): add a fix when using GPT partition table type
  board/recalbox/fsoverlay/etc/init.d/S11share
Due: none

feat: add possibility to upgrade bootloader on upgrade
  board/recalbox/anbernic/rg353x/genimage.cfg
  board/recalbox/copy-recalbox-archives.sh
  package/recalbox-initramfs/busybox.config
  package/recalbox-initramfs/init
Due: none

feat(ci): bump python to 3.10 in ci
  .gitlab-ci.yml
Due: none

feat(frontend): tate: add remove dynamically to tate system when enabled
  projects/frontend/es-app/src/guis/menus/GuiMenu.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuTate.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuTate.h
  projects/frontend/es-app/src/views/SystemView.cpp
  projects/frontend/es-app/src/views/SystemView.h
Due: tests emulationstation

feat(frontend): tate: add tate virtual system with automatic rotation support
  projects/frontend/es-app/src/ApplicationWindow.cpp
  projects/frontend/es-app/src/ApplicationWindow.h
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/MainRunner.h
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.h
  projects/frontend/es-app/src/guis/menus/GuiMenuTateVirtualSystem.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuTateVirtualSystem.h
  projects/frontend/es-app/src/guis/menus/GuiMenuVirtualSystems.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuVirtualSystems.h
  projects/frontend/es-app/src/recalbox/BootConf.cpp
  projects/frontend/es-app/src/recalbox/BootConf.h
  projects/frontend/es-app/src/systems/SystemData.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/SystemView.cpp
  projects/frontend/es-app/src/views/ViewController.cpp
  projects/frontend/es-app/src/views/gamelist/ISimpleGameListView.cpp
  projects/frontend/es-core/src/RecalboxConf.h
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/Renderer.h
  projects/frontend/es-core/src/RotationManager.cpp
  projects/frontend/es-core/src/RotationManager.h
  projects/frontend/es-core/src/WindowManager.h
  projects/frontend/es-core/src/hardware/Board.h
  projects/frontend/es-core/src/hardware/Case.cpp
  projects/frontend/es-core/src/hardware/Case.h
  projects/frontend/es-core/src/hardware/IBoardInterface.h
  projects/frontend/es-core/src/hardware/RotationType.h
  projects/frontend/es-core/src/hardware/boards/odroidadvancego2/OdroidAdvanceGo2Board.cpp
  projects/frontend/es-core/src/hardware/boards/odroidadvancego2/OdroidAdvanceGo2Board.h
  projects/frontend/es-core/src/input/InputCompactEvent.cpp
  projects/frontend/es-core/src/input/InputCompactEvent.h
  projects/frontend/es-core/src/resources/Font.cpp
Due: tests emulationstation

feat(system): bump themes to add tate auto theme
  package/recalbox-themes/recalbox-themes.mk
Due: none

feat(frontend): tate: add rotation in game metadata
  projects/configgen/configgen/utils/Rotation.py
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperApis.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperApis.h
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-core/src/hardware/RotationType.h
Due: tests configgen, tests emulationstation

feat(configgen): tate: add tate screen and controls support
  projects/configgen/configgen/Emulator.py
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/libretro/libretroConfigurations.py
  projects/configgen/configgen/generators/libretro/libretroControllers.py
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/tests/emulatorlauncher_test.py
  projects/configgen/tests/generators/libretro/LibretroConfigTate_test.py
Due: tests configgen

feat(frontend): tate: add frontend rotation support
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.h
  projects/frontend/es-app/src/views/crt/CrtView.cpp
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/Renderer.h
  projects/frontend/es-core/src/resources/Font.cpp
Due: tests emulationstation

fix: remove duplicate path entry
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
Due: tests emulationstation

feat(frontend): add new alias metadata
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/FileData.h
  projects/frontend/es-app/src/games/FileSorts.cpp
  projects/frontend/es-app/src/games/FolderData.cpp
  projects/frontend/es-app/src/games/FolderData.h
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/guis/GuiSearch.h
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/SearchForceOptions.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.h
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.h
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemData.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/gamelist/BasicGameListView.cpp
  projects/frontend/es-core/src/RecalboxConf.cpp
  projects/frontend/es-core/src/RecalboxConf.h
  projects/frontend/es-core/src/components/GameClipContainer.cpp
Due: tests emulationstation

feat(frontend): limit siblings resutls on alias full match and on all systems
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/guis/GuiSearch.h
  projects/frontend/es-app/src/guis/SearchForceOptions.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/usernotifications/NotificationManager.cpp
Due: tests emulationstation

feat(frontend): add search games of the same familly
  projects/frontend/es-app/src/games/FolderData.h
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.h
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperApis.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperApis.h
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
Due: tests emulationstation

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
