Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

feat(frontend): add $system-x/$system+x meta-variables in theme's xml
  package/recalbox-romfs2/systems/easyrpg/system.ini
  package/recalbox-romfs2/systems/lowresnx/system.ini
  package/recalbox-romfs2/systems/lutro/system.ini
  package/recalbox-romfs2/systems/pico8/system.ini
  package/recalbox-romfs2/systems/scummvm/system.ini
  package/recalbox-romfs2/systems/tic80/system.ini
  package/recalbox-romfs2/systems/uzebox/system.ini
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-core/src/themes/ThemeData.cpp
  projects/frontend/es-core/src/themes/ThemeData.h
  projects/frontend/es-core/src/utils/String.cpp
  projects/frontend/es-core/src/utils/String.h
Due: tests emulationstation

fix(romfs): add new fantasy system type
  package/recalbox-romfs2/scripts/installroms.py
  package/recalbox-romfs2/scripts/systemholder.py
  package/recalbox-romfs2/systems/.templates/readme/_leggime.txt
  package/recalbox-romfs2/systems/.templates/readme/_leiame.txt
  package/recalbox-romfs2/systems/.templates/readme/_liesmich.txt
  package/recalbox-romfs2/systems/.templates/readme/_lisezmoi.txt
  package/recalbox-romfs2/systems/.templates/readme/_readme.txt
Due: none

feat(core): bump lr-mesen_s
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  package/libretro-mesen-s/0001-bios-paths.patch
  package/libretro-mesen-s/libretro-mesen-s.mk
Due: tests buildroot patches

feat: replace Moonlight embedded with Moonlight QT
  Config.in
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-x86_64_defconfig
  package/moonlight-embedded/Moonlight.sh
  package/moonlight-embedded/moonlight-embedded.mk
  package/moonlight-qt/0001-quit-on-pair.patch
  package/moonlight-qt/Config.in
  package/moonlight-qt/Moonlight.sh
  package/moonlight-qt/moonlight-qt.mk
Due: tests buildroot patches

chore(moonlight): adapt recalbox moonlight configgen generator for moonlight-qt
  package/moonlight-qt/moonlight-qt.mk
  projects/configgen/configgen/generators/moonlight/moonlightGenerator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/tests/generators/moonlightGenerator_test.py
  projects/configgen/tests/resources/moonlight/gamelist.txt
  projects/configgen/tests/resources/moonlight/moonlight.conf
Due: tests configgen

fix(kodi): fix languages versions
  package/kodi-plugin-video-netflix/kodi_plugin_video_netflix.mk
  package/kodi-plugin-video-youtube/kodi_plugin_video_youtube.mk
  package/kodi-resource-language-de_de/kodi_resource_language_de_de.mk
  package/kodi-resource-language-fr_fr/kodi_resource_language_fr_fr.mk
  package/kodi-resource-language-it_it/kodi_resource_language_it_it.mk
  package/kodi-resource-language-tr_tr/kodi_resource_language_tr_tr.mk
Due: none

chore(citra-emu): bump citra to nightly 1661
  package/citra-emu/005-hotkey.patch
  package/citra-emu/citra-emu.mk
Due: tests buildroot patches

chore(citra): change to citra qt and change repository
  Config.in
  configs/recalbox-x86_64_defconfig
  package/citra-emu/004-disable-telemetry.patch
  package/citra-emu/005-hotkey.patch
  package/citra-emu/Config.in
  package/citra-emu/citra-emu.mk
  package/recalbox-romfs/recalbox-romfs-3ds/recalbox-romfs-3ds.mk
  package/recalbox-system/x86_64/recalbox.conf
Due: tests buildroot patches

chore(citra): add recalbox romf package
  package/citra-emu/002-path-config-saves.patch
  package/citra-emu/003-fix-folders-saves.patch
  package/citra-emu/Config.in
  package/citra-emu/citra-emu.mk
  package/recalbox-romfs/recalbox-romfs-3ds/Config.in
  package/recalbox-romfs/recalbox-romfs-3ds/recalbox-romfs-3ds.mk
  package/recalbox-romfs/recalbox-romfs-3ds/roms/3ds/_lisezmoi.txt
  package/recalbox-romfs/recalbox-romfs-3ds/roms/3ds/_readme.txt
  package/recalbox-system/x86_64/recalbox.conf
Due: tests buildroot patches

chore(romfs): move romfs to romfs2
  package/recalbox-romfs2/systems/3ds/init/roms/.keep
  package/recalbox-romfs2/systems/3ds/system.ini
  package/recalbox-romfs2/systems/3ds/upgrade/roms/.readme.placeholder
Due: none

chore(ports): fix rename openlara to tomb raider
  configs/recalbox-x86_64_defconfig
  package/libretro-openlara/Config.in
  package/recalbox-romfs/recalbox-romfs-openlara/Config.in
  package/recalbox-romfs/recalbox-romfs-openlara/recalbox-romfs-openlara.mk
  package/recalbox-romfs/recalbox-romfs-openlara/roms/ports/OpenLara/_lisezmoi.txt
  package/recalbox-romfs/recalbox-romfs-openlara/roms/ports/OpenLara/_readme.txt
  package/recalbox-romfs/recalbox-romfs-tombraider/Config.in
  package/recalbox-romfs/recalbox-romfs-tombraider/recalbox-romfs-tombraider.mk
  package/recalbox-romfs/recalbox-romfs-tombraider/roms/ports/Tombraider/_lisezmoi.txt
  package/recalbox-romfs/recalbox-romfs-tombraider/roms/ports/Tombraider/_readme.txt
Due: none

chore(ports): add compiler commons flags
  package/libretro-openlara/libretro-openlara.mk
Due: none

wip
  configs/recalbox-rpi4_defconfig
  package/libretro-openlara/libretro-openlara.mk
Due: none

chore(ports): add romfs and enable openlara in config
  Config.in
  package/libretro-openlara/libretro-openlara.mk
  package/recalbox-romfs/recalbox-romfs-openlara/Config.in
  package/recalbox-romfs/recalbox-romfs-openlara/recalbox-romfs-openlara.mk
  package/recalbox-romfs/recalbox-romfs-openlara/roms/ports/OpenLara/_lisezmoi.txt
  package/recalbox-romfs/recalbox-romfs-openlara/roms/ports/OpenLara/_readme.txt
Due: none

chore(ports): remove romfs and add romfs2 informations
  package/libretro-openlara/libretro-openlara.mk
  package/recalbox-romfs/recalbox-romfs-tombraider/Config.in
  package/recalbox-romfs/recalbox-romfs-tombraider/recalbox-romfs-tombraider.mk
  package/recalbox-romfs/recalbox-romfs-tombraider/roms/ports/Tombraider/_lisezmoi.txt
  package/recalbox-romfs/recalbox-romfs-tombraider/roms/ports/Tombraider/_readme.txt
  package/recalbox-romfs2/systems/tombraider/init/roms/.keep
  package/recalbox-romfs2/systems/tombraider/system.ini
  package/recalbox-romfs2/systems/tombraider/upgrade/roms/.readme.placeholder
Due: none

feat(controllers): add Nintendo Switch N64 and Megadrive/Genesis controllers definitions
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  package/hid-nintendo/0002-add-more-controllers-support-and-md-n64-snes-mapping.patch
  package/hid-nintendo/hid-nintendo.mk
Due: tests buildroot patches

feat(bios): add bios in ignored files lists
  package/recalbox-romfs2/systems/channelf/system.ini
  package/recalbox-romfs2/systems/colecovision/system.ini
  package/recalbox-romfs2/systems/fbneo/system.ini
  package/recalbox-romfs2/systems/fds/system.ini
  package/recalbox-romfs2/systems/msx1/system.ini
  package/recalbox-romfs2/systems/neogeo/system.ini
  package/recalbox-romfs2/systems/neogeocd/system.ini
  package/recalbox-romfs2/systems/ngp/system.ini
  package/recalbox-romfs2/systems/zxspectrum/system.ini
Due: none

feat(modules): add wii-u gamecube adapter
  Config.in
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-x86_64_defconfig
  package/wii-u-gc-adapter/Config.in
  package/wii-u-gc-adapter/wii-u-gc-adapter-0001-fix-makefile.patch
  package/wii-u-gc-adapter/wii-u-gc-adapter.mk
Due: tests buildroot patches

feat(core): bump hypseus-singe
  package/hypseus/hypseus.mk
  projects/configgen/configgen/generators/daphne/daphneGenerator.py
  projects/configgen/tests/generators/daphneGenerator_test.py
Due: tests configgen

feat(configgen): add specific boot options for daphne games
  projects/configgen/configgen/generators/daphne/daphneGenerator.py
  projects/configgen/tests/generators/daphneGenerator_test.py
Due: tests configgen

feat(core): add standalone vice emulator 3.6.1
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/recalbox-romfs2/scripts/systemholder.py
  package/recalbox-romfs2/systems/c64/system.ini
  package/vice/Config.in
  package/vice/vice.mk
  package/xa65/Config.in
  package/xa65/xa65.mk
  projects/configgen/configgen/generators/vice/viceGenerator.py
  projects/configgen/configgen/settings/iniSettings.py
  projects/configgen/tests/generators/viceGenerator_test.py
  projects/frontend/es-app/src/emulators/EmulatorDescriptor.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemDeserializer.cpp
Due: tests configgen, tests emulationstation

feat(game): add astebros demo on megadrive
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/megadrive/init/roms/Astebros demo (en).zip
  package/recalbox-romfs2/systems/megadrive/init/roms/Astebros demo (fr).zip
  package/recalbox-romfs2/systems/megadrive/init/roms/Demons Of Asteborg & Astebros/Readme.txt
  package/recalbox-romfs2/systems/megadrive/init/roms/Demons Of Asteborg (Demo)/Readme.txt
  package/recalbox-romfs2/systems/megadrive/init/roms/gamelist.xml
  package/recalbox-romfs2/systems/megadrive/init/roms/media/images/Astebros Demo.png
  package/recalbox-romfs2/systems/megadrive/init/roms/media/images/Demons of Asteborg (Demo).png
Due: none

fix: fix armv6 compilation of libatomic
  board/recalbox/rpi1/patches/gcc/0001-armv6-march-for-rpi1.patch
  configs/recalbox-rpi1_defconfig
Due: none

fix(controllers): remove xbox patch and manage trigger axis in frontend
  board/recalbox/kernel_patches/5.10/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.12/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.15/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.4/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.9/linux-xpad-triggers-to-buttons.patch
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
Due: tests emulationstation

fix(frontend): fix a/b & x/y inversion on xbox pads
  projects/frontend/es-core/src/input/AutoMapper.cpp
  projects/frontend/es-core/src/input/AutoMapper.h
Due: tests emulationstation

fix(hardware): fix gpicase mappings
  projects/recalbox-hardware/case/installers/gpi/assets/es_input.fragment.xml
  projects/recalbox-hardware/case/installers/gpi2/assets/es_input.cfg
  projects/recalbox-hardware/case/installers/gpi2w/assets/es_input.fragment.xml
Due: none

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

fix(frontend): cases: fix RaspberryPiTouchDisplay case having a disabled shutdown menu
  projects/frontend/es-core/src/hardware/Case.cpp
  projects/frontend/es-core/src/hardware/Case.h
Due: tests emulationstation

fix(system): rrgbd: fix migration causing bad switch from crt to hdmi
  package/recalbox-crt/S13crt
Due: none

fix(xorg): remove old intel xorg driver
  configs/recalbox-x86_64_defconfig
Due: none

fix(frontend): fix language variables issues
  projects/frontend/es-app/src/guis/menus/GuiMenuBootSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.cpp
  projects/frontend/es-app/src/scraping/scrapers/recalbox/RecalboxEndPoints.h
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperEndPoints.h
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
  projects/frontend/locale/emulationstation2.pot
Due: tests emulationstation

fix(translations): remove the possibility to translate controllers buttons
  projects/frontend/es-app/src/guis/GuiControlHints.cpp
Due: tests emulationstation

chore: rename mali-t62x mali drivers to librelec-libmali
  Config.in
  configs/recalbox-odroidxu4_defconfig
  package/librelec-libmali/0001-add-the-libgbm-wrapper-to-the-build.patch
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: tests buildroot patches

chore: end migration from mali-t62x to librelec-libmali
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: none

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
