Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch

fix(es_input): add 8bitdo pro 2 mode android
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
Due: none

fix(romfs): add missing point above pce file extension
  package/recalbox-romfs2/systems/pcengine/system.ini
  package/recalbox-romfs2/systems/psp/system.ini
Due: none

fix: ultimarc ipac2 support
  CHANGELOG.md
  package/xarcade2jstick/0001-bump-xarcade-and-integrate-keybd-mame-patchs.patch
  package/xarcade2jstick/xarcade2jstick.mk
Due: tests buildroot patches

chore: enable uhid module onboot
  board/recalbox/fsoverlay/etc/modules.conf
  board/recalbox/rpi/fsoverlay/etc/modules.conf
Due: none

feat: add bluetooth autopairing for controllers
  package/recalbox-bluetooth/recalbox-bluetooth.mk
  package/recalbox-bluetooth/src/init/bluetooth
  package/recalbox-bluetooth/src/scripts/autopair
  package/recalbox-bluetooth/src/scripts/btDaemon
  package/recalbox-bluetooth/src/scripts/recalbox-bluetooth-agent
  package/recalbox-bluetooth/src/scripts/simple-agent
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.h
  projects/frontend/es-app/src/mqtt/MqttClient.cpp
  projects/frontend/es-app/src/mqtt/MqttClient.h
Due: tests emulationstation

feat(core): bump lr-opera
  RELEASE-NOTES.md
  package/libretro-opera/libretro-opera.mk
Due: none

feat(core): bump lr-beetle-lynx
  RELEASE-NOTES.md
  package/libretro-beetle-lynx/libretro-beetle-lynx.mk
Due: none

feat(core): bump lr-gpsp
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  package/libretro-gpsp/libretro-gpsp.mk
Due: none

chore: rename version specific package to legacy and production package
  Config.in
  package/nvidia-driver-470-recalbox/nvidia-driver-470-recalbox.mk
  package/nvidia-driver-legacy-recalbox/0001-use-LDFLAGS.patch
  package/nvidia-driver-legacy-recalbox/0002-compat-gcc10.patch
  package/nvidia-driver-legacy-recalbox/Config.in
  package/nvidia-driver-legacy-recalbox/egl.pc
  package/nvidia-driver-legacy-recalbox/gl.pc
  package/nvidia-driver-legacy-recalbox/nvidia-driver-legacy-recalbox.hash
  package/nvidia-driver-legacy-recalbox/nvidia-driver-legacy-recalbox.mk
Due: tests buildroot patches

chore(nvidia): install supported-gpus.json
  package/nvidia-driver-legacy-recalbox/nvidia-driver-legacy-recalbox.mk
Due: none

feat: add nvidia driver version 515
  Config.in
  configs/recalbox-x86_64_defconfig
  package/nvidia-driver-production-recalbox/0001-use-LDFLAGS.patch
  package/nvidia-driver-production-recalbox/Config.in
  package/nvidia-driver-production-recalbox/egl.pc
  package/nvidia-driver-production-recalbox/gl.pc
  package/nvidia-driver-production-recalbox/nvidia-driver-production-recalbox.hash
  package/nvidia-driver-production-recalbox/nvidia-driver-production-recalbox.mk
Due: tests buildroot patches

feat(nvidia): improve nvidia driver installation script
  .gitlab-ci.yml
  projects/recalbox-hardware/videocard/.gitignore
  projects/recalbox-hardware/videocard/Nvidia/NvidiaInstaller.py
  projects/recalbox-hardware/videocard/Nvidia/installer.py
  projects/recalbox-hardware/videocard/Utils/PciUtils.py
  projects/recalbox-hardware/videocard/main.py
  projects/recalbox-hardware/videocard/nvidia-install
  projects/recalbox-hardware/videocard/nvidiacheckcompatibility-470.txt
  projects/recalbox-hardware/videocard/pytest.ini
  projects/recalbox-hardware/videocard/requirements-dev.txt
  projects/recalbox-hardware/videocard/tests/installer_test.py
  projects/recalbox-hardware/videocard/tests/main_test.py
  projects/recalbox-hardware/videocard/tests/nvidiainstaller_test.py
Due: none

feat(frontend): add the possibility to sort by release date
  RELEASE-NOTES.md
  projects/frontend/es-app/src/games/FileSorts.cpp
  projects/frontend/es-app/src/games/FileSorts.h
Due: tests emulationstation

fix(romfs): add .wia for gamecube and wii + gcz for wii
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/gamecube/system.ini
  package/recalbox-romfs2/systems/wii/system.ini
Due: none

fix(frontend): fix system types & device requirement for virtual systems
  projects/frontend/es-app/src/games/IFilter.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/SystemView.cpp
Due: tests emulationstation

fix(romfs): add new fantasy system type
  package/recalbox-romfs2/scripts/installroms.py
  package/recalbox-romfs2/scripts/systemholder.py
  package/recalbox-romfs2/systems/.templates/readme/_leggime.txt
  package/recalbox-romfs2/systems/.templates/readme/_leiame.txt
  package/recalbox-romfs2/systems/.templates/readme/_liesmich.txt
  package/recalbox-romfs2/systems/.templates/readme/_lisezmoi.txt
  package/recalbox-romfs2/systems/.templates/readme/_readme.txt
Due: none

feat(frontend): add $system-x/$system+x meta-variables in theme's xml
  package/recalbox-romfs2/systems/easyrpg/system.ini
  package/recalbox-romfs2/systems/lowresnx/system.ini
  package/recalbox-romfs2/systems/lutro/system.ini
  package/recalbox-romfs2/systems/pico8/system.ini
  package/recalbox-romfs2/systems/scummvm/system.ini
  package/recalbox-romfs2/systems/tic80/system.ini
  package/recalbox-romfs2/systems/uzebox/system.ini
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemDeserializer.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-core/src/themes/ThemeData.cpp
  projects/frontend/es-core/src/themes/ThemeData.h
  projects/frontend/es-core/src/utils/String.cpp
  projects/frontend/es-core/src/utils/String.h
Due: tests emulationstation

feat(core): bump lr-mesen_s
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  package/libretro-mesen-s/0001-bios-paths.patch
  package/libretro-mesen-s/libretro-mesen-s.mk
Due: tests buildroot patches

fix(frontend): fix searching in a single system
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
Due: tests emulationstation

feat(frontend): adjust and optimize fast search using new metadata
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/games/FolderData.cpp
  projects/frontend/es-app/src/games/FolderData.h
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemData.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/ViewController.h
  projects/frontend/es-core/src/utils/storage/Array.h
Due: tests emulationstation

feat(frontend): optimize metadata loading and storage in ram
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/FileData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/GameRandomSelector.h
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataFieldDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/games/classifications/Genres.h
  projects/frontend/es-app/src/guis/GuiMetaDataEd.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-core/src/utils/os/fs/Path.h
Due: tests emulationstation

perf(frontend): optimize main path
  projects/frontend/es-app/src/Upgrade.cpp
  projects/frontend/es-app/src/emulators/EmulatorManager.cpp
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/FileData.h
  projects/frontend/es-app/src/games/FolderData.cpp
  projects/frontend/es-app/src/games/FolderData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/games/adapter/GameAdapter.cpp
  projects/frontend/es-app/src/guis/GuiMetaDataEd.cpp
  projects/frontend/es-app/src/guis/GuiScraperRun.cpp
  projects/frontend/es-app/src/guis/GuiScraperSingleGameRun.cpp
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameDeleteOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameDeleteSelectionOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.cpp
  projects/frontend/es-app/src/scraping/ScraperFactory.cpp
  projects/frontend/es-app/src/scraping/ScraperSeamless.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperApis.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperEngineBase.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-app/src/systems/LightGunDatabase.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/usernotifications/NotificationManager.cpp
  projects/frontend/es-app/src/usernotifications/NotificationManager.h
  projects/frontend/es-app/src/views/ViewController.cpp
  projects/frontend/es-app/src/views/ViewController.h
  projects/frontend/es-app/src/views/gamelist/BasicGameListView.cpp
  projects/frontend/es-app/src/views/gamelist/DetailedGameListView.cpp
  projects/frontend/es-app/src/views/gamelist/ISimpleGameListView.cpp
  projects/frontend/es-core/src/utils/IniFile.cpp
  projects/frontend/es-core/src/utils/IniFile.h
  projects/frontend/es-core/src/utils/os/fs/Path.h
Due: tests emulationstation

feat(frontend): allow to launch a game with a specific softpatching
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/tests/generators/FakeArguments.py
  projects/frontend/es-app/src/emulators/run/GameLinkedData.h
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/emulators/run/PatchData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/GameFilesUtils.h
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSoftpatchingLauncher.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSoftpatchingLauncher.h
  projects/frontend/es-app/src/views/ViewController.cpp
Due: tests configgen, tests emulationstation

feat(controllers): add Nintendo Switch N64 and Megadrive/Genesis controllers definitions
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  package/hid-nintendo/0002-add-more-controllers-support-and-md-n64-snes-mapping.patch
Due: tests buildroot patches

feat(system): rrgbd: fix migration for third party scart adapters
  package/recalbox-crt/S13crt
Due: none

feat(frontend): lowresolution: add xbox icon flavor for 240p theme
  package/recalbox-themes/recalbox-themes.mk
Due: none

fix: better piboy fan management
  projects/wpaf/src/piboy.h
Due: none

feat(theme): update of the theme for the X68000 system
  RELEASE-NOTES.md
Due: none

feat(system): rrgbd: add new games support for 15kHz
  RELEASE-NOTES.md
  package/recalbox-crt/crt-config/arcade_games.txt
Due: none

feat(system): rrgbd: add snes, nes, and amiga new modes and cores
  RELEASE-NOTES.md
  package/recalbox-crt/crt-config/systems.txt
  package/recalbox-romfs2/systems/amiga1200/system.ini
  package/recalbox-romfs2/systems/amiga600/system.ini
  package/recalbox-romfs2/systems/fds/system.ini
  package/recalbox-romfs2/systems/nes/system.ini
  package/recalbox-romfs2/systems/satellaview/system.ini
  package/recalbox-romfs2/systems/snes/system.ini
  package/recalbox-romfs2/systems/sufami/system.ini
  projects/configgen/configgen/generators/libretro/crt/LibretroCoreConfigCRT.py
  projects/configgen/tests/generators/libretro/crt/LibretroCoreConfigCRT_test.py
Due: tests configgen

feat(system): rrgbd: add new core and mode supports
  RELEASE-NOTES.md
  package/recalbox-crt/crt-config/modes.txt
  package/recalbox-crt/crt-config/systems.txt
  package/recalbox-romfs2/systems/atari5200/system.ini
  package/recalbox-romfs2/systems/atari800/system.ini
  package/recalbox-romfs2/systems/msx1/system.ini
  package/recalbox-romfs2/systems/msx2/system.ini
  package/recalbox-romfs2/systems/msxturbor/system.ini
  package/recalbox-romfs2/systems/n64/system.ini
  projects/configgen/configgen/generators/libretro/crt/LibretroCoreConfigCRT.py
  projects/configgen/tests/generators/libretro/crt/LibretroCoreConfigCRT_test.py
Due: tests configgen

feat(game): add pongboy edition recalbox on gb
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/gb/init/roms/Pongboy Recalbox Edition/readme.txt
  package/recalbox-romfs2/systems/gb/init/roms/Pongboy_recalbox_edition.gb
  package/recalbox-romfs2/systems/gb/init/roms/gamelist.xml
  package/recalbox-romfs2/systems/gb/init/roms/media/images/Pong Boy.png
Due: none

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

feat(system): rrgbd: allow to set priority on hdmi when a hdmi cable is plugged
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/etc/init.d/S05hardware
  board/recalbox/fsoverlay/etc/init.d/S13hardware
  board/recalbox/fsoverlay/recalbox/scripts/recalbox-utils.sh
  board/recalbox/fsoverlay/usr/bin/kms-manager
  package/recalbox-crt/S13crt
  package/recalbox-crt/crt-config/recalbox-crt-options.cfg
  package/recalbox-crt/recalbox-crt.mk
  projects/frontend/CMakeLists.txt
  projects/frontend/es-app/src/EmulationStation.h
  projects/frontend/es-app/src/emulators/run/CrtData.h
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.h
  projects/frontend/es-app/src/views/SplashView.cpp
  projects/frontend/es-core/src/CrtConf.h
  projects/frontend/es-core/src/hardware/crt/CrtRGBDual.h
Due: tests emulationstation

feat(system): guncon2: add guncon2 default configuration
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/lightgun.cfg
  package/recalbox-rgb-dual-guncon2/Config.in
  projects/configgen/configgen/generators/libretro/libretroLightGuns.py
Due: tests configgen

feat(system): lightgun: add support for guncon2 in lightgun configuration
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/lightgun.cfg
  projects/configgen/configgen/generators/libretro/libretroLightGuns.py
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
Due: tests configgen, tests emulationstation

feat(system): add guncon2 driver for support on recalbox rgb dual
  Config.in
  board/recalbox/fsoverlay/etc/udev/rules.d/99-joysticks-exotics.rules
  package/recalbox-crt/Config.in
  package/recalbox-rgb-dual-guncon2/Config.in
  package/recalbox-rgb-dual-guncon2/recalbox-rgb-dual-guncon2.mk
Due: none

chore(libretro-uae): bump latest version
  RELEASE-NOTES.md
  package/libretro-uae/libretro-uae-0001-fix-build-glibc.patch
  package/libretro-uae/libretro-uae.mk
  package/recalbox-romfs2/systems/amiga1200/system.ini
  package/recalbox-romfs2/systems/amiga600/system.ini
Due: tests buildroot patches
