Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

chore(moonlight): adapt recalbox moonlight configgen generator for moonlight-qt
  package/moonlight-qt/moonlight-qt.mk
  projects/configgen/configgen/generators/moonlight/moonlightGenerator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/tests/generators/moonlightGenerator_test.py
  projects/configgen/tests/resources/moonlight/gamelist.txt
  projects/configgen/tests/resources/moonlight/moonlight.conf
Due: tests configgen

feat: replace Moonlight embedded with Moonlight QT
  Config.in
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-x86_64_defconfig
  package/moonlight-embedded/Moonlight.sh
  package/moonlight-embedded/moonlight-embedded.mk
  package/moonlight-qt/0001-quit-on-pair.patch
  package/moonlight-qt/Config.in
  package/moonlight-qt/Moonlight.sh
  package/moonlight-qt/moonlight-qt.mk
Due: tests buildroot patches

fix: wip
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  custom/list.hash
  custom/package/sdl/Config.in
  custom/package/sdl/Config.in.patch
  custom/package/sdl/sdl-0000-route-sdl-config-to-staging.patch
  custom/package/sdl/sdl.mk
  custom/package/sdl/sdl.mk.patch
  package/linapple-recalbox/Config.in
  package/recalbox-emulationstation2/Config.in
Due: none

feat(emulator): move from linapple-pie to recalbox version
  Config.in
  Dockerfile
  RELEASE-NOTES.md
  package/linapple-pie/Config.in
  package/linapple-pie/linapple-pie.mk
  package/linapple-recalbox/Config.in
  package/linapple-recalbox/linapple-recalbox.mk
  package/recalbox-romfs2/systems/apple2/system.ini
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/linapple/linappleConfig.py
  projects/configgen/configgen/generators/linapple/linappleGenerator.py
  projects/configgen/configgen/utils/diskCollector.py
  projects/configgen/tests/generators/linappleGenerator_test.py
Due: tests configgen

feat(system): add sdl1.2 compatibility library package
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  custom/list.hash
  custom/package/Config.in
  custom/package/Config.in.patch
  custom/package/ffmpeg/ffmpeg.mk.patch
  custom/package/sdl/Config.in
  custom/package/sdl/Config.in.patch
  custom/package/sdl/sdl-0000-route-sdl-config-to-staging.patch
  custom/package/sdl/sdl.mk
  custom/package/sdl/sdl.mk.patch
  package/linapple-recalbox/Config.in
  package/recalbox-emulationstation2/Config.in
Due: none

fix(build): fix xu4 build
  package/vice/vice.mk
Due: none

fix(build): fix linapple build
  package/recalbox-romfs2/systems/apple2/system.ini
Due: none

fix(build): fix mojozork build
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
Due: none

fix(frontend): fix screenshots delete on autoscrap
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemData.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/views/gamelist/BasicGameListView.cpp
Due: tests emulationstation

fix(build): fix linapple compilation
  package/linapple-recalbox/linapple-recalbox.mk
Due: none

feat(emulator): move from linapple-pie to recalbox version
  Config.in
  Dockerfile
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/linapple-pie/Config.in
  package/linapple-pie/linapple-pie.mk
  package/linapple-recalbox/Config.in
  package/linapple-recalbox/linapple-recalbox.mk
  package/recalbox-romfs2/systems/apple2/system.ini
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/linapple/linappleConfig.py
  projects/configgen/configgen/generators/linapple/linappleGenerator.py
  projects/configgen/configgen/utils/diskCollector.py
  projects/configgen/tests/generators/linappleGenerator_test.py
Due: tests configgen

feat(system): remove buildroot sdl package
  Config.in
  board/recalbox/patches/sdl/0003-pssc-sdl-fbcon.patch
  custom/list.hash
  custom/package/ffmpeg/ffmpeg.mk.patch
  custom/package/sdl/Config.in
  custom/package/sdl/Config.in.patch
  custom/package/sdl/sdl-0000-route-sdl-config-to-staging.patch
  custom/package/sdl/sdl.mk
  custom/package/sdl/sdl.mk.patch
Due: tests buildroot patches

feat(system): add sdl1.2 compatibility library package
  Config.in
  package/sdl/Config.in
  package/sdl/sdl-0000-route-sdl-config-to-staging.patch
  package/sdl/sdl.mk
Due: tests buildroot patches

chore(packages): fix sdl2 dependencies
  package/amiberry33/Config.in
  package/jstest2/Config.in
  package/libretro-picodrive/Config.in
  package/pifba/Config.in
  package/recalbox-emulationstation2/Config.in
  package/vice/Config.in
Due: none

feat(core): add standalone vice emulator 3.6.1
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/recalbox-romfs2/scripts/systemholder.py
  package/recalbox-romfs2/systems/c64/system.ini
  package/vice/Config.in
  package/vice/vice.mk
  package/xa65/Config.in
  package/xa65/xa65.mk
  projects/configgen/configgen/generators/vice/viceGenerator.py
  projects/configgen/configgen/settings/iniSettings.py
  projects/configgen/tests/generators/viceGenerator_test.py
  projects/frontend/es-app/src/emulators/EmulatorDescriptor.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemDeserializer.cpp
Due: tests configgen, tests emulationstation

fix(system): add favori icon for system vg5000 and zmachine
  package/recalbox-romfs2/systems/vg5000/system.ini
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

feat(gpi2w): add RetroFlag GPi2W case support
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/etc/init.d/S92switch
  board/recalbox/rpi/kernel_patches/5.15/0001-feat-add-piboy-dmg-panel-for-kms-driver.patch
  board/recalbox/rpi/kernel_patches/5.15/0003-linux-usb-hid-input-xinmo.patch
  board/recalbox/rpi/kernel_patches/5.15/0004-linux-usb-xinmo20pins-support.patch
  board/recalbox/rpi/kernel_patches/5.15/0005-linux-vc4-dpi-enable-interlace.patch
  board/recalbox/rpi/kernel_patches/5.15/0006-linux-bcm-clk-add-roundup-ability-to-the-clock-divisor.patch
  board/recalbox/rpi/kernel_patches/5.15/0007-feat-add-retroflag-gpi2w-dpi-panel-for-kms-driver.patch
  projects/frontend/es-core/src/hardware/Case.cpp
  projects/frontend/es-core/src/hardware/Case.h
  projects/recalbox-hardware/case/cases.py
  projects/recalbox-hardware/case/installer.py
  projects/recalbox-hardware/case/installers/gpi2w/__init__.py
  projects/recalbox-hardware/case/installers/gpi2w/assets/es_input.fragment.xml
  projects/recalbox-hardware/case/installers/gpi2w/assets/gpi2w.ppm
  projects/recalbox-hardware/case/installers/gpi2w/assets/recalbox-user-config.txt
  projects/recalbox-hardware/case/installers/gpi2w/assets/recalbox_SafeShutdown_gpi.py
  projects/recalbox-hardware/case/installers/gpi2w/install.py
  projects/recalbox-hardware/case/manage.py
Due: tests emulationstation

feat(gpi2w): add RetroFlag GPi2W case support
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/etc/init.d/S92switch
  board/recalbox/rpi/kernel_patches/5.15/0001-feat-add-piboy-dmg-panel-for-kms-driver.patch
  board/recalbox/rpi/kernel_patches/5.15/0003-linux-usb-hid-input-xinmo.patch
  board/recalbox/rpi/kernel_patches/5.15/0004-linux-usb-xinmo20pins-support.patch
  board/recalbox/rpi/kernel_patches/5.15/0005-linux-vc4-dpi-enable-interlace.patch
  board/recalbox/rpi/kernel_patches/5.15/0006-linux-bcm-clk-add-roundup-ability-to-the-clock-divisor.patch
  board/recalbox/rpi/kernel_patches/5.15/0007-feat-add-retroflag-gpi2w-dpi-panel-for-kms-driver.patch
  configs/recalbox-rpizero2_defconfig
  projects/frontend/es-core/src/hardware/Case.cpp
  projects/frontend/es-core/src/hardware/Case.h
  projects/recalbox-hardware/case/cases.py
  projects/recalbox-hardware/case/installer.py
  projects/recalbox-hardware/case/installers/gpi2w/__init__.py
  projects/recalbox-hardware/case/installers/gpi2w/assets/es_input.fragment.xml
  projects/recalbox-hardware/case/installers/gpi2w/assets/gpi2w.ppm
  projects/recalbox-hardware/case/installers/gpi2w/assets/recalbox-user-config.txt
  projects/recalbox-hardware/case/installers/gpi2w/assets/recalbox_SafeShutdown_gpi.py
  projects/recalbox-hardware/case/installers/gpi2w/install.py
  projects/recalbox-hardware/case/manage.py
Due: tests emulationstation

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

fix: no more freeze when changing the profile of the card
  projects/frontend/es-app/src/guis/menus/GuiMenuSound.cpp
  projects/frontend/es-core/src/audio/AudioController.cpp
  projects/frontend/es-core/src/audio/AudioController.h
  projects/frontend/es-core/src/audio/IAudioController.h
  projects/frontend/es-core/src/audio/pulseaudio/PulseAudioController.cpp
  projects/frontend/es-core/src/audio/pulseaudio/PulseAudioController.h
Due: tests emulationstation

chore: end migration from mali-t62x to librelec-libmali
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: none

feat: add support for volume control of rg353x with volumed
  board/recalbox/anbernic/rg353x/fsoverlay/etc/init.d/S06volumed
  package/recalbox-system/Config.in
  package/recalbox-volumed/recalbox-volumed.mk
Due: none

chore: rename mali-t62x mali drivers to librelec-libmali
  Config.in
  configs/recalbox-odroidxu4_defconfig
  package/librelec-libmali/0001-add-the-libgbm-wrapper-to-the-build.patch
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: tests buildroot patches

chore(rg353x): add possiblity to build resource.img linux image
  custom/linux/Config.in
  custom/linux/Config.in.patch
  custom/linux/linux.mk
  custom/linux/linux.mk.patch
Due: none

chore: simplification of adding new board
  package/libretro-flycast/libretro-flycast.mk
  package/libretro-mupen64plus-nx/libretro-mupen64plus-nx.mk
  package/libretro-parallel-n64/0001-add-odroidgo2-board.patch
  package/libretro-parallel-n64/0002-add-gcc10-compat.patch
  package/libretro-parallel-n64/libretro-parallel-n64.mk
  package/libretro-uae4arm/libretro-uae4arm.mk
  package/libretro-vitaquake2/libretro-vitaquake2.mk
  package/oricutron/oricutron.mk
  package/recalbox-initramfs/recalbox-initramfs.mk
  package/retroarch/retroarch.mk
Due: tests buildroot patches

chore(rg353x): add a fix when using GPT partition table type
  board/recalbox/fsoverlay/etc/init.d/S11share
  package/recalbox-system/Config.in
Due: none

chore(rg353x): add specific rg353x GPT partition probe
  board/recalbox/fsoverlay/recalbox/scripts/upgrade/recalbox-squashfs-upgrade.sh
Due: none

chore(upgrade): show first install step right after the image has been correctly checked
  board/recalbox/fsoverlay/etc/init.d/S11upgrade
Due: none

fixup! feat: add anbernic rg353p/v/m family support
  board/recalbox/anbernic/rg353x/genimage.cfg
  board/recalbox/copy-recalbox-archives.sh
Due: none

feat(case): add Raspberry Pi Touch Display case support
  RELEASE-NOTES.md
  projects/frontend/es-core/src/hardware/Case.cpp
  projects/frontend/es-core/src/hardware/Case.h
  projects/recalbox-hardware/case/cases.py
  projects/recalbox-hardware/case/installer.py
  projects/recalbox-hardware/case/installers/raspberrypi-touch-display/__init__.py
  projects/recalbox-hardware/case/installers/raspberrypi-touch-display/install.py
  projects/recalbox-hardware/case/manage.py
Due: tests emulationstation

fix(configgen): rrgbd: fix alsa thread driver selected for all psx cores, now only for swanstation
  projects/configgen/configgen/generators/libretro/crt/LibretroConfigCRT.py
  projects/configgen/tests/generators/libretro/crt/LibretroConfigCRT_test.py
Due: tests configgen

feat(system): rrgbd: add crt configuration for presinstalled ports
  package/recalbox-crt/crt-config/systems.txt
  package/recalbox-romfs2/systems/2048/system.ini
  package/recalbox-romfs2/systems/cavestory/system.ini
  package/recalbox-romfs2/systems/dinothawr/system.ini
  package/recalbox-romfs2/systems/doom/system.ini
  package/recalbox-romfs2/systems/dos/system.ini
  package/recalbox-romfs2/systems/gong/system.ini
  package/recalbox-romfs2/systems/mrboom/system.ini
  package/recalbox-romfs2/systems/quake/system.ini
  package/recalbox-romfs2/systems/quake2/system.ini
  package/recalbox-romfs2/systems/rickdangerous/system.ini
  package/recalbox-romfs2/systems/tic80/system.ini
  package/recalbox-romfs2/systems/wolfenstein3d/system.ini
Due: none

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
