Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

feat(romfs): add super game boy directory to auto config games for this support
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/gb/upgrade/roms/.core.cfg
  package/recalbox-romfs2/systems/gb/upgrade/roms/supergameboy/.core.cfg
  package/recalbox-romfs2/systems/gb/upgrade/roms/supergameboy/.recalbox.conf
  package/recalbox-romfs2/systems/gb/upgrade/roms/supergameboy/.retroarch.cfg
  package/recalbox-romfs2/systems/gbc/upgrade/roms/.core.cfg
  package/recalbox-romfs2/systems/gbc/upgrade/roms/supergameboy/.core.cfg
  package/recalbox-romfs2/systems/gbc/upgrade/roms/supergameboy/.recalbox.conf
  package/recalbox-romfs2/systems/gbc/upgrade/roms/supergameboy/.retroarch.cfg
Due: none

feat: update kernel firmware package to 20230210
  package/kernelfirmwares/kernelfirmwares.mk
Due: none

feat(system): bump fbneo to aad581f27fbc0777dfd24be7536f8fd6facf857b
  package/libretro-fbneo/libretro-fbneo.mk
Due: none

feat(frontend): menu: add recommended video in scrap video menu
  RELEASE-NOTES.md
  projects/frontend/es-app/src/guis/menus/GuiMenuScreenScraperOptions.cpp
Due: tests emulationstation

perf(frontend): move auto-hashing into its own low-priority thread
  projects/frontend/es-app/src/games/FolderData.h
  projects/frontend/es-app/src/games/RootFolderData.h
  projects/frontend/es-app/src/systems/SystemData.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemHasher.cpp
  projects/frontend/es-app/src/systems/SystemHasher.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
Due: tests emulationstation

feat(emulators): add crt curved shader-set support
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/configs/shadersets/crtcurved.cfg
  projects/configgen/configgen/Emulator.py
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
Due: tests configgen, tests emulationstation

feat(frontend): add wizard to disable smooth and enable integer scale when enabling shaders
  RELEASE-NOTES.md
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.h
Due: tests emulationstation

fix(system): manual installation of case, even automatic ones
  RELEASE-NOTES.md
  projects/recalbox-hardware/case/manage.py
Due: none

feat(system): gpicase2w: add specific image for gpicase2w + rpizero support
  .gitlab-ci.yml
  RELEASE-NOTES.md
  package/recalbox-initramfs/init
  package/recalbox-system/rpi1/pre-upgrade.sh
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
Due: tests emulationstation

feat(system): remove every hdmi_force_hotplug options for rpis
  package/recalbox-crt/S13crt
  package/recalbox-system/config.txt
  package/recalbox-system/rpi1/pre-upgrade.sh
  package/recalbox-system/rpi3/pre-upgrade.sh
  package/recalbox-system/rpi4/pre-upgrade.sh
  package/recalbox-system/rpi4_64/pre-upgrade.sh
  package/recalbox-system/rpizero2legacy/pre-upgrade.sh
  projects/recalbox-hardware/case/installers/gpi2/assets/recalbox-user-config.txt
  projects/recalbox-hardware/case/installers/piboy/assets/recalbox-user-config.txt
Due: none

feat(system): upgrade: add migration system in S14migrate
  board/recalbox/fsoverlay/etc/init.d/S14migrate
Due: none

feat: bump raspberrypi kernel to 5.15.92
  board/recalbox/rpi/kernel_patches/5.15/0001-feat-add-piboy-dmg-panel-for-kms-driver.patch
  board/recalbox/rpi/kernel_patches/5.15/0002-feat-add-auo-a030vvn01-dpi-panel-for-kms-driver.patch
  board/recalbox/rpi/kernel_patches/5.15/0003-linux-usb-hid-input-xinmo.patch
  board/recalbox/rpi/kernel_patches/5.15/0004-linux-usb-xinmo20pins-support.patch
  board/recalbox/rpi/kernel_patches/5.15/0005-linux-vc4-dpi-enable-interlace.patch
  board/recalbox/rpi/kernel_patches/5.15/0006-linux-bcm-clk-add-roundup-ability-to-the-clock-divisor.patch
  board/recalbox/rpi/kernel_patches/5.15/0007-feat-add-retroflag-gpi2w-dpi-panel-for-kms-driver.patch
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  custom/package/rpi-firmware/rpi-firmware.hash
  custom/package/rpi-firmware/rpi-firmware.hash.patch
  custom/package/rpi-firmware/rpi-firmware.mk
  custom/package/rpi-firmware/rpi-firmware.mk.patch
Due: none

feat(infra): update rpi imager descriptions
  scripts/release/templates/rpi_imager/os_list_imagingutility_recalbox.json
Due: none

fix(frontend): fix release events for joysticks & hats
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
  projects/frontend/es-core/src/input/InputCompactEvent.cpp
  projects/frontend/es-core/src/input/InputCompactEvent.h
  projects/frontend/es-core/src/input/InputDevice.cpp
  projects/frontend/es-core/src/input/InputDevice.h
  projects/frontend/es-core/src/input/InputEvent.cpp
  projects/frontend/es-core/src/input/InputEvent.h
  projects/frontend/es-core/src/input/InputManager.cpp
  projects/frontend/es-core/src/input/InputManager.h
  projects/frontend/es-core/src/utils/String.h
Due: tests emulationstation

fix(romfs): remove .zip extension for z-machine
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

feat(frontend): add fullscreen aspect ratio selection in Game Config
  projects/configgen/configgen/generators/libretro/libretroRetroarch.py
  projects/frontend/es-app/src/LibretroRatio.cpp
Due: tests configgen, tests emulationstation

feat(system): add composite support in kms-enabler
  board/recalbox/fsoverlay/usr/bin/kms-manager
Due: none

feat(frontend): add the possibility to force 4/3 ratio for frontend
  projects/frontend/es-core/src/RecalboxConf.h
  projects/frontend/es-core/src/Renderer.cpp
Due: tests emulationstation

feat(frontend): limit siblings resutls on alias full match and on all systems
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/guis/GuiSearch.h
  projects/frontend/es-app/src/guis/SearchForceOptions.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/usernotifications/NotificationManager.cpp
Due: tests emulationstation

feat(frontend): add new alias metadata
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/FileData.h
  projects/frontend/es-app/src/games/FileSorts.cpp
  projects/frontend/es-app/src/games/FolderData.cpp
  projects/frontend/es-app/src/games/FolderData.h
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/guis/GuiSearch.h
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/SearchForceOptions.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.h
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.h
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemData.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/gamelist/BasicGameListView.cpp
  projects/frontend/es-core/src/RecalboxConf.cpp
  projects/frontend/es-core/src/RecalboxConf.h
  projects/frontend/es-core/src/components/GameClipContainer.cpp
Due: tests emulationstation

feat(core): bump hypseus-singe
  package/hypseus/hypseus.mk
  projects/configgen/configgen/generators/daphne/daphneGenerator.py
  projects/configgen/tests/generators/daphneGenerator_test.py
Due: tests configgen

feat(frontend): allow to run a game directly from savestate slot
  package/retroarch/retroarch-0013-update.selected.slot.patch
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/configgen/generators/libretro/libretroRetroarch.py
  projects/configgen/tests/generators/FakeArguments.py
  projects/frontend/es-app/src/emulators/EmulatorData.h
  projects/frontend/es-app/src/emulators/run/GameLinkedData.h
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/emulators/run/SaveStateData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/GameFilesUtils.h
  projects/frontend/es-app/src/games/SaveState.cpp
  projects/frontend/es-app/src/games/SaveState.h
  projects/frontend/es-app/src/guis/GuiSaveStates.cpp
  projects/frontend/es-app/src/guis/GuiSaveStates.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.h
  projects/frontend/es-app/src/views/ViewController.cpp
  projects/frontend/es-app/src/views/ViewController.h
  projects/frontend/es-core/src/RecalboxConf.h
Due: tests configgen, tests emulationstation, tests buildroot patches

chore(rg353x): add a fix when using GPT partition table type
  board/recalbox/fsoverlay/etc/init.d/S11share
Due: none

chore: simplification of adding new board
  package/libretro-flycast/libretro-flycast.mk
  package/libretro-mupen64plus-nx/libretro-mupen64plus-nx.mk
  package/libretro-parallel-n64/0001-add-odroidgo2-board.patch
  package/libretro-parallel-n64/0002-add-gcc10-compat.patch
  package/libretro-parallel-n64/libretro-parallel-n64.mk
  package/libretro-uae4arm/libretro-uae4arm.mk
  package/libretro-vitaquake2/libretro-vitaquake2.mk
  package/oricutron/oricutron.mk
  package/recalbox-initramfs/recalbox-initramfs.mk
  package/retroarch/retroarch.mk
Due: tests buildroot patches

chore: rename mali-t62x mali drivers to librelec-libmali
  Config.in
  configs/recalbox-odroidxu4_defconfig
  package/librelec-libmali/0001-add-the-libgbm-wrapper-to-the-build.patch
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: tests buildroot patches

feat: add ES support for rg353x and rg503 family boards
  board/recalbox/fsoverlay/etc/udev/rules.d/91-pulseaudio.rules
  board/recalbox/fsoverlay/usr/share/pulseaudio/alsa-mixer/profile-sets/rk817.conf
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/MainRunner.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSystem.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.h
  projects/frontend/es-app/src/scraping/scrapers/recalbox/RecalboxEndPoints.cpp
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/ResolutionAdapter.cpp
  projects/frontend/es-core/src/audio/pulseaudio/PulseAudioController.cpp
  projects/frontend/es-core/src/hardware/Board.cpp
  projects/frontend/es-core/src/hardware/BoardType.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XVolumeReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XVolumeReader.h
  projects/frontend/es-core/src/hardware/messaging/HardwareMessageSender.cpp
  projects/frontend/es-core/src/hardware/messaging/IHardwareNotifications.h
  projects/frontend/es-core/src/hardware/messaging/MessageTypes.h
Due: tests emulationstation

feat: add possibility to upgrade bootloader on upgrade
  board/recalbox/anbernic/rg353x/genimage.cfg
  board/recalbox/copy-recalbox-archives.sh
  package/recalbox-initramfs/busybox.config
  package/recalbox-initramfs/init
Due: none

chore(upgrade): show first install step right after the image has been correctly checked
  board/recalbox/fsoverlay/etc/init.d/S11upgrade
Due: none

chore: end migration from mali-t62x to librelec-libmali
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: none

chore(rg353x): add specific rg353x GPT partition probe
  board/recalbox/fsoverlay/recalbox/scripts/upgrade/recalbox-squashfs-upgrade.sh
Due: none

feat(core): add core lr-mojozork for zmachine
  Config.in
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-mojozork/Config.in
  package/libretro-mojozork/libretro-mojozork.mk
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

feat(system): add guncon2 driver for support on recalbox rgb dual
  Config.in
  board/recalbox/fsoverlay/etc/udev/rules.d/99-joysticks-exotics.rules
  package/recalbox-crt/Config.in
  package/recalbox-rgb-dual-guncon2/Config.in
  package/recalbox-rgb-dual-guncon2/recalbox-rgb-dual-guncon2.mk
Due: none

feat(system): lightgun: add support for guncon2 in lightgun configuration
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/lightgun.cfg
  package/recalbox-rgb-dual-guncon2/Config.in
  projects/configgen/configgen/generators/libretro/libretroLightGuns.py
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
Due: tests configgen, tests emulationstation

feat(joystick): bump hid-nintendo
  package/hid-nintendo/hid-nintendo.mk
Due: none

feat(joystick): bump joycond
  package/joycond/joycond.mk
Due: none

feat: replace Moonlight embedded with Moonlight QT
  Config.in
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-x86_64_defconfig
  package/moonlight-embedded/Moonlight.sh
  package/moonlight-embedded/moonlight-embedded.mk
  package/moonlight-qt/0001-quit-on-pair.patch
  package/moonlight-qt/Config.in
  package/moonlight-qt/Moonlight.sh
  package/moonlight-qt/moonlight-qt.mk
Due: tests buildroot patches

chore(moonlight): adapt recalbox moonlight configgen generator for moonlight-qt
  package/moonlight-qt/moonlight-qt.mk
  projects/configgen/configgen/generators/moonlight/moonlightGenerator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/tests/generators/moonlightGenerator_test.py
  projects/configgen/tests/resources/moonlight/gamelist.txt
  projects/configgen/tests/resources/moonlight/moonlight.conf
Due: tests configgen

feat(cores): add lr-dirksimple for daphne
  Config.in
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-dirksimple/Config.in
  package/libretro-dirksimple/libretro-dirksimple.mk
  package/recalbox-romfs2/systems/daphne/system.ini
Due: none

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
