Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

feat(system): rrgbd: allow to set priority on hdmi when a hdmi cable is plugged
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/etc/init.d/S05hardware
  board/recalbox/fsoverlay/etc/init.d/S13hardware
  board/recalbox/fsoverlay/recalbox/scripts/recalbox-utils.sh
  board/recalbox/fsoverlay/usr/bin/es
  board/recalbox/fsoverlay/usr/bin/kms-manager
  package/recalbox-crt/S13crt
  package/recalbox-crt/crt-config/recalbox-crt-options.cfg
  package/recalbox-crt/recalbox-crt.mk
  projects/frontend/CMakeLists.txt
  projects/frontend/es-app/src/EmulationStation.h
  projects/frontend/es-app/src/emulators/run/CrtData.h
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.h
  projects/frontend/es-app/src/views/SplashView.cpp
  projects/frontend/es-core/src/CrtConf.h
  projects/frontend/es-core/src/hardware/crt/CrtRGBDual.h
Due: tests emulationstation

feat(frontend): rrgbd: check if crt adapter is activated when customizong menus
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/emulators/run/CrtData.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuThemeOptions.cpp
  projects/frontend/es-core/src/guis/GuiInfoPopupBase.cpp
Due: tests emulationstation

feat(system): lightgun: add support for guncon2 in lightgun configuration
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/lightgun.cfg
  package/recalbox-rgb-dual-guncon2/Config.in
  projects/configgen/configgen/generators/libretro/libretroLightGuns.py
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
Due: tests configgen, tests emulationstation

feat(system): add guncon2 driver for support on recalbox rgb dual
  Config.in
  board/recalbox/fsoverlay/etc/udev/rules.d/99-joysticks-exotics.rules
  package/recalbox-crt/Config.in
  package/recalbox-rgb-dual-guncon2/Config.in
  package/recalbox-rgb-dual-guncon2/recalbox-rgb-dual-guncon2.mk
Due: none

chore(libretro-uae): bump latest version
  RELEASE-NOTES.md
  package/libretro-uae/libretro-uae-0001-fix-build-glibc.patch
  package/libretro-uae/libretro-uae.mk
  package/recalbox-romfs2/systems/amiga1200/system.ini
  package/recalbox-romfs2/systems/amiga600/system.ini
Due: tests buildroot patches

feat(emulator): add rb5000 - phillips vg5000 emulator
  .gitlab-ci.yml
  Config.in
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/rb5000/Config.in
  package/rb5000/rb5000.mk
  package/recalbox-romfs2/systems/vg5000/init/roms/.keep
  package/recalbox-romfs2/systems/vg5000/system.ini
  package/recalbox-romfs2/systems/vg5000/upgrade/roms/.readme.placeholder
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/rb5000/__init__.py
  projects/configgen/configgen/generators/rb5000/rb5000Generator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/setup.py
  scripts/linux/recaldocker.sh
Due: tests configgen

feat(frontend): resolutions: resolution selection enhancement
  RELEASE-NOTES.md
  projects/frontend/CMakeLists.txt
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/ResolutionAdapter.cpp
  projects/frontend/es-core/src/ResolutionAdapter.h
Due: tests emulationstation

feat(configgen): use command line resolution to calculate the disaply ratio
  projects/configgen/configgen/generators/libretro/libretroCores.py
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/configgen/utils/resolutions.py
  projects/configgen/configgen/utils/videoMode.py
Due: tests configgen

feat(frontend): resolutions: fix first resolution bad display
  projects/frontend/es-app/src/guis/menus/GuiMenuResolutionByEmulator.cpp
Due: tests emulationstation

feat: add kodi advanced settings generator
  projects/configgen/configgen/generators/kodi/kodiConfig.py
  projects/configgen/configgen/generators/kodi/kodiGenerator.py
  projects/configgen/configgen/recalboxFiles.py
Due: tests configgen

fix(cores): change lr-cdi2015 cfg path to be able to apply reset factory on it
  package/libretro-cdi2015/libretro-cdi2015-001-recalbox-path.patch
  package/recalbox-system/rpi4_64/pre-upgrade.sh
  package/recalbox-system/x86_64/pre-upgrade.sh
Due: tests buildroot patches

fix: better piboy fan management
  projects/wpaf/src/piboy.h
Due: none

feat(system): bump libretro/atari800 to 940332
  package/libretro-atari800/libretro-atari800.mk
Due: none

feat(emulator): add z-machine engine
  package/frotz-recalbox/0000-sdl2-c-options.patch
  package/frotz-recalbox/Config.in
  package/frotz-recalbox/frotz-recalbox.mk
Due: tests buildroot patches

feat(emulator): add romfs and configgen for z-machine engine
  Config.in
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/frotz-recalbox/0000-sdl2-c-options.patch
  package/frotz-recalbox/0001-configure-saves-and-quit.patch
  package/frotz-recalbox/Config.in
  package/frotz-recalbox/frotz-recalbox.mk
  package/recalbox-romfs2/systems/zmachine/init/roms/.keep
  package/recalbox-romfs2/systems/zmachine/system.ini
  package/recalbox-romfs2/systems/zmachine/upgrade/roms/.p2k.cfg
  package/recalbox-romfs2/systems/zmachine/upgrade/roms/.readme.placeholder
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/frotz/frotzGenerator.py
  projects/configgen/configgen/recalboxFiles.py
Due: tests configgen, tests buildroot patches

feat(system): rrgbd: add new games support for 15kHz
  RELEASE-NOTES.md
  package/recalbox-crt/crt-config/arcade_games.txt
Due: none

feat(system): rrgbd: add new core and mode supports
  RELEASE-NOTES.md
  package/recalbox-crt/crt-config/modes.txt
  package/recalbox-crt/crt-config/systems.txt
  package/recalbox-romfs2/systems/atari5200/system.ini
  package/recalbox-romfs2/systems/atari800/system.ini
  package/recalbox-romfs2/systems/msx1/system.ini
  package/recalbox-romfs2/systems/msx2/system.ini
  package/recalbox-romfs2/systems/msxturbor/system.ini
  package/recalbox-romfs2/systems/n64/system.ini
  projects/configgen/configgen/generators/libretro/crt/LibretroCoreConfigCRT.py
  projects/configgen/tests/generators/libretro/crt/LibretroCoreConfigCRT_test.py
Due: tests configgen

feat(system): rrgbd: add snes, nes, and amiga new modes and cores
  RELEASE-NOTES.md
  package/recalbox-crt/crt-config/systems.txt
  package/recalbox-romfs2/systems/amiga1200/system.ini
  package/recalbox-romfs2/systems/amiga600/system.ini
  package/recalbox-romfs2/systems/fds/system.ini
  package/recalbox-romfs2/systems/nes/system.ini
  package/recalbox-romfs2/systems/satellaview/system.ini
  package/recalbox-romfs2/systems/snes/system.ini
  package/recalbox-romfs2/systems/sufami/system.ini
  projects/configgen/configgen/generators/libretro/crt/LibretroCoreConfigCRT.py
  projects/configgen/tests/generators/libretro/crt/LibretroCoreConfigCRT_test.py
Due: tests configgen

fix(frontend): fix cancel button displayed on controller configuration
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
  projects/frontend/es-core/src/guis/GuiInputConfig.h
  projects/frontend/locale/emulationstation2.pot
Due: tests emulationstation

feat(joystick): bump hid-nintendo
  package/hid-nintendo/hid-nintendo.mk
Due: none

feat(joystick): bump joycond
  package/joycond/joycond.mk
Due: none

fix(dolphin): make hotkeys to work again on dolphin for xbox recognized controllers
  RELEASE-NOTES.md
  projects/configgen/configgen/generators/dolphin/dolphinControllers.py
Due: tests configgen

chore(libretro-fbneo): bump latest version
  RELEASE-NOTES.md
  package/libretro-fbneo/libretro-fbneo.mk
Due: none

chore: remove -fno-exceptions from CXXFLAGS
  package/libretro-fbneo/0001-add-odroidgo2-platform.patch
Due: tests buildroot patches

feat(core): add lr-minivmac core
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-minivmac/libretro-minivmac-0000-set-bios-path.patch
  package/libretro-minivmac/libretro-minivmac.mk
  package/recalbox-romfs2/systems/macintosh/system.ini
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/configgen/recalboxFiles.py
Due: tests configgen, tests buildroot patches

fix(es_input): add 8bitdo pro 2 mode android
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
Due: none

fix(romfs): add missing point above pce file extension
  package/recalbox-romfs2/systems/pcengine/system.ini
  package/recalbox-romfs2/systems/psp/system.ini
Due: none

fix: ultimarc ipac2 support
  CHANGELOG.md
  package/xarcade2jstick/0001-bump-xarcade-and-integrate-keybd-mame-patchs.patch
  package/xarcade2jstick/xarcade2jstick.mk
Due: tests buildroot patches

chore: fix release notes
  CHANGELOG.md
  RELEASE-NOTES.md
Due: none

feat: add bluetooth autopairing for controllers
  package/recalbox-bluetooth/recalbox-bluetooth.mk
  package/recalbox-bluetooth/src/init/bluetooth
  package/recalbox-bluetooth/src/scripts/autopair
  package/recalbox-bluetooth/src/scripts/btDaemon
  package/recalbox-bluetooth/src/scripts/recalbox-bluetooth-agent
  package/recalbox-bluetooth/src/scripts/simple-agent
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.h
  projects/frontend/es-app/src/mqtt/MqttClient.cpp
  projects/frontend/es-app/src/mqtt/MqttClient.h
Due: tests emulationstation

chore: enable uhid module onboot
  board/recalbox/fsoverlay/etc/modules.conf
  board/recalbox/rpi/fsoverlay/etc/modules.conf
Due: none

feat(core): bump lr-opera
  RELEASE-NOTES.md
  package/libretro-opera/libretro-opera.mk
Due: none

feat(core): bump lr-beetle-lynx
  RELEASE-NOTES.md
  package/libretro-beetle-lynx/libretro-beetle-lynx.mk
Due: none

feat(core): bump lr-gpsp
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  package/libretro-gpsp/libretro-gpsp.mk
Due: none

feat: add nvidia driver version 515
  Config.in
  configs/recalbox-x86_64_defconfig
  package/nvidia-driver-production-recalbox/0001-use-LDFLAGS.patch
  package/nvidia-driver-production-recalbox/Config.in
  package/nvidia-driver-production-recalbox/egl.pc
  package/nvidia-driver-production-recalbox/gl.pc
  package/nvidia-driver-production-recalbox/nvidia-driver-production-recalbox.hash
  package/nvidia-driver-production-recalbox/nvidia-driver-production-recalbox.mk
Due: tests buildroot patches

chore: rename version specific package to legacy and production package
  Config.in
  package/nvidia-driver-470-recalbox/nvidia-driver-470-recalbox.mk
  package/nvidia-driver-legacy-recalbox/0001-use-LDFLAGS.patch
  package/nvidia-driver-legacy-recalbox/0002-compat-gcc10.patch
  package/nvidia-driver-legacy-recalbox/Config.in
  package/nvidia-driver-legacy-recalbox/egl.pc
  package/nvidia-driver-legacy-recalbox/gl.pc
  package/nvidia-driver-legacy-recalbox/nvidia-driver-legacy-recalbox.hash
  package/nvidia-driver-legacy-recalbox/nvidia-driver-legacy-recalbox.mk
Due: tests buildroot patches

chore(nvidia): install supported-gpus.json
  package/nvidia-driver-legacy-recalbox/nvidia-driver-legacy-recalbox.mk
Due: none

feat(nvidia): improve nvidia driver installation script
  .gitlab-ci.yml
  projects/recalbox-hardware/videocard/.gitignore
  projects/recalbox-hardware/videocard/Nvidia/NvidiaInstaller.py
  projects/recalbox-hardware/videocard/Nvidia/installer.py
  projects/recalbox-hardware/videocard/Utils/PciUtils.py
  projects/recalbox-hardware/videocard/main.py
  projects/recalbox-hardware/videocard/nvidia-install
  projects/recalbox-hardware/videocard/nvidiacheckcompatibility-470.txt
  projects/recalbox-hardware/videocard/pytest.ini
  projects/recalbox-hardware/videocard/requirements-dev.txt
  projects/recalbox-hardware/videocard/tests/installer_test.py
  projects/recalbox-hardware/videocard/tests/main_test.py
  projects/recalbox-hardware/videocard/tests/nvidiainstaller_test.py
Due: none

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
