Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

feat: add nvidia driver version 515
  Config.in
  configs/recalbox-x86_64_defconfig
  package/nvidia-driver-production-recalbox/0001-use-LDFLAGS.patch
  package/nvidia-driver-production-recalbox/Config.in
  package/nvidia-driver-production-recalbox/egl.pc
  package/nvidia-driver-production-recalbox/gl.pc
  package/nvidia-driver-production-recalbox/nvidia-driver-production-recalbox.hash
  package/nvidia-driver-production-recalbox/nvidia-driver-production-recalbox.mk
Due: tests buildroot patches

feat(nvidia): improve nvidia driver installation script
  .gitlab-ci.yml
  projects/recalbox-hardware/videocard/.gitignore
  projects/recalbox-hardware/videocard/Nvidia/NvidiaInstaller.py
  projects/recalbox-hardware/videocard/Nvidia/installer.py
  projects/recalbox-hardware/videocard/Utils/PciUtils.py
  projects/recalbox-hardware/videocard/main.py
  projects/recalbox-hardware/videocard/nvidia-install
  projects/recalbox-hardware/videocard/nvidiacheckcompatibility-470.txt
  projects/recalbox-hardware/videocard/pytest.ini
  projects/recalbox-hardware/videocard/requirements-dev.txt
  projects/recalbox-hardware/videocard/tests/installer_test.py
  projects/recalbox-hardware/videocard/tests/main_test.py
  projects/recalbox-hardware/videocard/tests/nvidiainstaller_test.py
Due: none

chore: add nvidia-xconfig utility
  package/nvidia-driver-legacy-recalbox/nvidia-driver-legacy-recalbox.mk
  package/nvidia-driver-production-recalbox/nvidia-driver-production-recalbox.mk
  projects/recalbox-hardware/videocard/Nvidia/NvidiaInstaller.py
Due: none

fix: make xrandr calls synchronous on startup
  board/recalbox/x86/fsoverlay/etc/X11/xinit/xinitrc
Due: none

feat: enable nvidia prime offloading
  RELEASE-NOTES.md
  projects/recalbox-hardware/videocard/Nvidia/installer.py
Due: none

fix(frontend): fix system types & device requirement for virtual systems
  projects/frontend/es-app/src/games/IFilter.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/SystemView.cpp
Due: tests emulationstation

feat(frontend): add $system-x/$system+x meta-variables in theme's xml
  package/recalbox-romfs2/systems/easyrpg/system.ini
  package/recalbox-romfs2/systems/lowresnx/system.ini
  package/recalbox-romfs2/systems/lutro/system.ini
  package/recalbox-romfs2/systems/pico8/system.ini
  package/recalbox-romfs2/systems/scummvm/system.ini
  package/recalbox-romfs2/systems/tic80/system.ini
  package/recalbox-romfs2/systems/uzebox/system.ini
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemDeserializer.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-core/src/themes/ThemeData.cpp
  projects/frontend/es-core/src/themes/ThemeData.h
  projects/frontend/es-core/src/utils/String.cpp
  projects/frontend/es-core/src/utils/String.h
Due: tests emulationstation

fix(romfs): add new fantasy system type
  package/recalbox-romfs2/scripts/installroms.py
  package/recalbox-romfs2/scripts/systemholder.py
  package/recalbox-romfs2/systems/.templates/readme/_leggime.txt
  package/recalbox-romfs2/systems/.templates/readme/_leiame.txt
  package/recalbox-romfs2/systems/.templates/readme/_liesmich.txt
  package/recalbox-romfs2/systems/.templates/readme/_lisezmoi.txt
  package/recalbox-romfs2/systems/.templates/readme/_readme.txt
Due: none

feat(core): bump lr-mesen_s
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  package/libretro-mesen-s/0001-bios-paths.patch
  package/libretro-mesen-s/libretro-mesen-s.mk
Due: tests buildroot patches

chore(libretro-dosbox-pure): bump latest version
  RELEASE-NOTES.md
  package/libretro-dosbox-pure/libretro-dosbox-pure-0000-fix-build.patch
  package/libretro-dosbox-pure/libretro-dosbox-pure.mk
Due: tests buildroot patches

feat(frontend): optimize metadata loading and storage in ram
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/FileData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/GameRandomSelector.h
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataFieldDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/games/classifications/Genres.h
  projects/frontend/es-app/src/guis/GuiMetaDataEd.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-core/src/utils/os/fs/Path.h
Due: tests emulationstation

fix(frontend): fix nes core softpatching
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/nes/system.ini
  package/recalbox-romfs2/systems/snes/system.ini
Due: none

fix(frontend): global search is no longer crashing
  projects/frontend/es-app/src/systems/SystemManager.cpp
Due: tests emulationstation

fix(frontend): fix searching in a single system
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
Due: tests emulationstation

feat(frontend): adjust and optimize fast search using new metadata
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/games/FolderData.cpp
  projects/frontend/es-app/src/games/FolderData.h
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemData.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/ViewController.h
  projects/frontend/es-core/src/utils/storage/Array.h
Due: tests emulationstation

feat(frontend): allow to launch a game with a specific softpatching
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/tests/generators/FakeArguments.py
  projects/frontend/es-app/src/emulators/run/GameLinkedData.h
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/emulators/run/PatchData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/GameFilesUtils.h
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSoftpatchingLauncher.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSoftpatchingLauncher.h
  projects/frontend/es-app/src/views/ViewController.cpp
Due: tests configgen, tests emulationstation

fix(frontend): fix gamelist.xml being saved even if nothing changes
  projects/frontend/es-app/src/components/ScraperSearchComponent.cpp
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/views/crt/CrtView.cpp
Due: tests emulationstation

perf(frontend): optimize main path
  projects/frontend/es-app/src/Upgrade.cpp
  projects/frontend/es-app/src/emulators/EmulatorManager.cpp
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/FileData.h
  projects/frontend/es-app/src/games/FolderData.cpp
  projects/frontend/es-app/src/games/FolderData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/games/adapter/GameAdapter.cpp
  projects/frontend/es-app/src/guis/GuiMetaDataEd.cpp
  projects/frontend/es-app/src/guis/GuiScraperRun.cpp
  projects/frontend/es-app/src/guis/GuiScraperSingleGameRun.cpp
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameDeleteOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameDeleteSelectionOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.cpp
  projects/frontend/es-app/src/scraping/ScraperFactory.cpp
  projects/frontend/es-app/src/scraping/ScraperSeamless.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperApis.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperEngineBase.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-app/src/systems/LightGunDatabase.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/usernotifications/NotificationManager.cpp
  projects/frontend/es-app/src/usernotifications/NotificationManager.h
  projects/frontend/es-app/src/views/ViewController.cpp
  projects/frontend/es-app/src/views/ViewController.h
  projects/frontend/es-app/src/views/gamelist/BasicGameListView.cpp
  projects/frontend/es-app/src/views/gamelist/DetailedGameListView.cpp
  projects/frontend/es-app/src/views/gamelist/ISimpleGameListView.cpp
  projects/frontend/es-core/src/utils/IniFile.cpp
  projects/frontend/es-core/src/utils/IniFile.h
  projects/frontend/es-core/src/utils/os/fs/Path.h
Due: tests emulationstation

feat(controllers): add Nintendo Switch N64 and Megadrive/Genesis controllers definitions
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  package/hid-nintendo/0002-add-more-controllers-support-and-md-n64-snes-mapping.patch
Due: tests buildroot patches

chore(moonlight): adapt recalbox moonlight configgen generator for moonlight-qt
  package/moonlight-qt/moonlight-qt.mk
  projects/configgen/configgen/generators/moonlight/moonlightGenerator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/tests/generators/moonlightGenerator_test.py
  projects/configgen/tests/resources/moonlight/gamelist.txt
  projects/configgen/tests/resources/moonlight/moonlight.conf
Due: tests configgen

feat: replace Moonlight embedded with Moonlight QT
  Config.in
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-x86_64_defconfig
  package/moonlight-embedded/Moonlight.sh
  package/moonlight-embedded/moonlight-embedded.mk
  package/moonlight-qt/0001-quit-on-pair.patch
  package/moonlight-qt/Config.in
  package/moonlight-qt/Moonlight.sh
  package/moonlight-qt/moonlight-qt.mk
Due: tests buildroot patches

fix: make cross compilation works on armv6
  custom/list.hash
  custom/package/x265/x265.mk
  custom/package/x265/x265.mk.patch
Due: none

fixup! fix: make cross compilation works on arm and aarch64
  custom/package/x265/x265.mk
  custom/package/x265/x265.mk.patch
Due: none

feat(core): add lr-minivmac core
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-minivmac/libretro-minivmac-0000-set-bios-path.patch
  package/libretro-minivmac/libretro-minivmac.mk
  package/recalbox-romfs2/systems/macintosh/system.ini
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/configgen/recalboxFiles.py
Due: tests configgen, tests buildroot patches

feat(core): bump lr-gpsp
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  package/libretro-gpsp/libretro-gpsp.mk
Due: none

feat(core): bump lr-opera
  RELEASE-NOTES.md
  package/libretro-opera/libretro-opera.mk
Due: none

fix: avoid resolution override on device supporting tvservice
  projects/configgen/configgen/Emulator.py
Due: tests configgen

fix: fix dolphin dependencies
  package/dolphin-emu/Config.in
Due: none

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

fix(kodi): set default resolution to 720p on rpizero2
  package/recalbox-system/rpizero2/recalbox.conf
Due: none

fix: fix armv6 compilation of libatomic
  board/recalbox/rpi1/patches/gcc/0001-armv6-march-for-rpi1.patch
  configs/recalbox-rpi1_defconfig
Due: none

feat(standalone): bump amiberry to v5.4
  RELEASE-NOTES.md
  package/amiberry/amiberry-0000-resources-path.patch
  package/amiberry/amiberry-0001-libcapsimage-path.patch
  package/amiberry/amiberry-0002-recalbox-path.patch
  package/amiberry/amiberry-0003-compilation-options.patch
  package/amiberry/amiberry-0004-add-rpi4-64bits-support.patch
  package/amiberry/amiberry-0005-add-s922x-platform.patch
  package/amiberry/amiberry.mk
Due: tests buildroot patches

feat(standalone): bump amiberry to v5.3
  package/amiberry/amiberry-0000-resources-path.patch
  package/amiberry/amiberry-0001-libcapsimage-path.patch
  package/amiberry/amiberry-0002-recalbox-path.patch
  package/amiberry/amiberry-0003-compilation-options.patch
  package/amiberry/amiberry-0004-add-rpi4-64bits-support.patch
  package/amiberry/amiberry-0004-load-mouse-maps.patch
  package/amiberry/amiberry.mk
Due: tests buildroot patches

fix(libretro-pcsx_rearmed): fix pause menu in the game
  RELEASE-NOTES.md
  package/libretro-pcsx_rearmed/libretro-pcsx_rearmed.mk
Due: none

feat(core): improve gsplus generator & add exoappleiigs config support
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  projects/configgen/configgen/generators/gsplus/exoConverter.py
  projects/configgen/configgen/generators/gsplus/gsplusGenerator.py
Due: tests configgen

feat(theme): update theme version for gameclip in 240p
  package/recalbox-themes/recalbox-themes.mk
Due: none

feat(core): add standalone vice emulator 3.6.1
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/recalbox-romfs2/systems/c64/system.ini
  package/vice/Config.in
  package/vice/vice.mk
  package/xa65/Config.in
  package/xa65/xa65.mk
  projects/configgen/configgen/generators/vice/viceGenerator.py
  projects/configgen/tests/generators/viceGenerator_test.py
Due: tests configgen

chore(libretro-genesisplusgxwide): bump latest version
  RELEASE-NOTES.md
  package/libretro-genesisplusgxwide/libretro-genesisplusgxwide.mk
Due: none

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
