Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch

chore(packages): fix sdl2 dependencies
  package/amiberry33/Config.in
  package/jstest2/Config.in
  package/libretro-picodrive/Config.in
  package/pifba/Config.in
  package/vice/Config.in
Due: none

chore(rg353x): add a fix when using GPT partition table type
  board/recalbox/fsoverlay/etc/init.d/S11share
  package/recalbox-system/Config.in
Due: none

feat: add support for volume control of rg353x with volumed
  board/recalbox/anbernic/rg353x/fsoverlay/etc/init.d/S06volumed
  package/recalbox-system/Config.in
  package/recalbox-volumed/recalbox-volumed.mk
Due: none

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

feat(system): remove buildroot sdl package
  board/recalbox/patches/sdl/0003-pssc-sdl-fbcon.patch
  custom/list.hash
  custom/package/Config.in
  custom/package/Config.in.patch
Due: tests buildroot patches

feat(system): add sdl1.2 compatibility library package
  Config.in
  package/sdl/Config.in
  package/sdl/sdl-0000-route-sdl-config-to-staging.patch
  package/sdl/sdl.mk
Due: tests buildroot patches

feat(emulator): move from linapple-pie to recalbox version
  Config.in
  Dockerfile
  RELEASE-NOTES.md
  package/linapple-pie/linapple-pie.mk
  package/linapple-recalbox/Config.in
  package/linapple-recalbox/linapple-recalbox.mk
  package/recalbox-romfs2/systems/apple2/system.ini
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/linapple/linappleConfig.py
  projects/configgen/configgen/generators/linapple/linappleGenerator.py
  projects/configgen/configgen/utils/diskCollector.py
  projects/configgen/tests/generators/linappleGenerator_test.py
Due: tests configgen

chore: simplification of adding new board
  package/libretro-flycast/libretro-flycast.mk
  package/libretro-mupen64plus-nx/libretro-mupen64plus-nx.mk
  package/libretro-parallel-n64/0001-add-odroidgo2-board.patch
  package/libretro-parallel-n64/0002-add-gcc10-compat.patch
  package/libretro-parallel-n64/libretro-parallel-n64.mk
  package/libretro-uae4arm/libretro-uae4arm.mk
  package/libretro-vitaquake2/libretro-vitaquake2.mk
  package/oricutron/oricutron.mk
  package/recalbox-initramfs/recalbox-initramfs.mk
  package/retroarch/retroarch.mk
Due: tests buildroot patches

chore(rg353x): add possiblity to build resource.img linux image
  custom/linux/Config.in
  custom/linux/Config.in.patch
  custom/linux/linux.mk
  custom/linux/linux.mk.patch
Due: none

chore: rename mali-t62x mali drivers to librelec-libmali
  Config.in
  configs/recalbox-odroidxu4_defconfig
  package/librelec-libmali/0001-add-the-libgbm-wrapper-to-the-build.patch
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: tests buildroot patches

chore: end migration from mali-t62x to librelec-libmali
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: none

feat(case): add Raspberry Pi Touch Display case support
  RELEASE-NOTES.md
  projects/frontend/es-core/src/hardware/Case.cpp
  projects/frontend/es-core/src/hardware/Case.h
  projects/recalbox-hardware/case/cases.py
  projects/recalbox-hardware/case/installer.py
  projects/recalbox-hardware/case/installers/raspberrypi-touch-display/__init__.py
  projects/recalbox-hardware/case/installers/raspberrypi-touch-display/install.py
  projects/recalbox-hardware/case/manage.py
Due: tests emulationstation

fix(configgen): rrgbd: fix alsa thread driver selected for all psx cores, now only for swanstation
  projects/configgen/configgen/generators/libretro/crt/LibretroConfigCRT.py
  projects/configgen/tests/generators/libretro/crt/LibretroConfigCRT_test.py
Due: tests configgen

feat(system): rrgbd: add crt configuration for presinstalled ports
  package/recalbox-crt/crt-config/systems.txt
  package/recalbox-romfs2/systems/2048/system.ini
  package/recalbox-romfs2/systems/cavestory/system.ini
  package/recalbox-romfs2/systems/dinothawr/system.ini
  package/recalbox-romfs2/systems/doom/system.ini
  package/recalbox-romfs2/systems/dos/system.ini
  package/recalbox-romfs2/systems/gong/system.ini
  package/recalbox-romfs2/systems/mrboom/system.ini
  package/recalbox-romfs2/systems/quake/system.ini
  package/recalbox-romfs2/systems/quake2/system.ini
  package/recalbox-romfs2/systems/rickdangerous/system.ini
  package/recalbox-romfs2/systems/tic80/system.ini
  package/recalbox-romfs2/systems/wolfenstein3d/system.ini
Due: none

feat(frontend): vues can block simple message popups & info popups
  projects/frontend/es-app/src/ApplicationWindow.h
  projects/frontend/es-app/src/views/ViewController.cpp
  projects/frontend/es-app/src/views/ViewController.h
  projects/frontend/es-app/src/views/crt/CrtView.h
  projects/frontend/es-core/src/ResolutionAdapter.cpp
  projects/frontend/es-core/src/ResolutionAdapter.h
  projects/frontend/es-core/src/WindowManager.cpp
  projects/frontend/es-core/src/WindowManager.h
  projects/frontend/es-core/src/guis/Gui.h
Due: tests emulationstation

feat(core): add core lr-mojozork for zmachine
  Config.in
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-mojozork/Config.in
  package/libretro-mojozork/libretro-mojozork.mk
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

fix(frontend): fix lag when exiting metadata edition w/o actual change
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.cpp
Due: tests emulationstation

chore(configgen/kodi): configure prime for odroidxu4 architecture
  projects/configgen/configgen/generators/kodi/kodiConfig.py
Due: tests configgen

fix: use kodi patch from AreaScout
  board/recalbox/odroidxu4/patches/kodi/0001-Add-ODROID-XU4-plane-support-as-we-do-not-have-NV21-.patch
  board/recalbox/odroidxu4/patches/kodi/0001-use-EGL_KHR_platform_gbm-not-EGL_MESA_platform_gbm.patch
  board/recalbox/odroidxu4/patches/kodi/0002-Fix-This-is-only-needed-for-proprietary-Mali-drivers.patch
  board/recalbox/odroidxu4/patches/kodi/0003-Fix-Needed-sometimes-because-of-header-files-used-by.patch
  board/recalbox/odroidxu4/patches/kodi/0004-Fix-GBM-implementation-on-ODROID-s-doesn-t-support-g.patch
  board/recalbox/odroidxu4/patches/kodi/0005-Fix-We-have-to-round-the-frame-rate-from-the-movie-t.patch
  board/recalbox/odroidxu4/patches/kodi/0006-Add-enable-v4l2-m2m-support.patch
  board/recalbox/odroidxu4/patches/kodi/0007-Add-abillity-to-disable-hw-decoder.patch
  board/recalbox/odroidxu4/patches/kodi/0008-Add-use-more-recent-version-of-ffmpeg.patch
  board/recalbox/odroidxu4/patches/kodi/0009-Fix-do-not-use-gbm-modifiers-and-bo-map-on-ODROID-s-.patch
Due: none

fix: fix dolphin dependencies
  package/dolphin-emu/Config.in
Due: none

fix: fix armv6 compilation of libatomic
  board/recalbox/rpi1/patches/gcc/0001-armv6-march-for-rpi1.patch
  configs/recalbox-rpi1_defconfig
Due: none

feat(core): add standalone vice emulator 3.6.1
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/recalbox-romfs2/scripts/systemholder.py
  package/recalbox-romfs2/systems/c64/system.ini
  package/vice/Config.in
  package/vice/vice.mk
  package/xa65/Config.in
  package/xa65/xa65.mk
  projects/configgen/configgen/generators/vice/viceGenerator.py
  projects/configgen/configgen/settings/iniSettings.py
  projects/configgen/tests/generators/viceGenerator_test.py
  projects/frontend/es-app/src/emulators/EmulatorDescriptor.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemDeserializer.cpp
Due: tests configgen, tests emulationstation

feat(themes): add new systems theme
  package/recalbox-themes/recalbox-themes.mk
Due: none

feat(game): add astebros demo on megadrive
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/megadrive/init/roms/Astebros demo (en).zip
  package/recalbox-romfs2/systems/megadrive/init/roms/Astebros demo (fr).zip
  package/recalbox-romfs2/systems/megadrive/init/roms/Demons Of Asteborg & Astebros/Readme.txt
  package/recalbox-romfs2/systems/megadrive/init/roms/Demons Of Asteborg (Demo)/Readme.txt
  package/recalbox-romfs2/systems/megadrive/init/roms/gamelist.xml
  package/recalbox-romfs2/systems/megadrive/init/roms/media/images/Astebros Demo.png
  package/recalbox-romfs2/systems/megadrive/init/roms/media/images/Demons of Asteborg (Demo).png
Due: none

feat(system): lightgun: add support for guncon2 in lightgun configuration
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/lightgun.cfg
  package/recalbox-rgb-dual-guncon2/Config.in
  projects/configgen/configgen/generators/libretro/libretroLightGuns.py
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
Due: tests configgen, tests emulationstation

feat(system): add guncon2 driver for support on recalbox rgb dual
  Config.in
  board/recalbox/fsoverlay/etc/udev/rules.d/99-joysticks-exotics.rules
  package/recalbox-crt/Config.in
  package/recalbox-rgb-dual-guncon2/Config.in
  package/recalbox-rgb-dual-guncon2/recalbox-rgb-dual-guncon2.mk
Due: none

fix(frontend): fix cancel button displayed on controller configuration
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
  projects/frontend/es-core/src/guis/GuiInputConfig.h
  projects/frontend/locale/emulationstation2.pot
Due: tests emulationstation

feat(joystick): bump joycond
  package/joycond/joycond.mk
Due: none

feat(joystick): bump hid-nintendo
  package/hid-nintendo/hid-nintendo.mk
Due: none

chore: enable uhid module onboot
  board/recalbox/fsoverlay/etc/modules.conf
  board/recalbox/rpi/fsoverlay/etc/modules.conf
Due: none

feat: add bluetooth autopairing for controllers
  RELEASE-NOTES.md
  package/recalbox-bluetooth/recalbox-bluetooth.mk
  package/recalbox-bluetooth/src/init/bluetooth
  package/recalbox-bluetooth/src/scripts/autopair
  package/recalbox-bluetooth/src/scripts/btDaemon
  package/recalbox-bluetooth/src/scripts/recalbox-bluetooth-agent
  package/recalbox-bluetooth/src/scripts/simple-agent
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.h
  projects/frontend/es-app/src/mqtt/MqttClient.cpp
  projects/frontend/es-app/src/mqtt/MqttClient.h
Due: tests emulationstation

fix(romfs): add new fantasy system type
  package/recalbox-romfs2/scripts/installroms.py
  package/recalbox-romfs2/scripts/systemholder.py
  package/recalbox-romfs2/systems/.templates/readme/_leggime.txt
  package/recalbox-romfs2/systems/.templates/readme/_leiame.txt
  package/recalbox-romfs2/systems/.templates/readme/_liesmich.txt
  package/recalbox-romfs2/systems/.templates/readme/_lisezmoi.txt
  package/recalbox-romfs2/systems/.templates/readme/_readme.txt
Due: none

feat(frontend): add $system-x/$system+x meta-variables in theme's xml
  package/recalbox-romfs2/systems/easyrpg/system.ini
  package/recalbox-romfs2/systems/lowresnx/system.ini
  package/recalbox-romfs2/systems/lutro/system.ini
  package/recalbox-romfs2/systems/pico8/system.ini
  package/recalbox-romfs2/systems/scummvm/system.ini
  package/recalbox-romfs2/systems/tic80/system.ini
  package/recalbox-romfs2/systems/uzebox/system.ini
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-core/src/themes/ThemeData.cpp
  projects/frontend/es-core/src/themes/ThemeData.h
  projects/frontend/es-core/src/utils/String.cpp
  projects/frontend/es-core/src/utils/String.h
Due: tests emulationstation

fix(frontend): fix system types & device requirement for virtual systems
  projects/frontend/es-app/src/games/IFilter.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/SystemView.cpp
Due: tests emulationstation

feat(core): bump lr-mesen_s
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  package/libretro-mesen-s/0001-bios-paths.patch
  package/libretro-mesen-s/libretro-mesen-s.mk
Due: tests buildroot patches

feat(controllers): add Nintendo Switch N64 and Megadrive/Genesis controllers definitions
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  package/hid-nintendo/0002-add-more-controllers-support-and-md-n64-snes-mapping.patch
Due: tests buildroot patches
