Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

feat(joystick): bump joycond
  package/joycond/joycond.mk
Due: none

feat(joystick): bump hid-nintendo
  package/hid-nintendo/hid-nintendo.mk
Due: none

fix(dolphin): make hotkeys to work again on dolphin for xbox recognized controllers
  RELEASE-NOTES.md
  projects/configgen/configgen/generators/dolphin/dolphinControllers.py
Due: tests configgen

chore: remove -fno-exceptions from CXXFLAGS
  package/libretro-fbneo/0001-add-odroidgo2-platform.patch
Due: tests buildroot patches

chore(libretro-fbneo): bump latest version
  RELEASE-NOTES.md
  package/libretro-fbneo/libretro-fbneo.mk
Due: none

feat(core): add lr-minivmac core
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-minivmac/libretro-minivmac-0000-set-bios-path.patch
  package/libretro-minivmac/libretro-minivmac.mk
  package/recalbox-romfs2/systems/macintosh/system.ini
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/configgen/recalboxFiles.py
Due: tests configgen, tests buildroot patches

feat: add bluetooth autopairing for controllers
  RELEASE-NOTES.md
  package/recalbox-bluetooth/recalbox-bluetooth.mk
  package/recalbox-bluetooth/src/init/bluetooth
  package/recalbox-bluetooth/src/scripts/autopair
  package/recalbox-bluetooth/src/scripts/btDaemon
  package/recalbox-bluetooth/src/scripts/recalbox-bluetooth-agent
  package/recalbox-bluetooth/src/scripts/simple-agent
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.h
  projects/frontend/es-app/src/mqtt/MqttClient.cpp
  projects/frontend/es-app/src/mqtt/MqttClient.h
Due: tests emulationstation

chore: enable uhid module onboot
  board/recalbox/fsoverlay/etc/modules.conf
  board/recalbox/rpi/fsoverlay/etc/modules.conf
Due: none

feat(core): bump lr-opera
  RELEASE-NOTES.md
  package/libretro-opera/libretro-opera.mk
Due: none

feat(core): bump lr-beetle-lynx
  RELEASE-NOTES.md
  package/libretro-beetle-lynx/libretro-beetle-lynx.mk
Due: none

feat(core): bump lr-gpsp
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  package/libretro-gpsp/libretro-gpsp.mk
Due: none

chore: add nvidia-xconfig utility
  package/nvidia-driver-legacy-recalbox/nvidia-driver-legacy-recalbox.mk
  package/nvidia-driver-production-recalbox/nvidia-driver-production-recalbox.mk
  projects/recalbox-hardware/videocard/Nvidia/NvidiaInstaller.py
Due: none

chore: rename version specific package to legacy and production package
  Config.in
  package/nvidia-driver-470-recalbox/nvidia-driver-470-recalbox.mk
  package/nvidia-driver-legacy-recalbox/0001-use-LDFLAGS.patch
  package/nvidia-driver-legacy-recalbox/0002-compat-gcc10.patch
  package/nvidia-driver-legacy-recalbox/Config.in
  package/nvidia-driver-legacy-recalbox/egl.pc
  package/nvidia-driver-legacy-recalbox/gl.pc
  package/nvidia-driver-legacy-recalbox/nvidia-driver-legacy-recalbox.hash
  package/nvidia-driver-legacy-recalbox/nvidia-driver-legacy-recalbox.mk
Due: tests buildroot patches

fix: make xrandr calls synchronous on startup
  board/recalbox/x86/fsoverlay/etc/X11/xinit/xinitrc
Due: none

feat(nvidia): improve nvidia driver installation script
  .gitlab-ci.yml
  projects/recalbox-hardware/videocard/.gitignore
  projects/recalbox-hardware/videocard/Nvidia/NvidiaInstaller.py
  projects/recalbox-hardware/videocard/Nvidia/installer.py
  projects/recalbox-hardware/videocard/Utils/PciUtils.py
  projects/recalbox-hardware/videocard/main.py
  projects/recalbox-hardware/videocard/nvidia-install
  projects/recalbox-hardware/videocard/nvidiacheckcompatibility-470.txt
  projects/recalbox-hardware/videocard/pytest.ini
  projects/recalbox-hardware/videocard/requirements-dev.txt
  projects/recalbox-hardware/videocard/tests/installer_test.py
  projects/recalbox-hardware/videocard/tests/main_test.py
  projects/recalbox-hardware/videocard/tests/nvidiainstaller_test.py
Due: none

feat: add nvidia driver version 515
  Config.in
  configs/recalbox-x86_64_defconfig
  package/nvidia-driver-production-recalbox/0001-use-LDFLAGS.patch
  package/nvidia-driver-production-recalbox/Config.in
  package/nvidia-driver-production-recalbox/egl.pc
  package/nvidia-driver-production-recalbox/gl.pc
  package/nvidia-driver-production-recalbox/nvidia-driver-production-recalbox.hash
  package/nvidia-driver-production-recalbox/nvidia-driver-production-recalbox.mk
Due: tests buildroot patches

feat: enable nvidia prime offloading
  RELEASE-NOTES.md
  projects/recalbox-hardware/videocard/Nvidia/installer.py
Due: none

chore(nvidia): install supported-gpus.json
  package/nvidia-driver-legacy-recalbox/nvidia-driver-legacy-recalbox.mk
Due: none

feat(frontend): add $system-x/$system+x meta-variables in theme's xml
  package/recalbox-romfs2/systems/easyrpg/system.ini
  package/recalbox-romfs2/systems/lowresnx/system.ini
  package/recalbox-romfs2/systems/lutro/system.ini
  package/recalbox-romfs2/systems/pico8/system.ini
  package/recalbox-romfs2/systems/scummvm/system.ini
  package/recalbox-romfs2/systems/tic80/system.ini
  package/recalbox-romfs2/systems/uzebox/system.ini
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemDeserializer.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-core/src/themes/ThemeData.cpp
  projects/frontend/es-core/src/themes/ThemeData.h
  projects/frontend/es-core/src/utils/String.cpp
  projects/frontend/es-core/src/utils/String.h
Due: tests emulationstation

fix(frontend): fix system types & device requirement for virtual systems
  projects/frontend/es-app/src/games/IFilter.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/SystemView.cpp
Due: tests emulationstation

fix(romfs): add new fantasy system type
  package/recalbox-romfs2/scripts/installroms.py
  package/recalbox-romfs2/scripts/systemholder.py
  package/recalbox-romfs2/systems/.templates/readme/_leggime.txt
  package/recalbox-romfs2/systems/.templates/readme/_leiame.txt
  package/recalbox-romfs2/systems/.templates/readme/_liesmich.txt
  package/recalbox-romfs2/systems/.templates/readme/_lisezmoi.txt
  package/recalbox-romfs2/systems/.templates/readme/_readme.txt
Due: none

feat(core): bump lr-mesen_s
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  package/libretro-mesen-s/0001-bios-paths.patch
  package/libretro-mesen-s/libretro-mesen-s.mk
Due: tests buildroot patches

chore(libretro-dosbox-pure): bump latest version
  RELEASE-NOTES.md
  package/libretro-dosbox-pure/libretro-dosbox-pure-0000-fix-build.patch
  package/libretro-dosbox-pure/libretro-dosbox-pure.mk
Due: tests buildroot patches

perf(frontend): optimize main path
  projects/frontend/es-app/src/Upgrade.cpp
  projects/frontend/es-app/src/emulators/EmulatorManager.cpp
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/FileData.h
  projects/frontend/es-app/src/games/FolderData.cpp
  projects/frontend/es-app/src/games/FolderData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/games/adapter/GameAdapter.cpp
  projects/frontend/es-app/src/guis/GuiMetaDataEd.cpp
  projects/frontend/es-app/src/guis/GuiScraperRun.cpp
  projects/frontend/es-app/src/guis/GuiScraperSingleGameRun.cpp
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameDeleteOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameDeleteSelectionOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.cpp
  projects/frontend/es-app/src/scraping/ScraperFactory.cpp
  projects/frontend/es-app/src/scraping/ScraperSeamless.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperApis.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperEngineBase.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-app/src/systems/LightGunDatabase.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/usernotifications/NotificationManager.cpp
  projects/frontend/es-app/src/usernotifications/NotificationManager.h
  projects/frontend/es-app/src/views/ViewController.cpp
  projects/frontend/es-app/src/views/ViewController.h
  projects/frontend/es-app/src/views/gamelist/BasicGameListView.cpp
  projects/frontend/es-app/src/views/gamelist/DetailedGameListView.cpp
  projects/frontend/es-app/src/views/gamelist/ISimpleGameListView.cpp
  projects/frontend/es-core/src/utils/IniFile.cpp
  projects/frontend/es-core/src/utils/IniFile.h
  projects/frontend/es-core/src/utils/os/fs/Path.h
Due: tests emulationstation

feat(frontend): allow to launch a game with a specific softpatching
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/tests/generators/FakeArguments.py
  projects/frontend/es-app/src/emulators/run/GameLinkedData.h
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/emulators/run/PatchData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/GameFilesUtils.h
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSoftpatchingLauncher.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSoftpatchingLauncher.h
  projects/frontend/es-app/src/views/ViewController.cpp
Due: tests configgen, tests emulationstation

feat(frontend): optimize metadata loading and storage in ram
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/FileData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/GameRandomSelector.h
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataFieldDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/games/classifications/Genres.h
  projects/frontend/es-app/src/guis/GuiMetaDataEd.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-core/src/utils/os/fs/Path.h
Due: tests emulationstation

feat(frontend): adjust and optimize fast search using new metadata
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/games/FolderData.cpp
  projects/frontend/es-app/src/games/FolderData.h
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemData.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/ViewController.h
  projects/frontend/es-core/src/utils/storage/Array.h
Due: tests emulationstation

fix(frontend): fix searching in a single system
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
Due: tests emulationstation

fix(frontend): global search is no longer crashing
  projects/frontend/es-app/src/systems/SystemManager.cpp
Due: tests emulationstation

fix(frontend): fix nes core softpatching
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/nes/system.ini
  package/recalbox-romfs2/systems/snes/system.ini
Due: none

fix(frontend): fix gamelist.xml being saved even if nothing changes
  projects/frontend/es-app/src/components/ScraperSearchComponent.cpp
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/views/crt/CrtView.cpp
Due: tests emulationstation

feat(controllers): add Nintendo Switch N64 and Megadrive/Genesis controllers definitions
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  package/hid-nintendo/0002-add-more-controllers-support-and-md-n64-snes-mapping.patch
Due: tests buildroot patches

feat: replace Moonlight embedded with Moonlight QT
  Config.in
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-x86_64_defconfig
  package/moonlight-embedded/Moonlight.sh
  package/moonlight-embedded/moonlight-embedded.mk
  package/moonlight-qt/0001-quit-on-pair.patch
  package/moonlight-qt/Config.in
  package/moonlight-qt/Moonlight.sh
  package/moonlight-qt/moonlight-qt.mk
Due: tests buildroot patches

chore(moonlight): adapt recalbox moonlight configgen generator for moonlight-qt
  package/moonlight-qt/moonlight-qt.mk
  projects/configgen/configgen/generators/moonlight/moonlightGenerator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/tests/generators/moonlightGenerator_test.py
  projects/configgen/tests/resources/moonlight/gamelist.txt
  projects/configgen/tests/resources/moonlight/moonlight.conf
Due: tests configgen

fix(configgen): quick fix for beta
  projects/configgen/tests/generators/viceGenerator_test.py
Due: tests configgen

fix(package): quick fix of vice package
  package/vice/Config.in
Due: none

feat(theme): update theme version for gameclip in 240p
  package/recalbox-themes/recalbox-themes.mk
Due: none

fix: better piboy fan management
  projects/wpaf/src/piboy.h
Due: none

feat(frontend): rrgbd: fix rpi3 detection of rrgbd connected
  projects/frontend/es-core/src/hardware/crt/CrtRGBDual.h
Due: tests emulationstation

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
