Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

chore(upgrade): show first install step right after the image has been correctly checked
  board/recalbox/fsoverlay/etc/init.d/S11upgrade
Due: none

feat: add ES support for rg353x and rg503 family boards
  board/recalbox/fsoverlay/etc/udev/rules.d/91-pulseaudio.rules
  board/recalbox/fsoverlay/usr/share/pulseaudio/alsa-mixer/profile-sets/rk817.conf
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/MainRunner.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSystem.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.h
  projects/frontend/es-app/src/scraping/scrapers/recalbox/RecalboxEndPoints.cpp
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/ResolutionAdapter.cpp
  projects/frontend/es-core/src/audio/pulseaudio/PulseAudioController.cpp
  projects/frontend/es-core/src/hardware/Board.cpp
  projects/frontend/es-core/src/hardware/BoardType.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XVolumeReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XVolumeReader.h
  projects/frontend/es-core/src/hardware/messaging/HardwareMessageSender.cpp
  projects/frontend/es-core/src/hardware/messaging/IHardwareNotifications.h
  projects/frontend/es-core/src/hardware/messaging/MessageTypes.h
Due: tests emulationstation

chore(rg353x): add specific rg353x GPT partition probe
  board/recalbox/fsoverlay/recalbox/scripts/upgrade/recalbox-squashfs-upgrade.sh
Due: none

chore(rg353x): add possiblity to build resource.img linux image
  custom/linux/Config.in
  custom/linux/Config.in.patch
  custom/linux/linux.mk
  custom/linux/linux.mk.patch
Due: none

chore: simplification of adding new board
  package/libretro-flycast/libretro-flycast.mk
  package/libretro-mupen64plus-nx/libretro-mupen64plus-nx.mk
  package/libretro-parallel-n64/0001-add-odroidgo2-board.patch
  package/libretro-parallel-n64/0002-add-gcc10-compat.patch
  package/libretro-parallel-n64/libretro-parallel-n64.mk
  package/libretro-uae4arm/libretro-uae4arm.mk
  package/libretro-vitaquake2/libretro-vitaquake2.mk
  package/oricutron/oricutron.mk
  package/recalbox-initramfs/recalbox-initramfs.mk
  package/retroarch/retroarch.mk
Due: tests buildroot patches

chore: end migration from mali-t62x to librelec-libmali
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: none

chore(rg353x): add a fix when using GPT partition table type
  board/recalbox/fsoverlay/etc/init.d/S11share
Due: none

chore: rename mali-t62x mali drivers to librelec-libmali
  Config.in
  configs/recalbox-odroidxu4_defconfig
  package/librelec-libmali/0001-add-the-libgbm-wrapper-to-the-build.patch
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: tests buildroot patches

feat(core): add core lr-mojozork for zmachine
  Config.in
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-mojozork/Config.in
  package/libretro-mojozork/libretro-mojozork.mk
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

feat(system): add guncon2 driver for support on recalbox rgb dual
  Config.in
  board/recalbox/fsoverlay/etc/udev/rules.d/99-joysticks-exotics.rules
  package/recalbox-crt/Config.in
  package/recalbox-rgb-dual-guncon2/Config.in
  package/recalbox-rgb-dual-guncon2/recalbox-rgb-dual-guncon2.mk
Due: none

feat(system): lightgun: add support for guncon2 in lightgun configuration
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/lightgun.cfg
  package/recalbox-rgb-dual-guncon2/Config.in
  projects/configgen/configgen/generators/libretro/libretroLightGuns.py
Due: tests configgen

feat(joystick): bump joycond
  package/joycond/joycond.mk
Due: none

feat(joystick): bump hid-nintendo
  package/hid-nintendo/hid-nintendo.mk
Due: none

feat(core): add uae4all core for rpi1 & 0
  CHANGELOG.md
  Config.in
  RELEASE-NOTES.md
  TESTING.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  board/recalbox/fsoverlay/recalbox/share_upgrade/bios/lisez-moi.txt
  board/recalbox/fsoverlay/recalbox/share_upgrade/bios/readme.txt
  configs/recalbox-rpi1_defconfig
  package/libretro-uae4all/0001-Use-cyclone-core.patch
  package/libretro-uae4all/0002-lower-cycle-unit-value.patch
  package/libretro-uae4all/Config.in
  package/libretro-uae4all/libretro-uae4all.mk
  package/recalbox-romfs2/systems/amiga600/system.ini
Due: tests buildroot patches

fix: add atari 7800 pal bios support
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  board/recalbox/fsoverlay/recalbox/share_upgrade/bios/lisez-moi.txt
  board/recalbox/fsoverlay/recalbox/share_upgrade/bios/readme.txt
  package/libretro-prosystem/libretro-prosystem.mk
Due: none

chore(moonlight): adapt recalbox moonlight configgen generator for moonlight-qt
  package/moonlight-qt/moonlight-qt.mk
  projects/configgen/configgen/generators/moonlight/moonlightGenerator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/tests/generators/moonlightGenerator_test.py
  projects/configgen/tests/resources/moonlight/gamelist.txt
  projects/configgen/tests/resources/moonlight/moonlight.conf
Due: tests configgen

feat: replace Moonlight embedded with Moonlight QT
  Config.in
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-x86_64_defconfig
  package/moonlight-embedded/Moonlight.sh
  package/moonlight-embedded/moonlight-embedded.mk
  package/moonlight-qt/0001-quit-on-pair.patch
  package/moonlight-qt/Config.in
  package/moonlight-qt/Moonlight.sh
  package/moonlight-qt/moonlight-qt.mk
Due: tests buildroot patches

feat: add tate support for ambernic
  RELEASE-NOTES.md
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.cpp
  projects/frontend/es-app/src/recalbox/BootConf.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.h
Due: tests emulationstation

feat(cores): add lr-dirksimple for daphne
  Config.in
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-dirksimple/Config.in
  package/libretro-dirksimple/libretro-dirksimple.mk
  package/recalbox-romfs2/systems/daphne/system.ini
Due: none

feat(frontend): allow to run a game directly from savestate slot
  package/retroarch/retroarch-0013-update.selected.slot.patch
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/configgen/generators/libretro/libretroRetroarch.py
  projects/configgen/tests/generators/FakeArguments.py
  projects/frontend/es-app/src/emulators/EmulatorData.h
  projects/frontend/es-app/src/emulators/run/GameLinkedData.h
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/emulators/run/SaveStateData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/GameFilesUtils.h
  projects/frontend/es-app/src/games/SaveState.cpp
  projects/frontend/es-app/src/games/SaveState.h
  projects/frontend/es-app/src/guis/GuiSaveStates.cpp
  projects/frontend/es-app/src/guis/GuiSaveStates.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.h
  projects/frontend/es-app/src/views/ViewController.cpp
  projects/frontend/es-app/src/views/ViewController.h
  projects/frontend/es-core/src/RecalboxConf.h
Due: tests configgen, tests emulationstation, tests buildroot patches

chore(buildroot): fix compilation of kodi with mesa3d
  board/recalbox/patches/kodi/9999-fix-build-with-mesa-22-3-0.patch
Due: tests buildroot patches

fix(emulator): fix pifba package
  package/pifba/Config.in
Due: none

fix(board): remove simcoupe from pi0 - too slow
  configs/recalbox-rpi1_defconfig
Due: none

fix(roms): add default p2k for trs-80 coco
  package/recalbox-romfs2/systems/trs80coco/upgrade/roms/.p2k.cfg
Due: none

fix(frontend): allow subfolders in arcade virtual system
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
Due: tests emulationstation

fix: tate
  projects/frontend/es-app/src/guis/menus/GuiMenuTateVirtualSystem.cpp
  projects/frontend/es-core/src/RotationManager.cpp
  projects/frontend/es-core/src/hardware/RotationType.h
Due: tests emulationstation

fix(board): remove snes9x dor pi0 - too slow
  configs/recalbox-rpi1_defconfig
Due: none

fix(board): remove sameduck core - too slow
  configs/recalbox-rpi1_defconfig
Due: none

fix(core): add european bios note for atari 7800
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
Due: none

fix(core): fix uae4all in romfs v2
  package/libretro-uae4all/Config.in
  package/recalbox-romfs2/systems/amiga600/system.ini
Due: none

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
