Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

feat: a ES support for rg353x family boards
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.h
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/audio/pulseaudio/PulseAudioController.cpp
  projects/frontend/es-core/src/hardware/Board.cpp
  projects/frontend/es-core/src/hardware/BoardType.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353X.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353X.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XJackEventReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XJackEventReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.h
Due: tests emulationstation

chore(rg353x): add possiblity to build resource.img linux image
  custom/linux/Config.in
  custom/linux/Config.in.patch
  custom/linux/linux.mk
  custom/linux/linux.mk.patch
Due: none

chore(rg353x): add a fix when using GPT partition table type
  board/recalbox/fsoverlay/etc/init.d/S11share
  package/recalbox-system/Config.in
Due: none

feat: add support for volume control of rg353x with volumed
  board/recalbox/anbernic/rg353x/fsoverlay/etc/init.d/S06volumed
  package/recalbox-system/Config.in
  package/recalbox-volumed/recalbox-volumed.mk
Due: none

chore(upgrade): show first install step right after the image has been correctly checked
  board/recalbox/fsoverlay/etc/init.d/S11upgrade
Due: none

chore: simplification of adding new board
  package/libretro-flycast/libretro-flycast.mk
  package/libretro-mupen64plus-nx/libretro-mupen64plus-nx.mk
  package/libretro-parallel-n64/0001-add-odroidgo2-board.patch
  package/libretro-parallel-n64/0002-add-gcc10-compat.patch
  package/libretro-parallel-n64/libretro-parallel-n64.mk
  package/libretro-uae4arm/libretro-uae4arm.mk
  package/libretro-vitaquake2/libretro-vitaquake2.mk
  package/oricutron/oricutron.mk
  package/recalbox-initramfs/recalbox-initramfs.mk
  package/retroarch/retroarch.mk
Due: tests buildroot patches

chore(rg353x): add specific rg353x GPT partition probe
  board/recalbox/fsoverlay/recalbox/scripts/upgrade/recalbox-squashfs-upgrade.sh
Due: none

fix(frontend): fix a/b & x/y inversion on xbox pads
  projects/frontend/es-core/src/input/AutoMapper.cpp
  projects/frontend/es-core/src/input/AutoMapper.h
Due: tests emulationstation

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

fix(system): rrgbd: fix migration causing bad switch from crt to hdmi
  package/recalbox-crt/S13crt
Due: none

fix(xorg): remove old intel xorg driver
  configs/recalbox-x86_64_defconfig
Due: none

fix(kodi): fix languages versions
  package/kodi-plugin-video-netflix/kodi_plugin_video_netflix.mk
  package/kodi-plugin-video-youtube/kodi_plugin_video_youtube.mk
  package/kodi-resource-language-de_de/kodi_resource_language_de_de.mk
  package/kodi-resource-language-fr_fr/kodi_resource_language_fr_fr.mk
  package/kodi-resource-language-it_it/kodi_resource_language_it_it.mk
Due: none

fix(controllers): remove xbox patch and manage trigger axis in frontend
  board/recalbox/kernel_patches/5.10/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.12/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.15/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.4/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.9/linux-xpad-triggers-to-buttons.patch
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
Due: tests emulationstation

feat(emulator): move from linapple-pie to recalbox version
  Config.in
  Dockerfile
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/linapple-pie/Config.in
  package/linapple-pie/linapple-pie.mk
  package/linapple-recalbox/Config.in
  package/linapple-recalbox/linapple-recalbox.mk
  package/recalbox-romfs2/systems/apple2/system.ini
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/linapple/linappleConfig.py
  projects/configgen/configgen/generators/linapple/linappleGenerator.py
  projects/configgen/configgen/utils/diskCollector.py
  projects/configgen/tests/generators/linappleGenerator_test.py
Due: tests configgen

feat(system): add sdl1.2 compatibility library package
  Config.in
  package/sdl/Config.in
  package/sdl/sdl-0000-route-sdl-config-to-staging.patch
  package/sdl/sdl.mk
Due: tests buildroot patches

chore(packages): fix sdl2 dependencies
  package/amiberry33/Config.in
  package/jstest2/Config.in
  package/libretro-picodrive/Config.in
  package/pifba/Config.in
  package/recalbox-emulationstation2/Config.in
  package/vice/Config.in
Due: none

feat(system): remove buildroot sdl package
  Config.in
  board/recalbox/patches/sdl/0003-pssc-sdl-fbcon.patch
  custom/list.hash
  custom/package/ffmpeg/ffmpeg.mk.patch
  custom/package/sdl/Config.in
  custom/package/sdl/Config.in.patch
  custom/package/sdl/sdl-0000-route-sdl-config-to-staging.patch
  custom/package/sdl/sdl.mk
  custom/package/sdl/sdl.mk.patch
Due: tests buildroot patches

chore: rename mali-t62x mali drivers to librelec-libmali
  Config.in
  configs/recalbox-odroidxu4_defconfig
  package/librelec-libmali/0001-add-the-libgbm-wrapper-to-the-build.patch
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: tests buildroot patches

chore: end migration from mali-t62x to librelec-libmali
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: none

feat(core): add core lr-mojozork for zmachine
  Config.in
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-mojozork/Config.in
  package/libretro-mojozork/libretro-mojozork.mk
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

fix: fix armv6 compilation of libatomic
  board/recalbox/rpi1/patches/gcc/0001-armv6-march-for-rpi1.patch
  configs/recalbox-rpi1_defconfig
Due: none

feat(core): add standalone vice emulator 3.6.1
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/recalbox-romfs2/scripts/systemholder.py
  package/recalbox-romfs2/systems/c64/system.ini
  package/vice/Config.in
  package/vice/vice.mk
  package/xa65/Config.in
  package/xa65/xa65.mk
  projects/configgen/configgen/generators/vice/viceGenerator.py
  projects/configgen/configgen/settings/iniSettings.py
  projects/configgen/tests/generators/viceGenerator_test.py
  projects/frontend/es-app/src/emulators/EmulatorDescriptor.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemDeserializer.cpp
Due: tests configgen, tests emulationstation

feat(game): add astebros demo on megadrive
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/megadrive/init/roms/Astebros demo (en).zip
  package/recalbox-romfs2/systems/megadrive/init/roms/Astebros demo (fr).zip
  package/recalbox-romfs2/systems/megadrive/init/roms/Demons Of Asteborg & Astebros/Readme.txt
  package/recalbox-romfs2/systems/megadrive/init/roms/Demons Of Asteborg (Demo)/Readme.txt
  package/recalbox-romfs2/systems/megadrive/init/roms/gamelist.xml
  package/recalbox-romfs2/systems/megadrive/init/roms/media/images/Astebros Demo.png
  package/recalbox-romfs2/systems/megadrive/init/roms/media/images/Demons of Asteborg (Demo).png
Due: none

feat(system): add guncon2 driver for support on recalbox rgb dual
  Config.in
  board/recalbox/fsoverlay/etc/udev/rules.d/99-joysticks-exotics.rules
  package/recalbox-crt/Config.in
  package/recalbox-rgb-dual-guncon2/Config.in
  package/recalbox-rgb-dual-guncon2/recalbox-rgb-dual-guncon2.mk
Due: none

feat(system): lightgun: add support for guncon2 in lightgun configuration
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/lightgun.cfg
  package/recalbox-rgb-dual-guncon2/Config.in
  projects/configgen/configgen/generators/libretro/libretroLightGuns.py
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
Due: tests configgen, tests emulationstation

feat(joystick): bump joycond
  package/joycond/joycond.mk
Due: none

feat(joystick): bump hid-nintendo
  package/hid-nintendo/hid-nintendo.mk
Due: none

fix(frontend): fix system types & device requirement for virtual systems
  projects/frontend/es-app/src/games/IFilter.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/SystemView.cpp
Due: tests emulationstation

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
