Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch

fix(hardware): fix gpicase mappings
  projects/recalbox-hardware/case/installers/gpi/assets/es_input.fragment.xml
  projects/recalbox-hardware/case/installers/gpi2/assets/es_input.cfg
  projects/recalbox-hardware/case/installers/gpi2w/assets/es_input.fragment.xml
Due: none

chore: end migration from mali-t62x to librelec-libmali
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: none

chore: rename mali-t62x mali drivers to librelec-libmali
  Config.in
  configs/recalbox-odroidxu4_defconfig
  package/librelec-libmali/0001-add-the-libgbm-wrapper-to-the-build.patch
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: tests buildroot patches

chore(rg353x): add a fix when using GPT partition table type
  board/recalbox/fsoverlay/etc/init.d/S11share
Due: none

feat: add ES support for rg353x and rg503 family boards
  board/recalbox/fsoverlay/etc/udev/rules.d/91-pulseaudio.rules
  board/recalbox/fsoverlay/usr/share/pulseaudio/alsa-mixer/profile-sets/rk817.conf
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/MainRunner.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSystem.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.h
  projects/frontend/es-app/src/scraping/scrapers/recalbox/RecalboxEndPoints.cpp
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/ResolutionAdapter.cpp
  projects/frontend/es-core/src/audio/pulseaudio/PulseAudioController.cpp
  projects/frontend/es-core/src/hardware/Board.cpp
  projects/frontend/es-core/src/hardware/BoardType.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XVolumeReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XVolumeReader.h
  projects/frontend/es-core/src/hardware/messaging/HardwareMessageSender.cpp
  projects/frontend/es-core/src/hardware/messaging/IHardwareNotifications.h
  projects/frontend/es-core/src/hardware/messaging/MessageTypes.h
Due: tests emulationstation

chore: simplification of adding new board
  package/libretro-flycast/libretro-flycast.mk
  package/libretro-mupen64plus-nx/libretro-mupen64plus-nx.mk
  package/libretro-parallel-n64/0001-add-odroidgo2-board.patch
  package/libretro-parallel-n64/0002-add-gcc10-compat.patch
  package/libretro-parallel-n64/libretro-parallel-n64.mk
  package/libretro-uae4arm/libretro-uae4arm.mk
  package/libretro-vitaquake2/libretro-vitaquake2.mk
  package/oricutron/oricutron.mk
  package/recalbox-initramfs/recalbox-initramfs.mk
  package/retroarch/retroarch.mk
Due: tests buildroot patches

chore(upgrade): show first install step right after the image has been correctly checked
  board/recalbox/fsoverlay/etc/init.d/S11upgrade
Due: none

chore(rg353x): add specific rg353x GPT partition probe
  board/recalbox/fsoverlay/recalbox/scripts/upgrade/recalbox-squashfs-upgrade.sh
Due: none

chore(rg353x): add possiblity to build resource.img linux image
  custom/linux/Config.in
  custom/linux/Config.in.patch
  custom/linux/linux.mk
  custom/linux/linux.mk.patch
Due: none

docs(release): recalbox 9 release notes
  RELEASE-NOTES.md
Due: none

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

fix(frontend): fix language variables issues
  projects/frontend/es-app/src/guis/menus/GuiMenuBootSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.cpp
  projects/frontend/es-app/src/scraping/scrapers/recalbox/RecalboxEndPoints.h
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperEndPoints.h
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
  projects/frontend/locale/emulationstation2.pot
Due: tests emulationstation

feat(i18n): add latest translations variables
  projects/frontend/locale/lang/ar/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/ca/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/cs/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/de/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/el/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/en/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/es/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/eu_ES/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/fa_IR/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/fr/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/gl_ES/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/hu/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/it/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/ja_JP/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/ko/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/lb_LU/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/lt_LT/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/lv_LV/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/nb_NO/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/nl/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/nn_NO/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/pl/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/pt/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/pt_BR/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/ro/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/ru_RU/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/sv_SE/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/tr/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/uk_UA/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/zh_CN/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/zh_TW/LC_MESSAGES/emulationstation2.po
Due: tests emulationstation

feat(frontend): add translations for recalbox 9
  projects/frontend/locale/lang/ar/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/ca/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/cs/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/de/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/el/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/en/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/es/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/eu_ES/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/fa_IR/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/fr/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/gl_ES/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/hu/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/it/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/ja_JP/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/ko/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/lb_LU/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/lt_LT/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/lv_LV/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/nb_NO/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/nl/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/nn_NO/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/pl/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/pt/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/pt_BR/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/ro/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/ru_RU/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/sv_SE/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/tr/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/uk_UA/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/zh_CN/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/zh_TW/LC_MESSAGES/emulationstation2.po
Due: tests emulationstation

fix(translations): remove the possibility to translate controllers buttons
  projects/frontend/es-app/src/guis/GuiControlHints.cpp
Due: tests emulationstation

fix(frontend): cases: fix RaspberryPiTouchDisplay case having a disabled shutdown menu
  projects/frontend/es-core/src/hardware/Case.cpp
  projects/frontend/es-core/src/hardware/Case.h
Due: tests emulationstation

fix(system): rrgbd: fix switch to hdmi on pi4 and pi3
  board/recalbox/fsoverlay/recalbox/scripts/recalbox-utils.sh
  board/recalbox/fsoverlay/usr/bin/kms-manager
  package/recalbox-crt/S13crt
Due: none

fix(system): rrgbd: fix migration causing bad switch from crt to hdmi
  package/recalbox-crt/S13crt
Due: none

feat: add possibility to upgrade bootloader (uboot) on upgrade
  board/recalbox/anbernic/rg353x/genimage.cfg
  board/recalbox/copy-recalbox-archives.sh
  package/recalbox-initramfs/busybox.config
  package/recalbox-initramfs/init
Due: none

fix(system): rrgbd: fix scart to hdmi switch logic
  package/recalbox-crt/S13crt
Due: none
