Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch

fix(configgen): rrgbd: avoid setting resolution from commandline - fixes n64 standalone core
  projects/configgen/configgen/Emulator.py
Due: tests configgen

feat(system): rrgbd: fix dos and n64 resolutions
  package/recalbox-crt/crt-config/systems.txt
  projects/configgen/configgen/generators/libretro/crt/LibretroCoreConfigCRT.py
  projects/configgen/tests/generators/libretro/crt/LibretroCoreConfigCRT_test.py
Due: tests configgen

fix(configgen): rrgbd: avoid setting resolution from commandline
  projects/configgen/configgen/Emulator.py
Due: tests configgen

fix(frontend): fix media path in gamelists.xml (absolute => relative)
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
Due: tests emulationstation

fix(system): rrgbd: fix theme migration and add a migration system
  package/recalbox-crt/S13crt
  projects/frontend/es-app/src/MainRunner.cpp
Due: tests emulationstation

feat(theme): update theme version for gameclip in 240p
  package/recalbox-themes/recalbox-themes.mk
Due: none

fix(system): rrgbd: add 480i possibility for max
  package/recalbox-crt/crt-config/systems.txt
  package/recalbox-romfs2/systems/macintosh/system.ini
Due: none

chore: revert : remove xpad triggers to button patch
  board/recalbox/kernel_patches/5.10/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.12/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.15/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.4/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.9/linux-xpad-triggers-to-buttons.patch
Due: none

feat(system): rrgbd: allow to set priority on hdmi when a hdmi cable is plugged
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/etc/init.d/S05hardware
  board/recalbox/fsoverlay/etc/init.d/S13hardware
  board/recalbox/fsoverlay/recalbox/scripts/recalbox-utils.sh
  board/recalbox/fsoverlay/usr/bin/kms-manager
  package/recalbox-crt/S13crt
  package/recalbox-crt/crt-config/recalbox-crt-options.cfg
  package/recalbox-crt/recalbox-crt.mk
  projects/frontend/CMakeLists.txt
  projects/frontend/es-app/src/EmulationStation.h
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/emulators/run/CrtData.h
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuThemeOptions.cpp
  projects/frontend/es-app/src/views/SplashView.cpp
  projects/frontend/es-core/src/CrtConf.h
  projects/frontend/es-core/src/guis/GuiInfoPopupBase.cpp
  projects/frontend/es-core/src/hardware/crt/CrtRGBDual.h
Due: tests emulationstation

feat(frontend): rrgbd: fix rpi3 detection of rrgbd connected
  projects/frontend/es-core/src/hardware/crt/CrtRGBDual.h
Due: tests emulationstation

fix: make non VGA and non HDMI configuration works again
  board/recalbox/fsoverlay/recalbox/scripts/recalbox-utils.sh
  board/recalbox/fsoverlay/usr/bin/kms-manager
  package/recalbox-crt/S13crt
Due: none

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

fix: fix dolphin dependencies
  package/dolphin-emu/Config.in
Due: none

fix(kodi): set default resolution to 720p on rpizero2
  package/recalbox-system/rpizero2/recalbox.conf
Due: none

fix: fix armv6 compilation of libatomic
  board/recalbox/rpi1/patches/gcc/0001-armv6-march-for-rpi1.patch
  configs/recalbox-rpi1_defconfig
Due: none

feat(standalone): bump amiberry to v5.3
  package/amiberry/amiberry-0000-resources-path.patch
  package/amiberry/amiberry-0001-libcapsimage-path.patch
  package/amiberry/amiberry-0002-recalbox-path.patch
  package/amiberry/amiberry-0003-compilation-options.patch
  package/amiberry/amiberry-0004-add-rpi4-64bits-support.patch
  package/amiberry/amiberry-0004-load-mouse-maps.patch
  package/amiberry/amiberry.mk
Due: tests buildroot patches

feat(standalone): bump amiberry to v5.4
  RELEASE-NOTES.md
  package/amiberry/amiberry-0000-resources-path.patch
  package/amiberry/amiberry-0001-libcapsimage-path.patch
  package/amiberry/amiberry-0002-recalbox-path.patch
  package/amiberry/amiberry-0003-compilation-options.patch
  package/amiberry/amiberry-0004-add-rpi4-64bits-support.patch
  package/amiberry/amiberry-0005-add-s922x-platform.patch
  package/amiberry/amiberry.mk
Due: tests buildroot patches

fix(libretro-pcsx_rearmed): fix pause menu in the game
  RELEASE-NOTES.md
  package/libretro-pcsx_rearmed/libretro-pcsx_rearmed.mk
Due: none

feat(core): improve gsplus generator & add exoappleiigs config support
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  package/recalbox-romfs2/systems/apple2gs/system.ini
  projects/configgen/configgen/generators/gsplus/exoConverter.py
  projects/configgen/configgen/generators/gsplus/gsplusGenerator.py
Due: tests configgen

feat(core): add standalone vice emulator 3.6.1
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/recalbox-romfs2/systems/c64/system.ini
  package/vice/Config.in
  package/vice/vice.mk
  package/xa65/Config.in
  package/xa65/xa65.mk
  projects/configgen/configgen/generators/vice/viceGenerator.py
  projects/configgen/tests/generators/viceGenerator_test.py
Due: tests configgen

feat: bump libretro retro8
  package/libretro-retro8/libretro-retro8-0000-cleanup-clion-folders.patch
  package/libretro-retro8/libretro-retro8-0001-fix-compilation.patch
  package/libretro-retro8/libretro-retro8-0002-exit-on-error.patch
  package/libretro-retro8/libretro-retro8-0003-new-png-format.patch
  package/libretro-retro8/libretro-retro8.mk
Due: tests buildroot patches

feat: bump libretro bluemsx
  RELEASE-NOTES.md
  package/libretro-bluemsx/libretro-bluemsx.mk
Due: none

feat: use gcc11
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
Due: none

chore: fix gcc11 compat
  board/recalbox/odroidgo2/kernel_patches/4.4/0001-esp8089-build-fix.patch
  board/recalbox/odroidgo2/kernel_patches/4.4/0002-rtl8821cu-no-bool-operation.patch
  board/recalbox/odroidgo2/kernel_patches/4.4/0003-rga2-suspend.patch
  board/recalbox/odroidgo2/kernel_patches/4.4/0004-rockchip-drm.patch
  board/recalbox/odroidgo2/kernel_patches/4.4/0005-compat-gcc11.patch
  board/recalbox/odroidgo2/kernel_patches/4.4/0006-jack-inverted-state.patch
Due: none

feat: bump libretro neocd
  RELEASE-NOTES.md
  package/libretro-neocd/libretro-neocd.mk
Due: none

chore: replaced freeimage package in profit of libfreeimage
  Config.in
  custom/list.hash
  custom/package/libfreeimage/libfreeimage.mk
  custom/package/libfreeimage/libfreeimage.mk.patch
  package/beebem/Config.in
  package/beebem/beebem.mk
  package/freeimage/Config.in
  package/freeimage/freeimage.mk
  package/freeimage/freeimage.pc
  package/recalbox-emulationstation2/Config.in
  package/recalbox-emulationstation2/recalbox-emulationstation2.mk
Due: none

fix: add missing release notes entries
  RELEASE-NOTES.md
Due: none

feat: bump libretro race
  RELEASE-NOTES.md
  package/libretro-race/libretro-race.mk
Due: none

chore: update patches for buildroot 2022.05.3
  custom/linux/Config.in
  custom/linux/Config.in.patch
  custom/linux/linux.mk
  custom/linux/linux.mk.patch
  custom/list.hash
  custom/package/clang/clang.hash.patch
  custom/package/ffmpeg/ffmpeg.mk
  custom/package/ffmpeg/ffmpeg.mk.patch
  custom/package/llvm/llvm.hash.patch
  custom/package/luajit/Config.in
  custom/package/luajit/Config.in.patch
  custom/package/mosquitto/mosquitto.mk
  custom/package/mosquitto/mosquitto.mk.patch
  custom/package/nodejs/nodejs.mk
  custom/package/nodejs/nodejs.mk.patch
  custom/package/sdl2/sdl2.mk
  custom/package/sdl2/sdl2.mk.patch
  custom/package/x11r7/xdriver_xf86-video-amdgpu/xdriver_xf86-video-amdgpu.hash
  custom/package/x11r7/xdriver_xf86-video-amdgpu/xdriver_xf86-video-amdgpu.hash.patch
Due: none

fix: fix beebem gcc11 compilation & dependencies
  package/beebem/beebem.mk
Due: none

chore: add gcc11 compat
  board/recalbox/odroidgo2/kernel_patches/4.4/0005-compat-gcc11.patch
  package/mupen64plus-video-gles2rice/0001-gcc-11-compat.patch
Due: tests buildroot patches

fix: make cross compilation works on armv6
  custom/list.hash
  custom/package/x265/x265.mk
  custom/package/x265/x265.mk.patch
Due: none

fix: make installation of kodi plugins work again
  custom/list.hash
  custom/support/scripts/expunge-gconv-modules
  custom/support/scripts/expunge-gconv-modules.patch
  custom/toolchain/toolchain.mk
  custom/toolchain/toolchain.mk.patch
Due: none

feat: bump libretro uae4arm
  RELEASE-NOTES.md
  package/libretro-uae4arm/libretro-uae4arm.mk
Due: none

feat(game): add astebros demo on megadrive
  package/recalbox-romfs2/systems/megadrive/init/roms/gamelist.xml
Due: none
