Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch

chore(rg353x): add possiblity to build resource.img linux image
  custom/linux/Config.in
  custom/linux/Config.in.patch
  custom/linux/linux.mk
  custom/linux/linux.mk.patch
Due: none

chore(rg353x): add specific rg353x GPT partition probe
  board/recalbox/fsoverlay/recalbox/scripts/upgrade/recalbox-squashfs-upgrade.sh
Due: none

chore: end migration from mali-t62x to librelec-libmali
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: none

feat: add ES support for rg353x and rg503 family boards
  board/recalbox/fsoverlay/etc/udev/rules.d/91-pulseaudio.rules
  board/recalbox/fsoverlay/usr/share/pulseaudio/alsa-mixer/profile-sets/rk817.conf
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/MainRunner.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSystem.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.h
  projects/frontend/es-app/src/scraping/scrapers/recalbox/RecalboxEndPoints.cpp
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/ResolutionAdapter.cpp
  projects/frontend/es-core/src/audio/pulseaudio/PulseAudioController.cpp
  projects/frontend/es-core/src/hardware/Board.cpp
  projects/frontend/es-core/src/hardware/BoardType.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XVolumeReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XVolumeReader.h
  projects/frontend/es-core/src/hardware/messaging/HardwareMessageSender.cpp
  projects/frontend/es-core/src/hardware/messaging/IHardwareNotifications.h
  projects/frontend/es-core/src/hardware/messaging/MessageTypes.h
Due: tests emulationstation

feat: add possibility to upgrade bootloader on upgrade
  board/recalbox/anbernic/rg353x/genimage.cfg
  board/recalbox/copy-recalbox-archives.sh
  package/recalbox-initramfs/busybox.config
  package/recalbox-initramfs/init
Due: none

chore(upgrade): show first install step right after the image has been correctly checked
  board/recalbox/fsoverlay/etc/init.d/S11upgrade
Due: none

feat(core): add core lr-mojozork for zmachine
  Config.in
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-mojozork/Config.in
  package/libretro-mojozork/libretro-mojozork.mk
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

feat(system): add guncon2 driver for support on recalbox rgb dual
  Config.in
  board/recalbox/fsoverlay/etc/udev/rules.d/99-joysticks-exotics.rules
  package/recalbox-crt/Config.in
  package/recalbox-rgb-dual-guncon2/Config.in
  package/recalbox-rgb-dual-guncon2/recalbox-rgb-dual-guncon2.mk
Due: none

feat(system): lightgun: add support for guncon2 in lightgun configuration
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/lightgun.cfg
  package/recalbox-rgb-dual-guncon2/Config.in
  projects/configgen/configgen/generators/libretro/libretroLightGuns.py
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
Due: tests configgen, tests emulationstation

feat(joystick): bump hid-nintendo
  package/hid-nintendo/hid-nintendo.mk
Due: none

feat(joystick): bump joycond
  package/joycond/joycond.mk
Due: none

feat(core): add uae4all core for rpi1 & 0
  CHANGELOG.md
  Config.in
  RELEASE-NOTES.md
  TESTING.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  board/recalbox/fsoverlay/recalbox/share_upgrade/bios/lisez-moi.txt
  board/recalbox/fsoverlay/recalbox/share_upgrade/bios/readme.txt
  configs/recalbox-rpi1_defconfig
  package/libretro-uae4all/0001-Use-cyclone-core.patch
  package/libretro-uae4all/0002-lower-cycle-unit-value.patch
  package/libretro-uae4all/Config.in
  package/libretro-uae4all/libretro-uae4all.mk
  package/recalbox-romfs2/systems/amiga600/system.ini
Due: tests buildroot patches

fix: add atari 7800 pal bios support
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  board/recalbox/fsoverlay/recalbox/share_upgrade/bios/lisez-moi.txt
  board/recalbox/fsoverlay/recalbox/share_upgrade/bios/readme.txt
  package/libretro-prosystem/libretro-prosystem.mk
Due: none

feat: replace Moonlight embedded with Moonlight QT
  Config.in
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-x86_64_defconfig
  package/moonlight-embedded/Moonlight.sh
  package/moonlight-embedded/moonlight-embedded.mk
  package/moonlight-qt/0001-quit-on-pair.patch
  package/moonlight-qt/Config.in
  package/moonlight-qt/Moonlight.sh
  package/moonlight-qt/moonlight-qt.mk
Due: tests buildroot patches

chore(moonlight): adapt recalbox moonlight configgen generator for moonlight-qt
  package/moonlight-qt/moonlight-qt.mk
  projects/configgen/configgen/generators/moonlight/moonlightGenerator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/tests/generators/moonlightGenerator_test.py
  projects/configgen/tests/resources/moonlight/gamelist.txt
  projects/configgen/tests/resources/moonlight/moonlight.conf
Due: tests configgen

feat(ci): bump python to 3.10 in ci
  .gitlab-ci.yml
Due: none

fix(system): remove hdmi hotplug option from config.txt
  package/recalbox-system/config.txt
Due: none

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

feat(frontend): add frontend rotation support
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.h
  projects/frontend/es-app/src/views/crt/CrtView.cpp
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/Renderer.h
  projects/frontend/es-core/src/resources/Font.cpp
Due: tests emulationstation

feat(configgen): rrgbd: add dynamic mode and screen rotation support for arcade games
  package/recalbox-crt/crt-config/arcade_games_v2.txt
  package/recalbox-romfs2/scripts/systemholder.py
  projects/configgen/configgen/Emulator.py
  projects/configgen/configgen/crt/CRTConfigParser.py
  projects/configgen/configgen/crt/CRTModeGenerator.py
  projects/configgen/configgen/crt/CRTModeOffsetter.py
  projects/configgen/configgen/crt/CRTMonitorRanges.py
  projects/configgen/configgen/crt/CRTTypes.py
  projects/configgen/configgen/crt/Mode.py
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/libretro/crt/LibretroConfigCRT.py
  projects/configgen/configgen/generators/libretro/crt/LibretroCoreConfigCRT.py
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/configgen/generators/libretro/libretroRetroarch.py
  projects/configgen/configgen/utils/Rotation.py
  projects/configgen/tests/crt/CRTConfigParser_test.py
  projects/configgen/tests/crt/CRTModeGenerator_test.py
  projects/configgen/tests/emulatorlauncher_test.py
  projects/configgen/tests/generators/libretro/crt/LibretroConfigCRTV2_test.py
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.h
  projects/frontend/es-core/src/CrtConf.h
Due: tests configgen, tests emulationstation

feat(configgen): add crt mode generator
  projects/configgen/configgen/crt/CRTModeGenerator.py
  projects/configgen/configgen/crt/Mode.py
  projects/configgen/configgen/crt/MonitorRange.py
  projects/configgen/configgen/generators/libretro/crt/LibretroConfigCRT.py
  projects/configgen/tests/crt/CRTModeGenerator_test.py
  projects/configgen/tests/generators/libretro/crt/LibretroConfigCRT_test.py
Due: tests configgen

fix(frontend): fix crt detection in renderer
  projects/frontend/es-core/src/Renderer.cpp
Due: tests emulationstation

fix(romfs): add missing thomson game following romfs move
  package/recalbox-romfs2/systems/thomson/init/roms/gamelist.xml
  package/recalbox-romfs2/systems/thomson/init/roms/liftoff.fd
  package/recalbox-romfs2/systems/thomson/init/roms/media/images/liftoff.png
Due: none

feat(romfs): add super game boy directory to auto config games for this support
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/gb/upgrade/roms/.core.cfg
  package/recalbox-romfs2/systems/gb/upgrade/roms/supergameboy/.core.cfg
  package/recalbox-romfs2/systems/gb/upgrade/roms/supergameboy/.recalbox.conf
  package/recalbox-romfs2/systems/gb/upgrade/roms/supergameboy/.retroarch.cfg
  package/recalbox-romfs2/systems/gbc/upgrade/roms/.core.cfg
  package/recalbox-romfs2/systems/gbc/upgrade/roms/supergameboy/.core.cfg
  package/recalbox-romfs2/systems/gbc/upgrade/roms/supergameboy/.recalbox.conf
  package/recalbox-romfs2/systems/gbc/upgrade/roms/supergameboy/.retroarch.cfg
Due: none

feat: update kernel firmware package to 20230210
  package/kernelfirmwares/kernelfirmwares.mk
Due: none

feat(frontend): resolutions: filter high resolutions for frontend and global videomodes
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuResolutionSettings.cpp
Due: tests emulationstation

feat(system): bump fbneo to aad581f27fbc0777dfd24be7536f8fd6facf857b
  package/libretro-fbneo/libretro-fbneo.mk
Due: none

feat(frontend): menu: add recommended video in scrap video menu
  RELEASE-NOTES.md
  projects/frontend/es-app/src/guis/menus/GuiMenuScreenScraperOptions.cpp
Due: tests emulationstation

perf(frontend): move auto-hashing into its own low-priority thread
  projects/frontend/es-app/src/games/FolderData.h
  projects/frontend/es-app/src/games/RootFolderData.h
  projects/frontend/es-app/src/systems/SystemData.h
  projects/frontend/es-app/src/systems/SystemHasher.cpp
  projects/frontend/es-app/src/systems/SystemHasher.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
Due: tests emulationstation

feat(emulators): add crt curved shader-set support
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/configs/shadersets/crtcurved.cfg
  projects/configgen/configgen/Emulator.py
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
Due: tests configgen, tests emulationstation

feat(frontend): add wizard to disable smooth and enable integer scale when enabling shaders
  RELEASE-NOTES.md
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.h
Due: tests emulationstation

feat: bump raspberrypi kernel to 5.15.92
  board/recalbox/rpi/kernel_patches/5.15/0001-feat-add-piboy-dmg-panel-for-kms-driver.patch
  board/recalbox/rpi/kernel_patches/5.15/0002-feat-add-auo-a030vvn01-dpi-panel-for-kms-driver.patch
  board/recalbox/rpi/kernel_patches/5.15/0003-linux-usb-hid-input-xinmo.patch
  board/recalbox/rpi/kernel_patches/5.15/0004-linux-usb-xinmo20pins-support.patch
  board/recalbox/rpi/kernel_patches/5.15/0005-linux-vc4-dpi-enable-interlace.patch
  board/recalbox/rpi/kernel_patches/5.15/0006-linux-bcm-clk-add-roundup-ability-to-the-clock-divisor.patch
  board/recalbox/rpi/kernel_patches/5.15/0007-feat-add-retroflag-gpi2w-dpi-panel-for-kms-driver.patch
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  custom/package/rpi-firmware/rpi-firmware.hash
  custom/package/rpi-firmware/rpi-firmware.hash.patch
  custom/package/rpi-firmware/rpi-firmware.mk
  custom/package/rpi-firmware/rpi-firmware.mk.patch
Due: none

feat(core): add libretro same_cdi for cdi
  Config.in
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  configs/recalbox-x86_64_defconfig
  package/libretro-same_cdi/Config.in
  package/libretro-same_cdi/libretro-same_cdi-0000-recalbox-path.patch
  package/libretro-same_cdi/libretro-same_cdi.mk
  package/recalbox-romfs2/systems/cdi/system.ini
Due: tests buildroot patches

feat(infra): update rpi imager descriptions
  scripts/release/templates/rpi_imager/os_list_imagingutility_recalbox.json
Due: none

feat(frontend): rrgbd: fix calibration screen infinite input
  projects/frontend/es-app/src/views/crt/CrtView.cpp
Due: tests emulationstation

fix(frontend): fix release events for joysticks & hats
  projects/frontend/es-core/src/input/InputCompactEvent.cpp
  projects/frontend/es-core/src/input/InputCompactEvent.h
  projects/frontend/es-core/src/input/InputDevice.cpp
  projects/frontend/es-core/src/input/InputDevice.h
  projects/frontend/es-core/src/input/InputEvent.cpp
  projects/frontend/es-core/src/input/InputEvent.h
  projects/frontend/es-core/src/input/InputManager.cpp
  projects/frontend/es-core/src/input/InputManager.h
Due: tests emulationstation

fix(romfs): remove .zip extension for z-machine
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

feat(system): add composite support in kms-enabler
  board/recalbox/fsoverlay/usr/bin/kms-manager
Due: none
