Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

feat(ci): remove rpi 32 bit image from ci and from download assets
  .gitlab-ci.yml
  scripts/release/generate_external_installer_assets.sh
  scripts/release/templates/rpi_imager/os_list_imagingutility_recalbox.json
Due: none

feat(frontend): adapt theme to low resolutions
  projects/frontend/data/ResourceUtil.cpp
  projects/frontend/data/Resources.h
  projects/frontend/data/converted/f8bitfortressplus_ttf.cpp
  projects/frontend/data/resources/f8bitfortressplus.ttf
  projects/frontend/es-app/src/components/TextListComponent.h
  projects/frontend/es-app/src/views/SystemView.cpp
  projects/frontend/es-core/src/components/HelpComponent.cpp
  projects/frontend/es-core/src/guis/GuiInfoPopup.cpp
  projects/frontend/es-core/src/resources/Font.h
Due: tests emulationstation

feat(frontend): lowresolutions: add pixel perfect support for help icons
  projects/frontend/es-core/src/components/HelpComponent.cpp
Due: tests emulationstation

feat(frontend): lowresolutions: fix controller detection popup for 240p
  projects/frontend/es-core/src/guis/GuiDetectDevice.cpp
Due: tests emulationstation

feat(frontent): lowresolutions: add support for popups and input text
  projects/frontend/es-app/src/views/SplashView.cpp
  projects/frontend/es-core/src/components/HelpComponent.cpp
  projects/frontend/es-core/src/guis/GuiArcadeVirtualKeyboard.cpp
  projects/frontend/es-core/src/guis/GuiInfoPopupBase.cpp
Due: tests emulationstation

feat(frontent): lowresolutions: set new recalbox-240p theme when installing rrgbd
  package/recalbox-crt/S13crt
  package/recalbox-themes/recalbox-themes.mk
Due: none

feat(frontend): lowresolutions: generic support for low resolution themes
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/components/TextListComponent.h
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.cpp
  projects/frontend/es-core/src/guis/GuiInfoPopup.cpp
  projects/frontend/es-core/src/guis/GuiInfoPopupBase.cpp
  projects/frontend/es-core/src/resources/Font.cpp
  projects/frontend/es-core/src/resources/Font.h
Due: tests emulationstation

feat(frontend): lowresolutions: migration from old theme
  RELEASE-NOTES.md
  package/recalbox-crt/S13crt
Due: none

feat(frontend): lowresolutions: fix popup text size when high rez
  projects/frontend/es-app/src/components/TextListComponent.h
  projects/frontend/es-app/src/guis/GuiBiosScan.cpp
  projects/frontend/es-app/src/guis/GuiUpdateRecalbox.cpp
  projects/frontend/es-app/src/views/SplashView.cpp
  projects/frontend/es-app/src/views/SystemView.cpp
  projects/frontend/es-core/src/Renderer.h
  projects/frontend/es-core/src/WindowManager.cpp
  projects/frontend/es-core/src/components/HelpComponent.cpp
  projects/frontend/es-core/src/components/SwitchComponent.cpp
  projects/frontend/es-core/src/guis/GuiDetectDevice.cpp
  projects/frontend/es-core/src/guis/GuiInfoPopup.cpp
  projects/frontend/es-core/src/guis/GuiInfoPopupBase.cpp
  projects/frontend/es-core/src/guis/GuiInfoPopupScraper.cpp
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
Due: tests emulationstation

feat(frontend): lowresolutions: add specific popup for background scrap on 240p
  projects/frontend/es-app/src/guis/GuiScraperRun.cpp
Due: tests emulationstation

feat(frontend): lowresolutions: adapt scrapper gui to low resolutions
  projects/frontend/es-app/src/components/ScraperSearchComponent.cpp
  projects/frontend/es-app/src/components/ScraperSearchComponent.h
  projects/frontend/es-app/src/guis/GuiScraperRun.cpp
  projects/frontend/es-app/src/guis/GuiScraperRun.h
  projects/frontend/es-app/src/guis/GuiScraperSingleGameRun.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenu.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuScraper.cpp
  projects/frontend/es-core/src/components/BusyComponent.cpp
  projects/frontend/es-core/src/guis/GuiInfoPopupBase.cpp
Due: tests emulationstation

feat(frontend): lowresolutions: show validation popup only when changing theme to other than 240p
  projects/frontend/es-app/src/guis/menus/GuiMenuThemeOptions.cpp
Due: tests emulationstation

feat(frontend): lowresolution: fix switch and slider components for low rez
  projects/frontend/es-core/src/components/SliderComponent.cpp
  projects/frontend/es-core/src/components/SwitchComponent.cpp
Due: tests emulationstation

feat(system): rrgbd: enhance gb and gbc overlay
  board/recalbox/fsoverlay/recalbox/share_init/240poverlays/gb/gb.png
  board/recalbox/fsoverlay/recalbox/share_init/240poverlays/gbc/gbc.png
Due: none

feat(system): rrgbd: set internal palette for gambatte
  projects/configgen/configgen/generators/libretro/crt/LibretroCoreConfigCRT.py
  projects/configgen/tests/generators/libretro/crt/LibretroCoreConfigCRT_test.py
Due: tests configgen

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

feat(system): rrgbd: add snes, nes, and amiga new modes and cores
  RELEASE-NOTES.md
  package/recalbox-crt/crt-config/systems.txt
  package/recalbox-romfs2/systems/amiga1200/system.ini
  package/recalbox-romfs2/systems/amiga600/system.ini
  package/recalbox-romfs2/systems/fds/system.ini
  package/recalbox-romfs2/systems/nes/system.ini
  package/recalbox-romfs2/systems/satellaview/system.ini
  package/recalbox-romfs2/systems/snes/system.ini
  package/recalbox-romfs2/systems/sufami/system.ini
  projects/configgen/configgen/generators/libretro/crt/LibretroCoreConfigCRT.py
  projects/configgen/tests/generators/libretro/crt/LibretroCoreConfigCRT_test.py
Due: tests configgen

feat(system): rrgbd: add new games support for 15kHz
  RELEASE-NOTES.md
  package/recalbox-crt/crt-config/arcade_games.txt
Due: none

fix(frontend): fix cancel button displayed on controller configuration
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
  projects/frontend/es-core/src/guis/GuiInputConfig.h
  projects/frontend/locale/emulationstation2.pot
Due: tests emulationstation

feat(theme): update of the theme for the X68000 system
  RELEASE-NOTES.md
Due: none

feat(joystick): bump hid-nintendo
  package/hid-nintendo/hid-nintendo.mk
Due: none

feat(joystick): bump joycond
  package/joycond/joycond.mk
Due: none

fix(dolphin): make hotkeys to work again on dolphin for xbox recognized controllers
  RELEASE-NOTES.md
  projects/configgen/configgen/generators/dolphin/dolphinControllers.py
Due: tests configgen

chore: remove -fno-exceptions from CXXFLAGS
  package/libretro-fbneo/0001-add-odroidgo2-platform.patch
Due: tests buildroot patches

chore(libretro-fbneo): bump latest version
  RELEASE-NOTES.md
  package/libretro-fbneo/libretro-fbneo.mk
Due: none

feat(core): add lr-minivmac core
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-minivmac/libretro-minivmac-0000-set-bios-path.patch
  package/libretro-minivmac/libretro-minivmac.mk
  package/recalbox-romfs2/systems/macintosh/system.ini
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/configgen/recalboxFiles.py
Due: tests configgen, tests buildroot patches

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
