Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch

chore: update patches for buildroot 2022.05.3
  custom/linux/Config.in
  custom/linux/Config.in.patch
  custom/linux/linux.mk
  custom/linux/linux.mk.patch
  custom/list.hash
  custom/package/clang/clang.hash.patch
  custom/package/ffmpeg/ffmpeg.mk
  custom/package/ffmpeg/ffmpeg.mk.patch
  custom/package/llvm/llvm.hash.patch
  custom/package/luajit/Config.in
  custom/package/luajit/Config.in.patch
  custom/package/mosquitto/mosquitto.mk
  custom/package/mosquitto/mosquitto.mk.patch
  custom/package/nodejs/nodejs.mk
  custom/package/nodejs/nodejs.mk.patch
  custom/package/sdl2/sdl2.mk
  custom/package/sdl2/sdl2.mk.patch
  custom/package/x11r7/xdriver_xf86-video-amdgpu/xdriver_xf86-video-amdgpu.hash
  custom/package/x11r7/xdriver_xf86-video-amdgpu/xdriver_xf86-video-amdgpu.hash.patch
Due: none

fix: fix beebem gcc11 compilation & dependencies
  package/beebem/beebem.mk
Due: none

feat: use gcc11
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
Due: none

chore: replaced freeimage package in profit of libfreeimage
  Config.in
  custom/list.hash
  custom/package/libfreeimage/libfreeimage.mk
  custom/package/libfreeimage/libfreeimage.mk.patch
  package/beebem/Config.in
  package/beebem/beebem.mk
  package/freeimage/Config.in
  package/freeimage/freeimage.mk
  package/freeimage/freeimage.pc
  package/recalbox-emulationstation2/Config.in
  package/recalbox-emulationstation2/recalbox-emulationstation2.mk
Due: none

feat: bump libretro neocd
  RELEASE-NOTES.md
  package/libretro-neocd/libretro-neocd.mk
Due: none

feat: bump libretro retro8
  package/libretro-retro8/libretro-retro8-0000-cleanup-clion-folders.patch
  package/libretro-retro8/libretro-retro8-0001-fix-compilation.patch
  package/libretro-retro8/libretro-retro8-0002-exit-on-error.patch
  package/libretro-retro8/libretro-retro8-0003-new-png-format.patch
  package/libretro-retro8/libretro-retro8.mk
Due: tests buildroot patches

feat: bump libretro race
  RELEASE-NOTES.md
  package/libretro-race/libretro-race.mk
Due: none

fix: make cross compilation works on armv6
  custom/list.hash
  custom/package/x265/x265.mk
  custom/package/x265/x265.mk.patch
Due: none

chore: fix gcc11 compat
  board/recalbox/odroidgo2/kernel_patches/4.4/0001-esp8089-build-fix.patch
  board/recalbox/odroidgo2/kernel_patches/4.4/0002-rtl8821cu-no-bool-operation.patch
  board/recalbox/odroidgo2/kernel_patches/4.4/0003-rga2-suspend.patch
  board/recalbox/odroidgo2/kernel_patches/4.4/0004-rockchip-drm.patch
  board/recalbox/odroidgo2/kernel_patches/4.4/0005-compat-gcc11.patch
  board/recalbox/odroidgo2/kernel_patches/4.4/0006-jack-inverted-state.patch
Due: none

feat: bump libretro uae4arm
  RELEASE-NOTES.md
  package/libretro-uae4arm/libretro-uae4arm.mk
Due: none

chore: add gcc11 compat
  board/recalbox/odroidgo2/kernel_patches/4.4/0005-compat-gcc11.patch
  package/mupen64plus-video-gles2rice/0001-gcc-11-compat.patch
Due: tests buildroot patches

feat: bump libretro bluemsx
  RELEASE-NOTES.md
  package/libretro-bluemsx/libretro-bluemsx.mk
Due: none

feat(emulator): bump fuze & add missing extensions
  RELEASE-NOTES.md
  package/libretro-fuse/libretro-fuse-0001-add-missing-extensions.patch
  package/libretro-fuse/libretro-fuse.mk
  package/recalbox-romfs2/systems/zxspectrum/system.ini
Due: tests buildroot patches

feat(game): add astebros demo on megadrive
  package/recalbox-romfs2/systems/megadrive/init/roms/gamelist.xml
Due: none

feat(game): add astebros demo on megadrive
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/megadrive/init/roms/Astebros demo (en).zip
  package/recalbox-romfs2/systems/megadrive/init/roms/Astebros demo (fr).zip
  package/recalbox-romfs2/systems/megadrive/init/roms/Demons Of Asteborg & Astebros/Readme.txt
  package/recalbox-romfs2/systems/megadrive/init/roms/Demons Of Asteborg (Demo)/Readme.txt
  package/recalbox-romfs2/systems/megadrive/init/roms/gamelist.xml
  package/recalbox-romfs2/systems/megadrive/init/roms/media/images/Astebros Demo.png
  package/recalbox-romfs2/systems/megadrive/init/roms/media/images/Demons of Asteborg (Demo).png
Due: none

fix(frontend): scrapper ensure media are saved before saving path
  RELEASE-NOTES.md
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperApis.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperEngineBase.h
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.h
  projects/frontend/es-core/src/utils/network/Http.cpp
  projects/frontend/es-core/src/utils/network/Http.h
Due: tests emulationstation

feat(system): libretro: enhance shader support by setting multi threaded video when shader enabled
  RELEASE-NOTES.md
  projects/configgen/configgen/generators/libretro/libretroRetroarch.py
Due: tests configgen

feat(frontend): rrgbd: fix rpi3 detection of rrgbd connected
  projects/frontend/es-core/src/hardware/crt/CrtRGBDual.h
Due: tests emulationstation

feat(system): rrgbd: allow to set priority on hdmi when a hdmi cable is plugged
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/etc/init.d/S05hardware
  board/recalbox/fsoverlay/etc/init.d/S13hardware
  board/recalbox/fsoverlay/recalbox/scripts/recalbox-utils.sh
  board/recalbox/fsoverlay/usr/bin/kms-manager
  package/recalbox-crt/S13crt
  package/recalbox-crt/crt-config/recalbox-crt-options.cfg
  package/recalbox-crt/recalbox-crt.mk
  projects/frontend/CMakeLists.txt
  projects/frontend/es-app/src/EmulationStation.h
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/emulators/run/CrtData.h
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuThemeOptions.cpp
  projects/frontend/es-app/src/views/SplashView.cpp
  projects/frontend/es-core/src/CrtConf.h
  projects/frontend/es-core/src/guis/GuiInfoPopupBase.cpp
  projects/frontend/es-core/src/hardware/crt/CrtRGBDual.h
Due: tests emulationstation

fix: make non VGA and non HDMI configuration works again
  board/recalbox/fsoverlay/recalbox/scripts/recalbox-utils.sh
  board/recalbox/fsoverlay/usr/bin/kms-manager
  package/recalbox-crt/S13crt
Due: none

feat(system): lightgun: add support for guncon2 in lightgun configuration
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/lightgun.cfg
  package/recalbox-rgb-dual-guncon2/Config.in
  projects/configgen/configgen/generators/libretro/libretroLightGuns.py
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
Due: tests configgen, tests emulationstation

feat(system): add guncon2 driver for support on recalbox rgb dual
  Config.in
  board/recalbox/fsoverlay/etc/udev/rules.d/99-joysticks-exotics.rules
  package/recalbox-crt/Config.in
  package/recalbox-rgb-dual-guncon2/Config.in
  package/recalbox-rgb-dual-guncon2/recalbox-rgb-dual-guncon2.mk
Due: none

chore(libretro-uae): bump latest version
  RELEASE-NOTES.md
  package/libretro-uae/libretro-uae.mk
  package/recalbox-romfs2/systems/amiga1200/system.ini
  package/recalbox-romfs2/systems/amiga600/system.ini
Due: none

feat(emulator): add rb5000 - phillips vg5000 emulator
  .gitlab-ci.yml
  Config.in
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/rb5000/Config.in
  package/rb5000/rb5000.mk
  package/recalbox-romfs2/systems/vg5000/init/roms/.keep
  package/recalbox-romfs2/systems/vg5000/system.ini
  package/recalbox-romfs2/systems/vg5000/upgrade/roms/.p2k.cfg
  package/recalbox-romfs2/systems/vg5000/upgrade/roms/.readme.placeholder
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/rb5000/__init__.py
  projects/configgen/configgen/generators/rb5000/rb5000Generator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/setup.py
  scripts/linux/recaldocker.sh
Due: tests configgen

feat: add kodi advanced settings generator
  projects/configgen/configgen/generators/kodi/kodiConfig.py
  projects/configgen/configgen/generators/kodi/kodiGenerator.py
  projects/configgen/configgen/recalboxFiles.py
Due: tests configgen

feat(system): bump libretro/atari800 to 940332
  package/libretro-atari800/libretro-atari800.mk
Due: none

feat(emulator): add z-machine engine
  package/frotz-recalbox/0000-sdl2-c-options.patch
  package/frotz-recalbox/Config.in
  package/frotz-recalbox/frotz-recalbox.mk
Due: tests buildroot patches

feat(emulator): add romfs and configgen for z-machine engine
  Config.in
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/frotz-recalbox/0000-sdl2-c-options.patch
  package/frotz-recalbox/0001-configure-saves-and-quit.patch
  package/frotz-recalbox/Config.in
  package/frotz-recalbox/frotz-recalbox.mk
  package/recalbox-romfs2/systems/zmachine/init/roms/.keep
  package/recalbox-romfs2/systems/zmachine/system.ini
  package/recalbox-romfs2/systems/zmachine/upgrade/roms/.p2k.cfg
  package/recalbox-romfs2/systems/zmachine/upgrade/roms/.readme.placeholder
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/frotz/frotzGenerator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/setup.py
Due: tests configgen, tests buildroot patches

fix(frontend): fix cancel button displayed on controller configuration
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
  projects/frontend/es-core/src/guis/GuiInputConfig.h
  projects/frontend/locale/emulationstation2.pot
Due: tests emulationstation

feat(joystick): bump hid-nintendo
  package/hid-nintendo/hid-nintendo.mk
Due: none

feat(joystick): bump joycond
  package/joycond/joycond.mk
Due: none

fix(dolphin): make hotkeys to work again on dolphin for xbox recognized controllers
  RELEASE-NOTES.md
  projects/configgen/configgen/generators/dolphin/dolphinControllers.py
Due: tests configgen

chore(libretro-fbneo): bump latest version
  RELEASE-NOTES.md
  package/libretro-fbneo/libretro-fbneo.mk
Due: none

chore: remove -fno-exceptions from CXXFLAGS
  package/libretro-fbneo/0001-add-odroidgo2-platform.patch
Due: tests buildroot patches

feat(core): add lr-minivmac core
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-minivmac/libretro-minivmac-0000-set-bios-path.patch
  package/libretro-minivmac/libretro-minivmac.mk
  package/recalbox-romfs2/systems/macintosh/system.ini
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/configgen/recalboxFiles.py
Due: tests configgen, tests buildroot patches

chore: enable uhid module onboot
  board/recalbox/fsoverlay/etc/modules.conf
  board/recalbox/rpi/fsoverlay/etc/modules.conf
Due: none

feat: add bluetooth autopairing for controllers
  RELEASE-NOTES.md
  package/recalbox-bluetooth/recalbox-bluetooth.mk
  package/recalbox-bluetooth/src/init/bluetooth
  package/recalbox-bluetooth/src/scripts/autopair
  package/recalbox-bluetooth/src/scripts/btDaemon
  package/recalbox-bluetooth/src/scripts/recalbox-bluetooth-agent
  package/recalbox-bluetooth/src/scripts/simple-agent
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.h
  projects/frontend/es-app/src/mqtt/MqttClient.cpp
  projects/frontend/es-app/src/mqtt/MqttClient.h
Due: tests emulationstation
