Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

feat(core): add core lr-mojozork for zmachine
  Config.in
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-mojozork/Config.in
  package/libretro-mojozork/libretro-mojozork.mk
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

feat(system): lightgun: add support for guncon2 in lightgun configuration
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/lightgun.cfg
  package/recalbox-rgb-dual-guncon2/Config.in
  projects/configgen/configgen/generators/libretro/libretroLightGuns.py
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
Due: tests configgen, tests emulationstation

feat(system): add guncon2 driver for support on recalbox rgb dual
  Config.in
  board/recalbox/fsoverlay/etc/udev/rules.d/99-joysticks-exotics.rules
  package/recalbox-crt/Config.in
  package/recalbox-rgb-dual-guncon2/Config.in
  package/recalbox-rgb-dual-guncon2/recalbox-rgb-dual-guncon2.mk
Due: none

fix(xorg): load modesetting then intel
  RELEASE-NOTES.md
  board/recalbox/x86/fsoverlay/etc/X11/xorg.conf.d/50-modesetting-intel.conf
  configs/recalbox-x86_64_defconfig
Due: none

feat(system): add composite support in kms-enabler
  board/recalbox/fsoverlay/usr/bin/kms-manager
Due: none

feat(frontend): add fullscreen aspect ratio selection in Game Config
  projects/configgen/configgen/generators/libretro/libretroRetroarch.py
  projects/frontend/es-app/src/LibretroRatio.cpp
Due: tests configgen, tests emulationstation

feat(frontend): add the possibility to force 4/3 ratio for frontend
  projects/frontend/es-core/src/RecalboxConf.h
  projects/frontend/es-core/src/Renderer.cpp
Due: tests emulationstation

fix(romfs): remove .zip extension for z-machine
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

fix(themes): changed macintosh floppy disc images
  package/recalbox-themes/recalbox-themes.mk
Due: none

fix(xorg): load modesetting then intel
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/scripts/recalbox-utils.sh
  board/recalbox/x86/fsoverlay/etc/init.d/S31emulationstation
  configs/recalbox-x86_64_defconfig
Due: none

fix(frontend): fix default resolution selection
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/Renderer.h
  projects/frontend/es-core/src/ResolutionAdapter.cpp
  projects/frontend/es-core/src/ResolutionAdapter.h
  projects/frontend/es-core/src/bluetooth/BluetoothOverlayGUI.cpp
  projects/frontend/es-core/src/utils/Strings.cpp
Due: tests emulationstation

feat(i18n): add new languages support
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  projects/frontend/es-app/src/guis/menus/GuiMenuSystem.cpp
  projects/frontend/locale/lang/de_ch/LC_MESSAGES/emulationstation2.po
  projects/frontend/locale/lang/sk_SK/LC_MESSAGES/emulationstation2.po
Due: tests emulationstation

feat: upgrade moonlight to latest stable verison
  package/moonlight-embedded/moonlight-embedded.mk
Due: none

feat: add support for Sunshine Host
  board/recalbox/fsoverlay/recalbox/scripts/moonlight/moonlight.inc.sh
Due: none

chore: rename mali-t62x mali drivers to librelec-libmali
  Config.in
  configs/recalbox-odroidxu4_defconfig
  package/librelec-libmali/0001-add-the-libgbm-wrapper-to-the-build.patch
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: tests buildroot patches

chore: end migration from mali-t62x to librelec-libmali
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: none

feat(infra): update rpi imager descriptions
  scripts/release/templates/rpi_imager/os_list_imagingutility_recalbox.json
Due: none

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

feat(frontend): rrgbd: fix calibration screen infinite input
  projects/frontend/es-app/src/views/crt/CrtView.cpp
Due: tests emulationstation

fix(frontend): fix release events for joysticks & hats
  projects/frontend/es-core/src/input/InputCompactEvent.cpp
  projects/frontend/es-core/src/input/InputCompactEvent.h
  projects/frontend/es-core/src/input/InputDevice.cpp
  projects/frontend/es-core/src/input/InputDevice.h
  projects/frontend/es-core/src/input/InputEvent.cpp
  projects/frontend/es-core/src/input/InputEvent.h
  projects/frontend/es-core/src/input/InputManager.cpp
  projects/frontend/es-core/src/input/InputManager.h
Due: tests emulationstation

feat(system): rrgbd: use cases system to avoid having an installed case with rrgbd
  package/recalbox-crt/S13crt
  projects/frontend/es-core/src/hardware/Case.cpp
  projects/frontend/es-core/src/hardware/Case.h
Due: tests emulationstation

chore(rg353x): add a fix when using GPT partition table type
  board/recalbox/fsoverlay/etc/init.d/S11share
Due: none

feat: add possibility to upgrade bootloader on upgrade
  board/recalbox/anbernic/rg353x/genimage.cfg
  board/recalbox/copy-recalbox-archives.sh
  package/recalbox-initramfs/busybox.config
  package/recalbox-initramfs/init
Due: none

chore: simplification of adding new board
  package/libretro-flycast/libretro-flycast.mk
  package/libretro-mupen64plus-nx/libretro-mupen64plus-nx.mk
  package/libretro-parallel-n64/0001-add-odroidgo2-board.patch
  package/libretro-parallel-n64/0002-add-gcc10-compat.patch
  package/libretro-parallel-n64/libretro-parallel-n64.mk
  package/libretro-uae4arm/libretro-uae4arm.mk
  package/libretro-vitaquake2/libretro-vitaquake2.mk
  package/oricutron/oricutron.mk
  package/recalbox-initramfs/recalbox-initramfs.mk
  package/retroarch/retroarch.mk
Due: tests buildroot patches

chore(rg353x): add specific rg353x GPT partition probe
  board/recalbox/fsoverlay/recalbox/scripts/upgrade/recalbox-squashfs-upgrade.sh
Due: none

feat: add ES support for rg353x and rg503 family boards
  board/recalbox/fsoverlay/etc/udev/rules.d/91-pulseaudio.rules
  board/recalbox/fsoverlay/usr/share/pulseaudio/alsa-mixer/profile-sets/rk817.conf
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/MainRunner.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSystem.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.h
  projects/frontend/es-app/src/scraping/scrapers/recalbox/RecalboxEndPoints.cpp
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/ResolutionAdapter.cpp
  projects/frontend/es-core/src/audio/pulseaudio/PulseAudioController.cpp
  projects/frontend/es-core/src/hardware/Board.cpp
  projects/frontend/es-core/src/hardware/BoardType.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XVolumeReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XVolumeReader.h
  projects/frontend/es-core/src/hardware/messaging/HardwareMessageSender.cpp
  projects/frontend/es-core/src/hardware/messaging/IHardwareNotifications.h
  projects/frontend/es-core/src/hardware/messaging/MessageTypes.h
Due: tests emulationstation

chore(rg353x): add possiblity to build resource.img linux image
  custom/linux/Config.in
  custom/linux/Config.in.patch
  custom/linux/linux.mk
  custom/linux/linux.mk.patch
Due: none

chore(upgrade): show first install step right after the image has been correctly checked
  board/recalbox/fsoverlay/etc/init.d/S11upgrade
Due: none

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
