Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

fix(frontend): fix cancel button displayed on controller configuration
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
  projects/frontend/es-core/src/guis/GuiInputConfig.h
  projects/frontend/locale/emulationstation2.pot
Due: tests emulationstation

feat(joystick): bump joycond
  package/joycond/joycond.mk
Due: none

feat(joystick): bump hid-nintendo
  package/hid-nintendo/hid-nintendo.mk
Due: none

fix(dolphin): make hotkeys to work again on dolphin for xbox recognized controllers
  RELEASE-NOTES.md
  projects/configgen/configgen/generators/dolphin/dolphinControllers.py
Due: tests configgen

chore: enable uhid module onboot
  board/recalbox/fsoverlay/etc/modules.conf
  board/recalbox/rpi/fsoverlay/etc/modules.conf
Due: none

feat: add bluetooth autopairing for controllers
  RELEASE-NOTES.md
  package/recalbox-bluetooth/recalbox-bluetooth.mk
  package/recalbox-bluetooth/src/init/bluetooth
  package/recalbox-bluetooth/src/scripts/autopair
  package/recalbox-bluetooth/src/scripts/btDaemon
  package/recalbox-bluetooth/src/scripts/recalbox-bluetooth-agent
  package/recalbox-bluetooth/src/scripts/simple-agent
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.h
  projects/frontend/es-app/src/mqtt/MqttClient.cpp
  projects/frontend/es-app/src/mqtt/MqttClient.h
Due: tests emulationstation

fix(romfs): add new fantasy system type
  package/recalbox-romfs2/scripts/installroms.py
  package/recalbox-romfs2/scripts/systemholder.py
  package/recalbox-romfs2/systems/.templates/readme/_leggime.txt
  package/recalbox-romfs2/systems/.templates/readme/_leiame.txt
  package/recalbox-romfs2/systems/.templates/readme/_liesmich.txt
  package/recalbox-romfs2/systems/.templates/readme/_lisezmoi.txt
  package/recalbox-romfs2/systems/.templates/readme/_readme.txt
Due: none

fix(frontend): fix system types & device requirement for virtual systems
  projects/frontend/es-app/src/games/IFilter.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/SystemView.cpp
Due: tests emulationstation

feat(frontend): add $system-x/$system+x meta-variables in theme's xml
  package/recalbox-romfs2/systems/easyrpg/system.ini
  package/recalbox-romfs2/systems/lowresnx/system.ini
  package/recalbox-romfs2/systems/lutro/system.ini
  package/recalbox-romfs2/systems/pico8/system.ini
  package/recalbox-romfs2/systems/scummvm/system.ini
  package/recalbox-romfs2/systems/tic80/system.ini
  package/recalbox-romfs2/systems/uzebox/system.ini
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemDeserializer.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-core/src/themes/ThemeData.cpp
  projects/frontend/es-core/src/themes/ThemeData.h
  projects/frontend/es-core/src/utils/String.cpp
  projects/frontend/es-core/src/utils/String.h
Due: tests emulationstation

feat(core): bump lr-mesen_s
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  package/libretro-mesen-s/0001-bios-paths.patch
  package/libretro-mesen-s/libretro-mesen-s.mk
Due: tests buildroot patches

feat(controllers): add Nintendo Switch N64 and Megadrive/Genesis controllers definitions
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  package/hid-nintendo/0002-add-more-controllers-support-and-md-n64-snes-mapping.patch
Due: tests buildroot patches

chore(moonlight): adapt recalbox moonlight configgen generator for moonlight-qt
  package/moonlight-qt/moonlight-qt.mk
  projects/configgen/configgen/generators/moonlight/moonlightGenerator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/tests/generators/moonlightGenerator_test.py
  projects/configgen/tests/resources/moonlight/gamelist.txt
  projects/configgen/tests/resources/moonlight/moonlight.conf
Due: tests configgen

feat: replace Moonlight embedded with Moonlight QT
  Config.in
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-x86_64_defconfig
  package/moonlight-embedded/Moonlight.sh
  package/moonlight-embedded/moonlight-embedded.mk
  package/moonlight-qt/0001-quit-on-pair.patch
  package/moonlight-qt/Config.in
  package/moonlight-qt/Moonlight.sh
  package/moonlight-qt/moonlight-qt.mk
Due: tests buildroot patches

feat(kodi): add skin confluence for lower resolutions
  Config.in
  RELEASE-NOTES.md
  package/kodi-skin-confluence-480/Config.in
  package/kodi-skin-confluence-480/kodi_skin_confluence_480.mk
  package/recalbox-crt/S13crt
Due: none

fix: use kodi patch from AreaScout
  board/recalbox/odroidxu4/patches/kodi/0001-Add-ODROID-XU4-plane-support-as-we-do-not-have-NV21-.patch
  board/recalbox/odroidxu4/patches/kodi/0001-use-EGL_KHR_platform_gbm-not-EGL_MESA_platform_gbm.patch
  board/recalbox/odroidxu4/patches/kodi/0002-Fix-This-is-only-needed-for-proprietary-Mali-drivers.patch
  board/recalbox/odroidxu4/patches/kodi/0003-Fix-Needed-sometimes-because-of-header-files-used-by.patch
  board/recalbox/odroidxu4/patches/kodi/0004-Fix-GBM-implementation-on-ODROID-s-doesn-t-support-g.patch
  board/recalbox/odroidxu4/patches/kodi/0005-Fix-We-have-to-round-the-frame-rate-from-the-movie-t.patch
  board/recalbox/odroidxu4/patches/kodi/0006-Add-enable-v4l2-m2m-support.patch
  board/recalbox/odroidxu4/patches/kodi/0007-Add-abillity-to-disable-hw-decoder.patch
  board/recalbox/odroidxu4/patches/kodi/0008-Add-use-more-recent-version-of-ffmpeg.patch
  board/recalbox/odroidxu4/patches/kodi/0009-Fix-do-not-use-gbm-modifiers-and-bo-map-on-ODROID-s-.patch
Due: none

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

fix(kodi): set default resolution to 720p on rpizero2
  package/recalbox-system/rpizero2/recalbox.conf
Due: none

fix(frontend): fix default resolution selection
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuResolutionByEmulator.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuResolutionSettings.cpp
  projects/frontend/es-core/src/ResolutionAdapter.cpp
  projects/frontend/es-core/src/ResolutionAdapter.h
Due: tests emulationstation

feat(kodi): add support for resolution selection from command line
  RELEASE-NOTES.md
  projects/configgen/configgen/generators/kodi/kodiConfig.py
  projects/configgen/configgen/generators/kodi/kodiGenerator.py
  projects/configgen/configgen/generators/kodi/kodiResolution.py
  projects/configgen/configgen/utils/resolutions.py
  projects/configgen/tests/generators/kodi/kodiResolution_test.py
  projects/configgen/tests/generators/kodiGenerator_test.py
  projects/configgen/tests/utils/resolutions_test.py
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-core/src/RecalboxConf.h
Due: tests configgen, tests emulationstation

feat(frontend): add kodi resolution selection menu
  RELEASE-NOTES.md
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuKodiSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuKodiSettings.h
Due: tests emulationstation

feat(frontend): select real desktop resolution for kodi command line (unfiltered)
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-core/src/ResolutionAdapter.cpp
  projects/frontend/es-core/src/ResolutionAdapter.h
Due: tests emulationstation

fix(system): rrgbd: fix theme migration and add a migration system
  package/recalbox-crt/S13crt
  projects/frontend/es-app/src/MainRunner.cpp
Due: tests emulationstation

fix(system): rrgbd: add 480i resolution support for mac system
  package/recalbox-crt/crt-config/systems.txt
  package/recalbox-romfs2/systems/macintosh/system.ini
Due: none

feat(system): rrgbd: fix dos and n64 resolutions
  package/recalbox-crt/crt-config/systems.txt
  projects/configgen/configgen/generators/libretro/crt/LibretroCoreConfigCRT.py
  projects/configgen/tests/generators/libretro/crt/LibretroCoreConfigCRT_test.py
Due: tests configgen

feat(frontend): option for 240p@120Hz frontend resolution
  RELEASE-NOTES.md
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.h
  projects/frontend/es-core/src/CrtConf.h
  projects/frontend/es-core/src/Renderer.cpp
  projects/recalbox-rgb-dual/recalboxrgbdual.c
Due: tests emulationstation

feat(systyem): add default /boot/crt/recalbox-crt-options.cfg with preconfigured offsets
  package/recalbox-crt/crt-config/recalbox-crt-options.cfg
Due: none

feat(configgen): rrgbd: add support for multiple mode calibration
  RELEASE-NOTES.md
  projects/configgen/configgen/Emulator.py
  projects/configgen/configgen/crt/CRTConfigParser.py
  projects/configgen/configgen/crt/CRTModeOffsetter.py
  projects/configgen/configgen/crt/CRTTypes.py
  projects/configgen/configgen/crt/Mode.py
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/libretro/crt/LibretroConfigCRT.py
  projects/configgen/configgen/generators/libretro/crt/LibretroCoreConfigCRT.py
  projects/configgen/tests/crt/CRTModeOffsetter_test.py
  projects/configgen/tests/emulatorlauncher_test.py
  projects/configgen/tests/generators/libretro/crt/LibretroConfigCRT_test.py
  projects/configgen/tests/generators/libretroGenerator_test.py
  projects/frontend/data/converted/crt__i768x576_png.cpp
  projects/frontend/data/converted/crt__p1920x288_png.cpp
  projects/frontend/data/resources/crt/i768x576.png
  projects/frontend/data/resources/crt/p1920x288.png
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.cpp
  projects/frontend/es-app/src/views/crt/CrtView.cpp
  projects/frontend/es-app/src/views/crt/CrtView.h
Due: tests configgen, tests emulationstation

feat(frontend): rrgbd: calibration: make menu more visible
  projects/frontend/data/converted/crt__i640x480_png.cpp
  projects/frontend/data/converted/crt__i768x576_png.cpp
  projects/frontend/data/converted/crt__p1920x224_png.cpp
  projects/frontend/data/converted/crt__p1920x240_png.cpp
  projects/frontend/data/converted/crt__p1920x240at120_png.cpp
  projects/frontend/data/converted/crt__p1920x288_png.cpp
  projects/frontend/data/converted/crt__p320x240_png.cpp
  projects/frontend/data/converted/crt__p384x288_png.cpp
  projects/frontend/data/converted/crt__p640x480_png.cpp
  projects/frontend/data/resources/crt/i640x480.png
  projects/frontend/data/resources/crt/i768x576.png
  projects/frontend/data/resources/crt/p1920x224.png
  projects/frontend/data/resources/crt/p1920x240.png
  projects/frontend/data/resources/crt/p1920x240at120.png
  projects/frontend/data/resources/crt/p1920x288.png
  projects/frontend/data/resources/crt/p320x240.png
  projects/frontend/data/resources/crt/p384x288.png
  projects/frontend/data/resources/crt/p640x480.png
  projects/frontend/es-app/src/views/crt/CrtView.cpp
Due: tests emulationstation

feat(video): rrgbd: fix interlaced mode minimum vporch
  projects/configgen/configgen/crt/CRTModeOffsetter.py
  projects/configgen/tests/crt/CRTModeOffsetter_test.py
  projects/recalbox-rgb-dual/recalboxrgbdual.c
Due: tests configgen

feat(frontend): vues can block simple message popups & info popups
  projects/frontend/es-app/src/views/crt/CrtView.h
  projects/frontend/es-core/src/ResolutionAdapter.cpp
  projects/frontend/es-core/src/ResolutionAdapter.h
  projects/frontend/es-core/src/WindowManager.cpp
  projects/frontend/es-core/src/WindowManager.h
  projects/frontend/es-core/src/guis/Gui.h
Due: tests emulationstation

feat(frontend): rrgbd: calibration modes are applied on the fly in calibration screen
  projects/frontend/es-app/src/views/crt/CrtView.cpp
Due: tests emulationstation

feat(frontend): rrgbd: add 320x240p and 368x288p resolutions calibration
  projects/configgen/configgen/Emulator.py
  projects/configgen/configgen/crt/CRTTypes.py
  projects/configgen/configgen/crt/Mode.py
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/tests/crt/CRTModeOffsetter_test.py
  projects/frontend/data/ResourceUtil.cpp
  projects/frontend/data/Resources.h
  projects/frontend/data/converted/crt__i640x480_png.cpp
  projects/frontend/data/converted/crt__i768x576_png.cpp
  projects/frontend/data/converted/crt__p1920x224_png.cpp
  projects/frontend/data/converted/crt__p1920x240_png.cpp
  projects/frontend/data/converted/crt__p1920x240at120_png.cpp
  projects/frontend/data/converted/crt__p1920x288_png.cpp
  projects/frontend/data/converted/crt__p320x240_png.cpp
  projects/frontend/data/converted/crt__p320x288_png.cpp
  projects/frontend/data/converted/crt__p384x288_png.cpp
  projects/frontend/data/converted/crt__p640x480_png.cpp
  projects/frontend/data/resources/crt/i640x480.png
  projects/frontend/data/resources/crt/i768x576.png
  projects/frontend/data/resources/crt/p1920x224.png
  projects/frontend/data/resources/crt/p1920x240.png
  projects/frontend/data/resources/crt/p1920x240at120.png
  projects/frontend/data/resources/crt/p1920x288.png
  projects/frontend/data/resources/crt/p320x240.png
  projects/frontend/data/resources/crt/p384x288.png
  projects/frontend/data/resources/crt/p640x480.png
  projects/frontend/es-app/src/views/crt/CrtResolutions.h
  projects/frontend/es-app/src/views/crt/CrtView.cpp
  projects/frontend/es-app/src/views/crt/CrtView.h
  projects/frontend/es-core/src/CrtConf.cpp
Due: tests configgen, tests emulationstation

fix(frontend): fix proxy view relay for donotdisturb method
  projects/frontend/es-app/src/views/ViewController.h
Due: tests emulationstation

fix: fix dolphin dependencies
  package/dolphin-emu/Config.in
Due: none

fix: fix armv6 compilation of libatomic
  board/recalbox/rpi1/patches/gcc/0001-armv6-march-for-rpi1.patch
  configs/recalbox-rpi1_defconfig
Due: none

fix(libretro-pcsx_rearmed): fix pause menu in the game
  RELEASE-NOTES.md
  package/libretro-pcsx_rearmed/libretro-pcsx_rearmed.mk
Due: none

feat(core): add standalone vice emulator 3.6.1
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/recalbox-romfs2/systems/c64/system.ini
  package/vice/Config.in
  package/vice/vice.mk
  package/xa65/Config.in
  package/xa65/xa65.mk
  projects/configgen/configgen/generators/vice/viceGenerator.py
  projects/configgen/configgen/settings/iniSettings.py
  projects/configgen/tests/generators/viceGenerator_test.py
Due: tests configgen

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
