Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

chore(moonlight): adapt recalbox moonlight configgen generator for moonlight-qt
  package/moonlight-qt/moonlight-qt.mk
  projects/configgen/configgen/generators/moonlight/moonlightGenerator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/tests/generators/moonlightGenerator_test.py
  projects/configgen/tests/resources/moonlight/gamelist.txt
  projects/configgen/tests/resources/moonlight/moonlight.conf
Due: tests configgen

feat(release): 8.2-patron-3
  RELEASE-NOTES.md
Due: none

fix(xorg): remove old intel xorg driver
  configs/recalbox-x86_64_defconfig
Due: none

feat: bump mesa3d to 22.3.4
  Dockerfile
  custom/list.hash
  custom/package/mesa3d-headers/mesa3d-headers.mk
  custom/package/mesa3d-headers/mesa3d-headers.mk.patch
  custom/package/mesa3d/0001-meson-Set-proper-value-for-LIBCLC_INCLUDEDIR.patch
  custom/package/mesa3d/0002-vc4-add-meson-option-to-disable-optional-neon-suppor.patch
  custom/package/mesa3d/0003-src-util-rand_xor-Include-stddef.h-to-fix-build-erro.patch
  custom/package/mesa3d/0004-Fix-uClibc-build.patch
  custom/package/mesa3d/Config.in
  custom/package/mesa3d/Config.in.patch
  custom/package/mesa3d/mesa3d.hash
  custom/package/mesa3d/mesa3d.hash.patch
  custom/package/mesa3d/mesa3d.mk
  custom/package/mesa3d/mesa3d.mk.patch
Due: none

feat: bump mesa3d to 22.3.4
  Dockerfile
  board/recalbox/patches/kodi/0001-Work-around-Mesa-eglchromium-h-removal.patch
  custom/list.hash
  custom/package/mesa3d-headers/mesa3d-headers.mk
  custom/package/mesa3d-headers/mesa3d-headers.mk.patch
  custom/package/mesa3d/0001-meson-Set-proper-value-for-LIBCLC_INCLUDEDIR.patch
  custom/package/mesa3d/0002-vc4-add-meson-option-to-disable-optional-neon-suppor.patch
  custom/package/mesa3d/0003-src-util-rand_xor-Include-stddef.h-to-fix-build-erro.patch
  custom/package/mesa3d/0004-Fix-uClibc-build.patch
  custom/package/mesa3d/Config.in
  custom/package/mesa3d/Config.in.patch
  custom/package/mesa3d/mesa3d.hash
  custom/package/mesa3d/mesa3d.hash.patch
  custom/package/mesa3d/mesa3d.mk
  custom/package/mesa3d/mesa3d.mk.patch
Due: tests buildroot patches

fix(bluetooth): fix member initialization
  projects/frontend/es-core/src/bluetooth/BluetoothOverlayGUI.cpp
Due: tests emulationstation

fix: fix dolphin dependencies
  package/dolphin-emu/Config.in
Due: none

chore(configgen/kodi): configure prime for odroidxu4 architecture
  projects/configgen/configgen/generators/kodi/kodiConfig.py
Due: tests configgen

fix: use kodi patch from AreaScout
  board/recalbox/odroidxu4/patches/kodi/0001-Add-ODROID-XU4-plane-support-as-we-do-not-have-NV21-.patch
  board/recalbox/odroidxu4/patches/kodi/0001-use-EGL_KHR_platform_gbm-not-EGL_MESA_platform_gbm.patch
  board/recalbox/odroidxu4/patches/kodi/0002-Fix-This-is-only-needed-for-proprietary-Mali-drivers.patch
  board/recalbox/odroidxu4/patches/kodi/0003-Fix-Needed-sometimes-because-of-header-files-used-by.patch
  board/recalbox/odroidxu4/patches/kodi/0004-Fix-GBM-implementation-on-ODROID-s-doesn-t-support-g.patch
  board/recalbox/odroidxu4/patches/kodi/0005-Fix-We-have-to-round-the-frame-rate-from-the-movie-t.patch
  board/recalbox/odroidxu4/patches/kodi/0006-Add-enable-v4l2-m2m-support.patch
  board/recalbox/odroidxu4/patches/kodi/0007-Add-abillity-to-disable-hw-decoder.patch
  board/recalbox/odroidxu4/patches/kodi/0008-Add-use-more-recent-version-of-ffmpeg.patch
  board/recalbox/odroidxu4/patches/kodi/0009-Fix-do-not-use-gbm-modifiers-and-bo-map-on-ODROID-s-.patch
Due: none

fix(frontend): fix lag when exiting metadata edition w/o actual change
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.cpp
Due: tests emulationstation

fix(build): fix docker run command
  scripts/linux/recaldocker.sh
Due: none

fix(system): add favori icon for system vg5000 and zmachine
  package/recalbox-romfs2/systems/vg5000/system.ini
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

fix: change depends on BR2_PACKAGE_SDL_X11
  package/supermodel/Config.in
Due: none

fix(case): case uninstallation scripts expects a string at uninstall software
  projects/recalbox-hardware/case/installer.py
  projects/recalbox-hardware/case/installers/gpi2/install.py
  projects/recalbox-hardware/case/installers/piboy/install.py
Due: none

fix: for piboy, on boot, force fan to high speed (200)
  board/recalbox/fsoverlay/etc/init.d/S05hardware
Due: none

fix(frontend): initialize members in BluetoothOverlayGUI.cpp
  projects/frontend/es-core/src/bluetooth/BluetoothOverlayGUI.cpp
Due: tests emulationstation

chore(autopair): send more status reports and make it more reliable
  package/recalbox-bluetooth/src/scripts/autopair
  package/recalbox-bluetooth/src/scripts/autopair.readme
Due: none

chore: enable uhid module onboot
  board/recalbox/fsoverlay/etc/modules.conf
  board/recalbox/rpi/fsoverlay/etc/modules.conf
Due: none

feat: add bluetooth autopairing for controllers
  RELEASE-NOTES.md
  package/recalbox-bluetooth/recalbox-bluetooth.mk
  package/recalbox-bluetooth/src/init/bluetooth
  package/recalbox-bluetooth/src/scripts/autopair
  package/recalbox-bluetooth/src/scripts/btDaemon
  package/recalbox-bluetooth/src/scripts/recalbox-bluetooth-agent
  package/recalbox-bluetooth/src/scripts/simple-agent
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.h
  projects/frontend/es-app/src/mqtt/MqttClient.cpp
  projects/frontend/es-app/src/mqtt/MqttClient.h
Due: tests emulationstation

feat(frontend): bt: animated bluetooth icon
  projects/frontend/data/ResourceUtil.cpp
  projects/frontend/data/Resources.h
  projects/frontend/data/converted/bluetooth__bt_bottom_svg.cpp
  projects/frontend/data/converted/bluetooth__bt_controller_svg.cpp
  projects/frontend/data/converted/bluetooth__bt_middle_svg.cpp
  projects/frontend/data/converted/bluetooth__bt_top_svg.cpp
  projects/frontend/data/converted/bluetooth_svg.cpp
  projects/frontend/data/resources/bluetooth.svg
  projects/frontend/data/resources/bluetooth/bt_bottom.svg
  projects/frontend/data/resources/bluetooth/bt_controller.svg
  projects/frontend/data/resources/bluetooth/bt_middle.svg
  projects/frontend/data/resources/bluetooth/bt_top.svg
  projects/frontend/es-core/src/bluetooth/BluetoothOverlayGUI.cpp
  projects/frontend/es-core/src/bluetooth/BluetoothOverlayGUI.h
Due: tests emulationstation

feat(themes): add new systems theme
  package/recalbox-themes/recalbox-themes.mk
Due: none

feat(system): rrgbd: add crt configuration for presinstalled ports
  package/recalbox-crt/crt-config/systems.txt
  package/recalbox-romfs2/systems/2048/system.ini
  package/recalbox-romfs2/systems/cavestory/system.ini
  package/recalbox-romfs2/systems/dinothawr/system.ini
  package/recalbox-romfs2/systems/doom/system.ini
  package/recalbox-romfs2/systems/dos/system.ini
  package/recalbox-romfs2/systems/gong/system.ini
  package/recalbox-romfs2/systems/mrboom/system.ini
  package/recalbox-romfs2/systems/quake/system.ini
  package/recalbox-romfs2/systems/quake2/system.ini
  package/recalbox-romfs2/systems/rickdangerous/system.ini
  package/recalbox-romfs2/systems/tic80/system.ini
  package/recalbox-romfs2/systems/wolfenstein3d/system.ini
Due: none

fix(frontend): fix cache refresh
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
Due: tests emulationstation

fix(frontend): fix truncated search result & optimize search arlgorithm
  projects/frontend/es-app/src/systems/SystemManager.cpp
Due: tests emulationstation

fix(frontend): fix search sort issue
  projects/frontend/es-app/src/systems/SystemManager.cpp
Due: tests emulationstation

fix(system): rrgbd: fix migration causing bad switch from crt to hdmi
  package/recalbox-crt/S13crt
Due: none

fix(frontend): cases: fix RaspberryPiTouchDisplay case having a disabled shutdown menu
  projects/frontend/es-core/src/hardware/Case.cpp
  projects/frontend/es-core/src/hardware/Case.h
Due: tests emulationstation

chore: rename mali-t62x mali drivers to librelec-libmali
  Config.in
  configs/recalbox-odroidxu4_defconfig
  package/librelec-libmali/0001-add-the-libgbm-wrapper-to-the-build.patch
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: tests buildroot patches

chore: end migration from mali-t62x to librelec-libmali
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: none

chore(upgrade): show first install step right after the image has been correctly checked
  board/recalbox/fsoverlay/etc/init.d/S11upgrade
Due: none

chore: simplification of adding new board
  package/libretro-flycast/libretro-flycast.mk
  package/libretro-mupen64plus-nx/libretro-mupen64plus-nx.mk
  package/libretro-parallel-n64/0001-add-odroidgo2-board.patch
  package/libretro-parallel-n64/0002-add-gcc10-compat.patch
  package/libretro-parallel-n64/libretro-parallel-n64.mk
  package/libretro-uae4arm/libretro-uae4arm.mk
  package/libretro-vitaquake2/libretro-vitaquake2.mk
  package/oricutron/oricutron.mk
  package/recalbox-initramfs/recalbox-initramfs.mk
  package/retroarch/retroarch.mk
Due: tests buildroot patches

chore(rg353x): add specific rg353x GPT partition probe
  board/recalbox/fsoverlay/recalbox/scripts/upgrade/recalbox-squashfs-upgrade.sh
Due: none

chore(rg353x): add a fix when using GPT partition table type
  board/recalbox/fsoverlay/etc/init.d/S11share
  package/recalbox-system/Config.in
Due: none

chore(rg353x): add possiblity to build resource.img linux image
  custom/linux/Config.in
  custom/linux/Config.in.patch
  custom/linux/linux.mk
  custom/linux/linux.mk.patch
Due: none

feat: add support for volume control of rg353x with volumed
  board/recalbox/anbernic/rg353x/fsoverlay/etc/init.d/S06volumed
  package/recalbox-system/Config.in
  package/recalbox-volumed/recalbox-volumed.mk
Due: none

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
