Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch

fix(frontend): global search is no longer crashing
  projects/frontend/es-app/src/systems/SystemManager.cpp
Due: tests emulationstation

fix(frontend): fix searching in a single system
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
Due: tests emulationstation

perf(frontend): optimize main path
  projects/frontend/es-app/src/Upgrade.cpp
  projects/frontend/es-app/src/emulators/EmulatorManager.cpp
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/FileData.h
  projects/frontend/es-app/src/games/FolderData.cpp
  projects/frontend/es-app/src/games/FolderData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/games/adapter/GameAdapter.cpp
  projects/frontend/es-app/src/guis/GuiMetaDataEd.cpp
  projects/frontend/es-app/src/guis/GuiScraperRun.cpp
  projects/frontend/es-app/src/guis/GuiScraperSingleGameRun.cpp
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameDeleteOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameDeleteSelectionOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.cpp
  projects/frontend/es-app/src/scraping/ScraperFactory.cpp
  projects/frontend/es-app/src/scraping/ScraperSeamless.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperApis.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperEngineBase.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-app/src/systems/LightGunDatabase.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/usernotifications/NotificationManager.cpp
  projects/frontend/es-app/src/usernotifications/NotificationManager.h
  projects/frontend/es-app/src/views/ViewController.cpp
  projects/frontend/es-app/src/views/ViewController.h
  projects/frontend/es-app/src/views/gamelist/BasicGameListView.cpp
  projects/frontend/es-app/src/views/gamelist/DetailedGameListView.cpp
  projects/frontend/es-app/src/views/gamelist/ISimpleGameListView.cpp
  projects/frontend/es-core/src/utils/IniFile.cpp
  projects/frontend/es-core/src/utils/IniFile.h
  projects/frontend/es-core/src/utils/os/fs/Path.h
Due: tests emulationstation

fix(frontend): fix gamelist.xml being saved even if nothing changes
  projects/frontend/es-app/src/components/ScraperSearchComponent.cpp
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/views/crt/CrtView.cpp
Due: tests emulationstation

feat(frontend): allow to launch a game with a specific softpatching
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/tests/generators/FakeArguments.py
  projects/frontend/es-app/src/emulators/run/GameLinkedData.h
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/emulators/run/PatchData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/GameFilesUtils.h
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSoftpatchingLauncher.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSoftpatchingLauncher.h
  projects/frontend/es-app/src/views/ViewController.cpp
Due: tests configgen, tests emulationstation

feat(frontend): optimize metadata loading and storage in ram
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/FileData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/GameRandomSelector.h
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataFieldDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/games/classifications/Genres.h
  projects/frontend/es-app/src/guis/GuiMetaDataEd.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-core/src/utils/os/fs/Path.h
Due: tests emulationstation

feat(frontend): adjust and optimize fast search using new metadata
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/games/FolderData.cpp
  projects/frontend/es-app/src/games/FolderData.h
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemData.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/ViewController.h
  projects/frontend/es-core/src/utils/storage/Array.h
Due: tests emulationstation

feat(controllers): add Nintendo Switch N64 and Megadrive/Genesis controllers definitions
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  package/hid-nintendo/0002-add-more-controllers-support-and-md-n64-snes-mapping.patch
Due: tests buildroot patches

feat: replace Moonlight embedded with Moonlight QT
  Config.in
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-x86_64_defconfig
  package/moonlight-embedded/Moonlight.sh
  package/moonlight-embedded/moonlight-embedded.mk
  package/moonlight-qt/0001-quit-on-pair.patch
  package/moonlight-qt/Config.in
  package/moonlight-qt/Moonlight.sh
  package/moonlight-qt/moonlight-qt.mk
Due: tests buildroot patches

chore(moonlight): adapt recalbox moonlight configgen generator for moonlight-qt
  package/moonlight-qt/moonlight-qt.mk
  projects/configgen/configgen/generators/moonlight/moonlightGenerator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/tests/generators/moonlightGenerator_test.py
  projects/configgen/tests/resources/moonlight/gamelist.txt
  projects/configgen/tests/resources/moonlight/moonlight.conf
Due: tests configgen

fix(frontend): fix kms resolution enumerator/filter
  projects/frontend/es-core/src/Renderer.cpp
Due: tests emulationstation

feat(system): rrgbd: add new games support for 15kHz
  RELEASE-NOTES.md
  package/recalbox-crt/crt-config/arcade_games.txt
Due: none

feat(system): rrgbd: add snes, nes, and amiga new modes and cores
  RELEASE-NOTES.md
  package/recalbox-crt/crt-config/systems.txt
  package/recalbox-romfs2/systems/amiga1200/system.ini
  package/recalbox-romfs2/systems/amiga600/system.ini
  package/recalbox-romfs2/systems/fds/system.ini
  package/recalbox-romfs2/systems/nes/system.ini
  package/recalbox-romfs2/systems/satellaview/system.ini
  package/recalbox-romfs2/systems/snes/system.ini
  package/recalbox-romfs2/systems/sufami/system.ini
  projects/configgen/configgen/generators/libretro/crt/LibretroCoreConfigCRT.py
  projects/configgen/tests/generators/libretro/crt/LibretroCoreConfigCRT_test.py
Due: tests configgen

feat(system): rrgbd: add new core and mode supports
  RELEASE-NOTES.md
  package/recalbox-crt/crt-config/modes.txt
  package/recalbox-crt/crt-config/systems.txt
  package/recalbox-romfs2/systems/atari5200/system.ini
  package/recalbox-romfs2/systems/atari800/system.ini
  package/recalbox-romfs2/systems/msx1/system.ini
  package/recalbox-romfs2/systems/msx2/system.ini
  package/recalbox-romfs2/systems/msxturbor/system.ini
  package/recalbox-romfs2/systems/n64/system.ini
  projects/configgen/configgen/generators/libretro/crt/LibretroCoreConfigCRT.py
  projects/configgen/tests/generators/libretro/crt/LibretroCoreConfigCRT_test.py
Due: tests configgen

chore(libretro-genesisplusgxwide): bump latest version
  RELEASE-NOTES.md
  package/libretro-genesisplusgxwide/libretro-genesisplusgxwide.mk
Due: none

feat(game): add pongboy edition recalbox on gb
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/gb/init/roms/Pongboy Recalbox Edition/readme.txt
  package/recalbox-romfs2/systems/gb/init/roms/Pongboy_recalbox_edition.gb
  package/recalbox-romfs2/systems/gb/init/roms/gamelist.xml
  package/recalbox-romfs2/systems/gb/init/roms/media/images/Pong Boy.png
Due: none

fix(cores): change lr-cdi2015 cfg path to be able to apply reset factory on it
  package/libretro-cdi2015/libretro-cdi2015-001-recalbox-path.patch
  package/recalbox-system/rpi4_64/pre-upgrade.sh
  package/recalbox-system/x86_64/pre-upgrade.sh
Due: tests buildroot patches

fix(es_input): add 8bitdo pro 2 mode android
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
Due: none

fix(configgen): fix overlay persistency
  RELEASE-NOTES.md
  projects/configgen/configgen/generators/libretro/libretroRetroarch.py
Due: tests configgen

fix(manager): fix missing code in token page
  package/recalbox-manager2/recalbox-manager2.mk
Due: none

fix(romfs): add missing point above pce file extension
  package/recalbox-romfs2/systems/pcengine/system.ini
  package/recalbox-romfs2/systems/psp/system.ini
Due: none

chore: fix release notes
  CHANGELOG.md
  RELEASE-NOTES.md
Due: none

fix: ultimarc ipac2 support
  CHANGELOG.md
  package/xarcade2jstick/0001-bump-xarcade-and-integrate-keybd-mame-patchs.patch
  package/xarcade2jstick/xarcade2jstick.mk
Due: tests buildroot patches

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

feat: allow user to skip boot video by pressing any key even gamepad
  board/recalbox/fsoverlay/etc/init.d/S06splash
  board/recalbox/fsoverlay/etc/mpv-input.conf
  board/recalbox/patches/mpv/0002-add-gamepad-support-through-evdev.patch
  custom/list.hash
  custom/package/mpv/mpv.mk
  custom/package/mpv/mpv.mk.patch
Due: tests buildroot patches

feat(emulator): bump fuze & add missing extensions
  RELEASE-NOTES.md
  package/libretro-fuse/libretro-fuse-0001-add-missing-extensions.patch
  package/libretro-fuse/libretro-fuse.mk
  package/recalbox-romfs2/systems/zxspectrum/system.ini
Due: tests buildroot patches

feat(themes): add new systems theme
  package/recalbox-themes/recalbox-themes.mk
Due: none

feat(game): add astebros demo on megadrive
  package/recalbox-romfs2/systems/megadrive/init/roms/gamelist.xml
Due: none

feat(game): add astebros demo on megadrive
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/megadrive/init/roms/Astebros demo (en).zip
  package/recalbox-romfs2/systems/megadrive/init/roms/Astebros demo (fr).zip
  package/recalbox-romfs2/systems/megadrive/init/roms/Demons Of Asteborg & Astebros/Readme.txt
  package/recalbox-romfs2/systems/megadrive/init/roms/Demons Of Asteborg (Demo)/Readme.txt
  package/recalbox-romfs2/systems/megadrive/init/roms/gamelist.xml
  package/recalbox-romfs2/systems/megadrive/init/roms/media/images/Astebros Demo.png
  package/recalbox-romfs2/systems/megadrive/init/roms/media/images/Demons of Asteborg (Demo).png
Due: none

fix(frontend): scrapper ensure media are saved before saving path
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperApis.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperEngineBase.h
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.h
  projects/frontend/es-core/src/utils/network/Http.cpp
  projects/frontend/es-core/src/utils/network/Http.h
Due: tests emulationstation

feat(system): libretro: enhance shader support by setting multi threaded video when shader enabled
  RELEASE-NOTES.md
  projects/configgen/configgen/generators/libretro/libretroRetroarch.py
Due: tests configgen

feat(system): rrgbd: allow to set priority on hdmi when a hdmi cable is plugged
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/etc/init.d/S05hardware
  board/recalbox/fsoverlay/etc/init.d/S13hardware
  board/recalbox/fsoverlay/recalbox/scripts/recalbox-utils.sh
  board/recalbox/fsoverlay/usr/bin/kms-manager
  package/recalbox-crt/S13crt
  package/recalbox-crt/crt-config/recalbox-crt-options.cfg
  package/recalbox-crt/recalbox-crt.mk
  projects/frontend/CMakeLists.txt
  projects/frontend/es-app/src/EmulationStation.h
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/emulators/run/CrtData.h
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuThemeOptions.cpp
  projects/frontend/es-app/src/views/SplashView.cpp
  projects/frontend/es-core/src/CrtConf.h
  projects/frontend/es-core/src/guis/GuiInfoPopupBase.cpp
  projects/frontend/es-core/src/hardware/crt/CrtRGBDual.h
Due: tests emulationstation

feat(system): add guncon2 driver for support on recalbox rgb dual
  Config.in
  board/recalbox/fsoverlay/etc/udev/rules.d/99-joysticks-exotics.rules
  package/recalbox-crt/Config.in
  package/recalbox-rgb-dual-guncon2/Config.in
  package/recalbox-rgb-dual-guncon2/recalbox-rgb-dual-guncon2.mk
Due: none

feat(system): lightgun: add support for guncon2 in lightgun configuration
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/lightgun.cfg
  package/recalbox-rgb-dual-guncon2/Config.in
  projects/configgen/configgen/generators/libretro/libretroLightGuns.py
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
Due: tests configgen, tests emulationstation

chore(libretro-uae): bump latest version
  RELEASE-NOTES.md
  package/libretro-uae/libretro-uae.mk
  package/recalbox-romfs2/systems/amiga1200/system.ini
  package/recalbox-romfs2/systems/amiga600/system.ini
Due: none

feat(emulator): add rb5000 - phillips vg5000 emulator
  .gitlab-ci.yml
  Config.in
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/rb5000/Config.in
  package/rb5000/rb5000.mk
  package/recalbox-romfs2/systems/vg5000/init/roms/.keep
  package/recalbox-romfs2/systems/vg5000/system.ini
  package/recalbox-romfs2/systems/vg5000/upgrade/roms/.readme.placeholder
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/rb5000/__init__.py
  projects/configgen/configgen/generators/rb5000/rb5000Generator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/setup.py
  scripts/linux/recaldocker.sh
Due: tests configgen

feat(frontend): resolutions: fix first resolution bad display
  projects/frontend/es-app/src/guis/menus/GuiMenuResolutionByEmulator.cpp
Due: tests emulationstation

feat(configgen): use command line resolution to calculate the disaply ratio
  projects/configgen/configgen/generators/libretro/libretroCores.py
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/configgen/utils/resolutions.py
  projects/configgen/configgen/utils/videoMode.py
Due: tests configgen

fix(frontend): fix kms resolution enumerator/filter
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/ResolutionAdapter.cpp
  projects/frontend/es-core/src/hardware/BoardType.h
Due: tests emulationstation
