Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

chore: end migration from mali-t62x to librelec-libmali
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: none

chore(rg353x): add a fix when using GPT partition table type
  board/recalbox/fsoverlay/etc/init.d/S11share
Due: none

feat: add possibility to upgrade bootloader on upgrade
  board/recalbox/anbernic/rg353x/genimage.cfg
  board/recalbox/copy-recalbox-archives.sh
  package/recalbox-initramfs/busybox.config
  package/recalbox-initramfs/init
Due: none

chore(rg353x): add possiblity to build resource.img linux image
  custom/linux/Config.in
  custom/linux/Config.in.patch
  custom/linux/linux.mk
  custom/linux/linux.mk.patch
Due: none

chore: simplification of adding new board
  package/libretro-flycast/libretro-flycast.mk
  package/libretro-mupen64plus-nx/libretro-mupen64plus-nx.mk
  package/libretro-parallel-n64/0001-add-odroidgo2-board.patch
  package/libretro-parallel-n64/0002-add-gcc10-compat.patch
  package/libretro-parallel-n64/libretro-parallel-n64.mk
  package/libretro-uae4arm/libretro-uae4arm.mk
  package/libretro-vitaquake2/libretro-vitaquake2.mk
  package/oricutron/oricutron.mk
  package/recalbox-initramfs/recalbox-initramfs.mk
  package/retroarch/retroarch.mk
Due: tests buildroot patches

chore(upgrade): show first install step right after the image has been correctly checked
  board/recalbox/fsoverlay/etc/init.d/S11upgrade
Due: none

feat: add ES support for rg353x and rg503 family boards
  board/recalbox/fsoverlay/etc/udev/rules.d/91-pulseaudio.rules
  board/recalbox/fsoverlay/usr/share/pulseaudio/alsa-mixer/profile-sets/rk817.conf
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/MainRunner.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSystem.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.h
  projects/frontend/es-app/src/scraping/scrapers/recalbox/RecalboxEndPoints.cpp
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/ResolutionAdapter.cpp
  projects/frontend/es-core/src/audio/pulseaudio/PulseAudioController.cpp
  projects/frontend/es-core/src/hardware/Board.cpp
  projects/frontend/es-core/src/hardware/BoardType.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XVolumeReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XVolumeReader.h
  projects/frontend/es-core/src/hardware/messaging/HardwareMessageSender.cpp
  projects/frontend/es-core/src/hardware/messaging/IHardwareNotifications.h
  projects/frontend/es-core/src/hardware/messaging/MessageTypes.h
Due: tests emulationstation

chore(rg353x): add specific rg353x GPT partition probe
  board/recalbox/fsoverlay/recalbox/scripts/upgrade/recalbox-squashfs-upgrade.sh
Due: none

feat(core): add core lr-mojozork for zmachine
  Config.in
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-mojozork/Config.in
  package/libretro-mojozork/libretro-mojozork.mk
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

feat(system): add guncon2 driver for support on recalbox rgb dual
  Config.in
  board/recalbox/fsoverlay/etc/udev/rules.d/99-joysticks-exotics.rules
  package/recalbox-crt/Config.in
  package/recalbox-rgb-dual-guncon2/Config.in
  package/recalbox-rgb-dual-guncon2/recalbox-rgb-dual-guncon2.mk
Due: none

feat(system): lightgun: add support for guncon2 in lightgun configuration
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/lightgun.cfg
  package/recalbox-rgb-dual-guncon2/Config.in
  projects/configgen/configgen/generators/libretro/libretroLightGuns.py
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
Due: tests configgen, tests emulationstation

feat(joystick): bump joycond
  package/joycond/joycond.mk
Due: none

feat(joystick): bump hid-nintendo
  package/hid-nintendo/hid-nintendo.mk
Due: none

chore(moonlight): adapt recalbox moonlight configgen generator for moonlight-qt
  package/moonlight-qt/moonlight-qt.mk
  projects/configgen/configgen/generators/moonlight/moonlightGenerator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/tests/generators/moonlightGenerator_test.py
  projects/configgen/tests/resources/moonlight/gamelist.txt
  projects/configgen/tests/resources/moonlight/moonlight.conf
Due: tests configgen

feat: replace Moonlight embedded with Moonlight QT
  Config.in
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-x86_64_defconfig
  package/moonlight-embedded/Moonlight.sh
  package/moonlight-embedded/moonlight-embedded.mk
  package/moonlight-qt/0001-quit-on-pair.patch
  package/moonlight-qt/Config.in
  package/moonlight-qt/Moonlight.sh
  package/moonlight-qt/moonlight-qt.mk
Due: tests buildroot patches

fix: gamerunner
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
Due: tests emulationstation

fix(bios): add new neogeo.zip bios md5
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
Due: none

chore(builroot): use python 3.11 compileall.py script
  package/recalbox-configgen/recalbox-configgen.mk
Due: none

chore(buildroot): bump scummvm to v2.7.0
  package/scummvm/scummvm-001-configure.patch
  package/scummvm/scummvm-002-checkedfile.patch
  package/scummvm/scummvm.mk
Due: tests buildroot patches

chore(buildroot): add compilation bug patch for flac
  board/recalbox/patches/flac/0001-fix-compilation-issue.patch
Due: tests buildroot patches

chore(buildroot): bump libretro-dinothawr and compile with neon if available
  package/libretro-dinothawr/libretro-dinothawr.mk
Due: none

chore(buildroot): updated glibc patch for libwidevinecmd
  board/recalbox/patches/arm/.keepme
  board/recalbox/patches/arm/glibc/glibc-HACK-Don-t-check-GLIBC_ABI_DT_RELR-support-for-Chrom.patch
  board/recalbox/patches/arm/glibc/glibc-tls-libwidevinecdm.so-since-4.10.2252.0-has-TLS-with.patch
  board/recalbox/patches/glibc/glibc-add-support-for-SHT_RELR-sections.patch
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
Due: tests buildroot patches

chore(buildroot): remove xdriver_xf86-video-openchrome patch
  board/recalbox/patches/xdriver_xf86-video-openchrome/0001-compat-gcc10.patch
Due: tests buildroot patches

chore(buildroot): update python-pygame to 2.2.0 and update patches
  board/recalbox/patches/python-pygame/0001-auto-argv.patch
  board/recalbox/patches/python-pygame/0003-remove-host-dir.patch
  custom/package/python-pygame/python-pygame.hash
  custom/package/python-pygame/python-pygame.hash.patch
  custom/package/python-pygame/python-pygame.mk
  custom/package/python-pygame/python-pygame.mk.patch
Due: tests buildroot patches

chore(buildroot): remove lirc-tools symlink patch
  board/recalbox/patches/lirc-tools/0004-force-symlinks.patch
Due: tests buildroot patches

chore(buildroot): make pulseaudio patch compatible with v16.1
  board/recalbox/rpi/patches/pulseaudio/0001-prioritize-hdmi-sink.patch
Due: none

chore(buildroot): remove rtl8821cu external package
  Config.in
  package/rtl8821cu/0001-fix-modules-install-target.patch
  package/rtl8821cu/Config.in
  package/rtl8821cu/rtl8821cu.mk
Due: tests buildroot patches

chore(buildroot): link busybox hash instead of duplicate it
  package/recalbox-initramfs/recalbox-initramfs.hash
Due: none

chore(buildroot): add python-glslang in external tree
  package/python-glslang/python-glslang.hash
  package/python-glslang/python-glslang.mk
Due: none

chore(buildroot): remove old libclc patch
  board/recalbox/patches/libclc/0001-fix-set-correct-path-to-python3.patch
Due: tests buildroot patches

chore(buildroot): fix compilation of kodi with mesa3d
  board/recalbox/patches/kodi/9999-fix-build-with-mesa-22-3-0.patch
Due: tests buildroot patches

chore(buildroot): add python3-magic as needed for linters
  .gitlab-ci.yml
Due: none

chore(buildroot): remove nodejs patch, patch applied upstream
  board/recalbox/patches/nodejs/0001-include-obj-name-in-shared-intermediate.patch
Due: tests buildroot patches

chore(buildroot): update sdl2 patch for sdl 2.26.3
  board/recalbox/patches/sdl2/sdl2_input_p003_extra_functions.patch
Due: tests buildroot patches

chore(buildroot): fix StrEnum of python 3.11
  .gitlab-ci.yml
  projects/configgen/configgen/crt/CRTTypes.py
Due: tests configgen

chore(buildroot): updated odroidgo2 SDL2 patches
  board/recalbox/odroidgo2/patches/sdl2/0001-sdl2-odroid-go-advance.patch
  board/recalbox/odroidgo2/patches/sdl2/sdl2-patch-0004-odroidgoa-kmsdrm-and-rotate-cursor.patch
Due: none

chore(buildroot): add patch to allow compilation with sdl >= 2.0
  package/dosbox/0001-sdl2-26-3-compat.patch
Due: tests buildroot patches

chore(buildroot): disable sdl2 joysticks patches
  board/recalbox/patches/sdl2/001-avoid-kms-negative-mode-index.patch
  board/recalbox/patches/sdl2/001-avoid-kms-negative-mode-index.patch.pending
  board/recalbox/patches/sdl2/sdl2_input_exact_retroarch.patch.pending
  board/recalbox/patches/sdl2/sdl2_input_map_hat.patch.pending
Due: tests buildroot patches

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
