Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch

feat(game): add astebros demo on megadrive
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/megadrive/init/roms/Astebros demo (en).zip
  package/recalbox-romfs2/systems/megadrive/init/roms/Astebros demo (fr).zip
  package/recalbox-romfs2/systems/megadrive/init/roms/Demons Of Asteborg & Astebros/Readme.txt
  package/recalbox-romfs2/systems/megadrive/init/roms/Demons Of Asteborg (Demo)/Readme.txt
  package/recalbox-romfs2/systems/megadrive/init/roms/gamelist.xml
  package/recalbox-romfs2/systems/megadrive/init/roms/media/images/Astebros Demo.png
  package/recalbox-romfs2/systems/megadrive/init/roms/media/images/Demons of Asteborg (Demo).png
Due: none

feat(system): libretro: enhance shader support by setting multi threaded video when shader enabled
  RELEASE-NOTES.md
  projects/configgen/configgen/generators/libretro/libretroRetroarch.py
Due: tests configgen

feat(system): add guncon2 driver for support on recalbox rgb dual
  Config.in
  board/recalbox/fsoverlay/etc/udev/rules.d/99-joysticks-exotics.rules
  package/recalbox-crt/Config.in
  package/recalbox-rgb-dual-guncon2/Config.in
  package/recalbox-rgb-dual-guncon2/recalbox-rgb-dual-guncon2.mk
Due: none

feat(system): lightgun: add support for guncon2 in lightgun configuration
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/lightgun.cfg
  package/recalbox-rgb-dual-guncon2/Config.in
  projects/configgen/configgen/generators/libretro/libretroLightGuns.py
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
Due: tests configgen, tests emulationstation

feat(emulator): add rb5000 - phillips vg5000 emulator
  .gitlab-ci.yml
  Config.in
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/rb5000/Config.in
  package/rb5000/rb5000.mk
  package/recalbox-romfs2/systems/vg5000/init/roms/.keep
  package/recalbox-romfs2/systems/vg5000/system.ini
  package/recalbox-romfs2/systems/vg5000/upgrade/roms/.p2k.cfg
  package/recalbox-romfs2/systems/vg5000/upgrade/roms/.readme.placeholder
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/rb5000/__init__.py
  projects/configgen/configgen/generators/rb5000/rb5000Generator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/setup.py
  scripts/linux/recaldocker.sh
Due: tests configgen

feat: add kodi advanced settings generator
  projects/configgen/configgen/generators/kodi/kodiConfig.py
  projects/configgen/configgen/generators/kodi/kodiGenerator.py
  projects/configgen/configgen/recalboxFiles.py
Due: tests configgen

feat(system): bump libretro/atari800 to 940332
  package/libretro-atari800/libretro-atari800.mk
Due: none

feat(emulator): add z-machine engine
  package/frotz-recalbox/0000-sdl2-c-options.patch
  package/frotz-recalbox/Config.in
  package/frotz-recalbox/frotz-recalbox.mk
Due: tests buildroot patches

feat(emulator): add romfs and configgen for z-machine engine
  Config.in
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/frotz-recalbox/0000-sdl2-c-options.patch
  package/frotz-recalbox/0001-configure-saves-and-quit.patch
  package/frotz-recalbox/Config.in
  package/frotz-recalbox/frotz-recalbox.mk
  package/recalbox-romfs2/systems/zmachine/init/roms/.keep
  package/recalbox-romfs2/systems/zmachine/system.ini
  package/recalbox-romfs2/systems/zmachine/upgrade/roms/.p2k.cfg
  package/recalbox-romfs2/systems/zmachine/upgrade/roms/.readme.placeholder
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/frotz/frotzGenerator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/setup.py
Due: tests configgen, tests buildroot patches

fix(frontend): fix cancel button displayed on controller configuration
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
  projects/frontend/es-core/src/guis/GuiInputConfig.h
  projects/frontend/locale/emulationstation2.pot
Due: tests emulationstation

feat(joystick): bump hid-nintendo
  package/hid-nintendo/hid-nintendo.mk
Due: none

feat(joystick): bump joycond
  package/joycond/joycond.mk
Due: none

fix(dolphin): make hotkeys to work again on dolphin for xbox recognized controllers
  RELEASE-NOTES.md
  projects/configgen/configgen/generators/dolphin/dolphinControllers.py
Due: tests configgen

chore: enable uhid module onboot
  board/recalbox/fsoverlay/etc/modules.conf
  board/recalbox/rpi/fsoverlay/etc/modules.conf
Due: none

feat: add bluetooth autopairing for controllers
  RELEASE-NOTES.md
  package/recalbox-bluetooth/recalbox-bluetooth.mk
  package/recalbox-bluetooth/src/init/bluetooth
  package/recalbox-bluetooth/src/scripts/autopair
  package/recalbox-bluetooth/src/scripts/btDaemon
  package/recalbox-bluetooth/src/scripts/recalbox-bluetooth-agent
  package/recalbox-bluetooth/src/scripts/simple-agent
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.h
  projects/frontend/es-app/src/mqtt/MqttClient.cpp
  projects/frontend/es-app/src/mqtt/MqttClient.h
Due: tests emulationstation

feat(frontend): add $system-x/$system+x meta-variables in theme's xml
  package/recalbox-romfs2/systems/easyrpg/system.ini
  package/recalbox-romfs2/systems/lowresnx/system.ini
  package/recalbox-romfs2/systems/lutro/system.ini
  package/recalbox-romfs2/systems/pico8/system.ini
  package/recalbox-romfs2/systems/scummvm/system.ini
  package/recalbox-romfs2/systems/tic80/system.ini
  package/recalbox-romfs2/systems/uzebox/system.ini
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemDeserializer.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-core/src/themes/ThemeData.cpp
  projects/frontend/es-core/src/themes/ThemeData.h
  projects/frontend/es-core/src/utils/String.cpp
  projects/frontend/es-core/src/utils/String.h
Due: tests emulationstation

fix(frontend): fix system types & device requirement for virtual systems
  projects/frontend/es-app/src/games/IFilter.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/SystemView.cpp
Due: tests emulationstation

fix(romfs): add new fantasy system type
  package/recalbox-romfs2/scripts/installroms.py
  package/recalbox-romfs2/scripts/systemholder.py
  package/recalbox-romfs2/systems/.templates/readme/_leggime.txt
  package/recalbox-romfs2/systems/.templates/readme/_leiame.txt
  package/recalbox-romfs2/systems/.templates/readme/_liesmich.txt
  package/recalbox-romfs2/systems/.templates/readme/_lisezmoi.txt
  package/recalbox-romfs2/systems/.templates/readme/_readme.txt
Due: none

feat(core): bump lr-mesen_s
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  package/libretro-mesen-s/0001-bios-paths.patch
  package/libretro-mesen-s/libretro-mesen-s.mk
Due: tests buildroot patches

feat(frontend): optimize metadata loading and storage in ram
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/FileData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/GameRandomSelector.h
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataFieldDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/games/classifications/Genres.h
  projects/frontend/es-app/src/guis/GuiMetaDataEd.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-core/src/utils/os/fs/Path.h
Due: tests emulationstation

feat(frontend): allow to launch a game with a specific softpatching
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/nes/system.ini
  package/recalbox-romfs2/systems/snes/system.ini
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/tests/generators/FakeArguments.py
  projects/frontend/es-app/src/emulators/run/GameLinkedData.h
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/emulators/run/PatchData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/GameFilesUtils.h
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGameSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSoftpatchingLauncher.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSoftpatchingLauncher.h
  projects/frontend/es-app/src/views/ViewController.cpp
Due: tests configgen, tests emulationstation

perf(frontend): optimize main path
  projects/frontend/es-app/src/Upgrade.cpp
  projects/frontend/es-app/src/emulators/EmulatorManager.cpp
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/FileData.h
  projects/frontend/es-app/src/games/FolderData.cpp
  projects/frontend/es-app/src/games/FolderData.h
  projects/frontend/es-app/src/games/GameFilesUtils.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/games/adapter/GameAdapter.cpp
  projects/frontend/es-app/src/guis/GuiMetaDataEd.cpp
  projects/frontend/es-app/src/guis/GuiScraperRun.cpp
  projects/frontend/es-app/src/guis/GuiScraperSingleGameRun.cpp
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameDeleteOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameDeleteSelectionOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistOptions.cpp
  projects/frontend/es-app/src/scraping/ScraperFactory.cpp
  projects/frontend/es-app/src/scraping/ScraperSeamless.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperApis.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperEngineBase.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-app/src/systems/LightGunDatabase.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/usernotifications/NotificationManager.cpp
  projects/frontend/es-app/src/usernotifications/NotificationManager.h
  projects/frontend/es-app/src/views/ViewController.cpp
  projects/frontend/es-app/src/views/ViewController.h
  projects/frontend/es-app/src/views/gamelist/BasicGameListView.cpp
  projects/frontend/es-app/src/views/gamelist/DetailedGameListView.cpp
  projects/frontend/es-app/src/views/gamelist/ISimpleGameListView.cpp
  projects/frontend/es-core/src/utils/IniFile.cpp
  projects/frontend/es-core/src/utils/IniFile.h
  projects/frontend/es-core/src/utils/os/fs/Path.h
Due: tests emulationstation

feat(frontend): adjust and optimize fast search using new metadata
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/games/FolderData.cpp
  projects/frontend/es-app/src/games/FolderData.h
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/games/MetadataStringHolder.cpp
  projects/frontend/es-app/src/games/MetadataStringHolder.h
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemData.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/ViewController.h
  projects/frontend/es-core/src/utils/storage/Array.h
Due: tests emulationstation

fix(frontend): fix gamelist.xml being saved even if nothing changes
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/views/crt/CrtView.cpp
Due: tests emulationstation

fix(frontend): fix media path in gamelists.xml (absolute => relative)
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
Due: tests emulationstation

fix(frontend): fix searching in a single system
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
Due: tests emulationstation

fix(frontend): global search is no longer crashing
  projects/frontend/es-app/src/systems/SystemManager.cpp
Due: tests emulationstation

feat(controllers): add Nintendo Switch N64 and Megadrive/Genesis controllers definitions
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  package/hid-nintendo/0002-add-more-controllers-support-and-md-n64-snes-mapping.patch
Due: tests buildroot patches

feat: replace Moonlight embedded with Moonlight QT
  Config.in
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-x86_64_defconfig
  package/moonlight-embedded/Moonlight.sh
  package/moonlight-embedded/moonlight-embedded.mk
  package/moonlight-qt/0001-quit-on-pair.patch
  package/moonlight-qt/Config.in
  package/moonlight-qt/Moonlight.sh
  package/moonlight-qt/moonlight-qt.mk
Due: tests buildroot patches

chore(moonlight): adapt recalbox moonlight configgen generator for moonlight-qt
  package/moonlight-qt/moonlight-qt.mk
  projects/configgen/configgen/generators/moonlight/moonlightGenerator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/tests/generators/moonlightGenerator_test.py
  projects/configgen/tests/resources/moonlight/gamelist.txt
  projects/configgen/tests/resources/moonlight/moonlight.conf
Due: tests configgen

fix(frontend): fix gamelist.xml being saved even if nothing changes
  projects/frontend/es-app/src/games/FileData.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/GuiSearch.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/views/crt/CrtView.cpp
Due: tests emulationstation
