Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

feat(core): add core lr-mojozork for zmachine
  Config.in
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-mojozork/Config.in
  package/libretro-mojozork/libretro-mojozork.mk
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

fix(frontend): fix lag when exiting metadata edition w/o actual change
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.cpp
Due: tests emulationstation

chore(configgen/kodi): configure prime for odroidxu4 architecture
  projects/configgen/configgen/generators/kodi/kodiConfig.py
Due: tests configgen

fix: use kodi patch from AreaScout
  board/recalbox/odroidxu4/patches/kodi/0001-Add-ODROID-XU4-plane-support-as-we-do-not-have-NV21-.patch
  board/recalbox/odroidxu4/patches/kodi/0001-use-EGL_KHR_platform_gbm-not-EGL_MESA_platform_gbm.patch
  board/recalbox/odroidxu4/patches/kodi/0002-Fix-This-is-only-needed-for-proprietary-Mali-drivers.patch
  board/recalbox/odroidxu4/patches/kodi/0003-Fix-Needed-sometimes-because-of-header-files-used-by.patch
  board/recalbox/odroidxu4/patches/kodi/0004-Fix-GBM-implementation-on-ODROID-s-doesn-t-support-g.patch
  board/recalbox/odroidxu4/patches/kodi/0005-Fix-We-have-to-round-the-frame-rate-from-the-movie-t.patch
  board/recalbox/odroidxu4/patches/kodi/0006-Add-enable-v4l2-m2m-support.patch
  board/recalbox/odroidxu4/patches/kodi/0007-Add-abillity-to-disable-hw-decoder.patch
  board/recalbox/odroidxu4/patches/kodi/0008-Add-use-more-recent-version-of-ffmpeg.patch
  board/recalbox/odroidxu4/patches/kodi/0009-Fix-do-not-use-gbm-modifiers-and-bo-map-on-ODROID-s-.patch
Due: none

fix: fix dolphin dependencies
  package/dolphin-emu/Config.in
Due: none

fix: fix armv6 compilation of libatomic
  board/recalbox/rpi1/patches/gcc/0001-armv6-march-for-rpi1.patch
  configs/recalbox-rpi1_defconfig
Due: none

feat(core): add standalone vice emulator 3.6.1
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/recalbox-romfs2/scripts/systemholder.py
  package/recalbox-romfs2/systems/c64/system.ini
  package/vice/Config.in
  package/vice/vice.mk
  package/xa65/Config.in
  package/xa65/xa65.mk
  projects/configgen/configgen/generators/vice/viceGenerator.py
  projects/configgen/configgen/settings/iniSettings.py
  projects/configgen/tests/generators/viceGenerator_test.py
  projects/frontend/es-app/src/emulators/EmulatorDescriptor.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemDeserializer.cpp
Due: tests configgen, tests emulationstation

feat(themes): add new systems theme
  package/recalbox-themes/recalbox-themes.mk
Due: none

feat(game): add astebros demo on megadrive
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/megadrive/init/roms/Astebros demo (en).zip
  package/recalbox-romfs2/systems/megadrive/init/roms/Astebros demo (fr).zip
  package/recalbox-romfs2/systems/megadrive/init/roms/Demons Of Asteborg & Astebros/Readme.txt
  package/recalbox-romfs2/systems/megadrive/init/roms/Demons Of Asteborg (Demo)/Readme.txt
  package/recalbox-romfs2/systems/megadrive/init/roms/gamelist.xml
  package/recalbox-romfs2/systems/megadrive/init/roms/media/images/Astebros Demo.png
  package/recalbox-romfs2/systems/megadrive/init/roms/media/images/Demons of Asteborg (Demo).png
Due: none

feat(system): add guncon2 driver for support on recalbox rgb dual
  Config.in
  board/recalbox/fsoverlay/etc/udev/rules.d/99-joysticks-exotics.rules
  package/recalbox-crt/Config.in
  package/recalbox-rgb-dual-guncon2/Config.in
  package/recalbox-rgb-dual-guncon2/recalbox-rgb-dual-guncon2.mk
Due: none

feat(system): lightgun: add support for guncon2 in lightgun configuration
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/lightgun.cfg
  package/recalbox-rgb-dual-guncon2/Config.in
  projects/configgen/configgen/generators/libretro/libretroLightGuns.py
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
Due: tests configgen, tests emulationstation

feat(joystick): bump hid-nintendo
  package/hid-nintendo/hid-nintendo.mk
Due: none

feat(joystick): bump joycond
  package/joycond/joycond.mk
Due: none

fix(romfs): add new fantasy system type
  package/recalbox-romfs2/scripts/installroms.py
  package/recalbox-romfs2/scripts/systemholder.py
  package/recalbox-romfs2/systems/.templates/readme/_leggime.txt
  package/recalbox-romfs2/systems/.templates/readme/_leiame.txt
  package/recalbox-romfs2/systems/.templates/readme/_liesmich.txt
  package/recalbox-romfs2/systems/.templates/readme/_lisezmoi.txt
  package/recalbox-romfs2/systems/.templates/readme/_readme.txt
Due: none

fix(frontend): fix system types & device requirement for virtual systems
  projects/frontend/es-app/src/games/IFilter.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/SystemView.cpp
Due: tests emulationstation

feat(frontend): add $system-x/$system+x meta-variables in theme's xml
  package/recalbox-romfs2/systems/easyrpg/system.ini
  package/recalbox-romfs2/systems/lowresnx/system.ini
  package/recalbox-romfs2/systems/lutro/system.ini
  package/recalbox-romfs2/systems/pico8/system.ini
  package/recalbox-romfs2/systems/scummvm/system.ini
  package/recalbox-romfs2/systems/tic80/system.ini
  package/recalbox-romfs2/systems/uzebox/system.ini
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-core/src/themes/ThemeData.cpp
  projects/frontend/es-core/src/themes/ThemeData.h
  projects/frontend/es-core/src/utils/String.cpp
  projects/frontend/es-core/src/utils/String.h
Due: tests emulationstation

feat(core): bump lr-mesen_s
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  package/libretro-mesen-s/0001-bios-paths.patch
  package/libretro-mesen-s/libretro-mesen-s.mk
Due: tests buildroot patches

feat: replace Moonlight embedded with Moonlight QT
  Config.in
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-x86_64_defconfig
  package/moonlight-embedded/Moonlight.sh
  package/moonlight-embedded/moonlight-embedded.mk
  package/moonlight-qt/0001-quit-on-pair.patch
  package/moonlight-qt/Config.in
  package/moonlight-qt/Moonlight.sh
  package/moonlight-qt/moonlight-qt.mk
Due: tests buildroot patches

chore(moonlight): adapt recalbox moonlight configgen generator for moonlight-qt
  package/moonlight-qt/moonlight-qt.mk
  projects/configgen/configgen/generators/moonlight/moonlightGenerator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/tests/generators/moonlightGenerator_test.py
  projects/configgen/tests/resources/moonlight/gamelist.txt
  projects/configgen/tests/resources/moonlight/moonlight.conf
Due: tests configgen

feat(frontend): bt: animated bluetooth icon
  projects/frontend/data/ResourceUtil.cpp
  projects/frontend/data/Resources.h
  projects/frontend/data/converted/bluetooth__bt_bottom_svg.cpp
  projects/frontend/data/converted/bluetooth__bt_controller_svg.cpp
  projects/frontend/data/converted/bluetooth__bt_middle_svg.cpp
  projects/frontend/data/converted/bluetooth__bt_top_svg.cpp
  projects/frontend/data/converted/bluetooth_svg.cpp
  projects/frontend/data/resources/bluetooth.svg
  projects/frontend/data/resources/bluetooth/bt_bottom.svg
  projects/frontend/data/resources/bluetooth/bt_controller.svg
  projects/frontend/data/resources/bluetooth/bt_middle.svg
  projects/frontend/data/resources/bluetooth/bt_top.svg
  projects/frontend/es-core/src/bluetooth/BluetoothOverlayGUI.cpp
  projects/frontend/es-core/src/bluetooth/BluetoothOverlayGUI.h
Due: tests emulationstation

chore(autopair): send more status reports and make it more reliable
  package/recalbox-bluetooth/src/scripts/autopair
  package/recalbox-bluetooth/src/scripts/autopair.readme
Due: none

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

feat: add bluetooth autopairing for controllers
  RELEASE-NOTES.md
  package/recalbox-bluetooth/recalbox-bluetooth.mk
  package/recalbox-bluetooth/src/init/bluetooth
  package/recalbox-bluetooth/src/scripts/autopair
  package/recalbox-bluetooth/src/scripts/btDaemon
  package/recalbox-bluetooth/src/scripts/recalbox-bluetooth-agent
  package/recalbox-bluetooth/src/scripts/simple-agent
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.h
  projects/frontend/es-app/src/mqtt/MqttClient.cpp
  projects/frontend/es-app/src/mqtt/MqttClient.h
Due: tests emulationstation

chore: enable uhid module onboot
  board/recalbox/fsoverlay/etc/modules.conf
  board/recalbox/rpi/fsoverlay/etc/modules.conf
Due: none

fix(kodi): fix languages versions
  package/kodi-plugin-video-netflix/kodi_plugin_video_netflix.mk
  package/kodi-plugin-video-youtube/kodi_plugin_video_youtube.mk
  package/kodi-resource-language-de_de/kodi_resource_language_de_de.mk
  package/kodi-resource-language-fr_fr/kodi_resource_language_fr_fr.mk
  package/kodi-resource-language-it_it/kodi_resource_language_it_it.mk
Due: none

fix(controllers): remove xbox patch and manage trigger axis in frontend
  board/recalbox/kernel_patches/5.10/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.12/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.15/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.4/linux-xpad-triggers-to-buttons.patch
  board/recalbox/kernel_patches/5.9/linux-xpad-triggers-to-buttons.patch
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
Due: tests emulationstation

fix(frontend): fix truncated search result & optimize search arlgorithm
  projects/frontend/es-app/src/systems/SystemManager.cpp
Due: tests emulationstation

fix(frontend): fix search sort issue
  projects/frontend/es-app/src/systems/SystemManager.cpp
Due: tests emulationstation

fix(frontend): fix cache refresh
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
Due: tests emulationstation

fix: for piboy, on boot, force fan to high speed (200)
  board/recalbox/fsoverlay/etc/init.d/S05hardware
Due: none

fix(case): case uninstallation scripts expects a string at uninstall software
  projects/recalbox-hardware/case/installer.py
  projects/recalbox-hardware/case/installers/gpi2/install.py
  projects/recalbox-hardware/case/installers/piboy/install.py
Due: none

fix(system): add favori icon for system vg5000 and zmachine
  package/recalbox-romfs2/systems/vg5000/system.ini
  package/recalbox-romfs2/systems/zmachine/system.ini
Due: none

fix(build): fix docker run command
  scripts/linux/recaldocker.sh
Due: none

feat(system): add sdl1.2 compatibility library package
  Config.in
  package/sdl/Config.in
  package/sdl/sdl-0000-route-sdl-config-to-staging.patch
  package/sdl/sdl.mk
Due: tests buildroot patches

feat(system): remove buildroot sdl package
  Config.in
  board/recalbox/patches/sdl/0003-pssc-sdl-fbcon.patch
  custom/list.hash
  custom/package/ffmpeg/ffmpeg.mk.patch
  custom/package/sdl/Config.in
  custom/package/sdl/Config.in.patch
  custom/package/sdl/sdl-0000-route-sdl-config-to-staging.patch
  custom/package/sdl/sdl.mk
  custom/package/sdl/sdl.mk.patch
Due: tests buildroot patches

feat(emulator): move from linapple-pie to recalbox version
  Config.in
  Dockerfile
  RELEASE-NOTES.md
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/linapple-pie/Config.in
  package/linapple-pie/linapple-pie.mk
  package/linapple-recalbox/Config.in
  package/linapple-recalbox/linapple-recalbox.mk
  package/recalbox-romfs2/systems/apple2/system.ini
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/linapple/linappleConfig.py
  projects/configgen/configgen/generators/linapple/linappleGenerator.py
  projects/configgen/configgen/utils/diskCollector.py
  projects/configgen/tests/generators/linappleGenerator_test.py
Due: tests configgen

chore(packages): fix sdl2 dependencies
  package/amiberry33/Config.in
  package/jstest2/Config.in
  package/libretro-picodrive/Config.in
  package/pifba/Config.in
  package/recalbox-emulationstation2/Config.in
  package/vice/Config.in
Due: none

chore: rename mali-t62x mali drivers to librelec-libmali
  Config.in
  configs/recalbox-odroidxu4_defconfig
  package/librelec-libmali/0001-add-the-libgbm-wrapper-to-the-build.patch
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: tests buildroot patches

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
