Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

chore(buildroot): remove legacy buildroot packages
  configs/recalbox-x86_64_defconfig
Due: none

fix(core): disable rewind for atari st on rpi3
  package/recalbox-system/rpi3/recalbox.conf
Due: none

feat(frontend): tate: add tate virtual system with automatic rotation support
  projects/frontend/es-app/src/ApplicationWindow.cpp
  projects/frontend/es-app/src/ApplicationWindow.h
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/MainRunner.h
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.h
  projects/frontend/es-app/src/guis/menus/GuiMenuTateVirtualSystem.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuTateVirtualSystem.h
  projects/frontend/es-app/src/guis/menus/GuiMenuVirtualSystems.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuVirtualSystems.h
  projects/frontend/es-app/src/recalbox/BootConf.cpp
  projects/frontend/es-app/src/recalbox/BootConf.h
  projects/frontend/es-app/src/systems/SystemData.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/SystemView.cpp
  projects/frontend/es-app/src/views/ViewController.cpp
  projects/frontend/es-app/src/views/gamelist/ISimpleGameListView.cpp
  projects/frontend/es-core/src/RecalboxConf.h
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/Renderer.h
  projects/frontend/es-core/src/RotationManager.cpp
  projects/frontend/es-core/src/RotationManager.h
  projects/frontend/es-core/src/WindowManager.h
  projects/frontend/es-core/src/hardware/Board.h
  projects/frontend/es-core/src/hardware/Case.cpp
  projects/frontend/es-core/src/hardware/Case.h
  projects/frontend/es-core/src/hardware/IBoardInterface.h
  projects/frontend/es-core/src/hardware/RotationType.h
  projects/frontend/es-core/src/hardware/boards/odroidadvancego2/OdroidAdvanceGo2Board.cpp
  projects/frontend/es-core/src/hardware/boards/odroidadvancego2/OdroidAdvanceGo2Board.h
  projects/frontend/es-core/src/input/InputCompactEvent.cpp
  projects/frontend/es-core/src/input/InputCompactEvent.h
  projects/frontend/es-core/src/resources/Font.cpp
Due: tests emulationstation

feat(frontend): tate: add rotation in game metadata
  projects/configgen/configgen/utils/Rotation.py
  projects/frontend/es-app/src/games/MetadataDescriptor.cpp
  projects/frontend/es-app/src/games/MetadataDescriptor.h
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperApis.cpp
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperApis.h
  projects/frontend/es-app/src/scraping/scrapers/screenscraper/ScreenScraperSingleEngine.cpp
  projects/frontend/es-core/src/hardware/RotationType.h
Due: tests configgen, tests emulationstation

feat(frontend): tate: add frontend rotation support
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.h
  projects/frontend/es-app/src/views/crt/CrtView.cpp
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/Renderer.h
  projects/frontend/es-core/src/resources/Font.cpp
Due: tests emulationstation

feat(system): bump themes to add tate auto theme
  package/recalbox-themes/recalbox-themes.mk
Due: none

feat(configgen): tate: add tate screen and controls support
  projects/configgen/configgen/Emulator.py
  projects/configgen/configgen/emulatorlauncher.py
  projects/configgen/configgen/generators/libretro/libretroConfigurations.py
  projects/configgen/configgen/generators/libretro/libretroControllers.py
  projects/configgen/configgen/generators/libretro/libretroGenerator.py
  projects/configgen/tests/emulatorlauncher_test.py
  projects/configgen/tests/generators/libretro/LibretroConfigTate_test.py
Due: tests configgen

chore(buildroot): fix compilation of kodi with mesa3d
  board/recalbox/patches/kodi/9999-fix-build-with-mesa-22-3-0.patch
Due: tests buildroot patches

feat(retroarch menu): allow swap valid cancel buttons
  projects/configgen/configgen/Emulator.py
  projects/configgen/configgen/generators/libretro/libretroRetroarch.py
Due: tests configgen

chore(rg353x): add specific rg353x GPT partition probe
  board/recalbox/fsoverlay/recalbox/scripts/upgrade/recalbox-squashfs-upgrade.sh
Due: none

feat: add ES support for rg353x and rg503 family boards
  board/recalbox/fsoverlay/etc/udev/rules.d/91-pulseaudio.rules
  board/recalbox/fsoverlay/usr/share/pulseaudio/alsa-mixer/profile-sets/rk817.conf
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/MainRunner.h
  projects/frontend/es-app/src/guis/menus/GuiMenuAdvancedSettings.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuSystem.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.cpp
  projects/frontend/es-app/src/guis/wizards/WizardRG353X.h
  projects/frontend/es-app/src/scraping/scrapers/recalbox/RecalboxEndPoints.cpp
  projects/frontend/es-core/src/Renderer.cpp
  projects/frontend/es-core/src/ResolutionAdapter.cpp
  projects/frontend/es-core/src/audio/pulseaudio/PulseAudioController.cpp
  projects/frontend/es-core/src/hardware/Board.cpp
  projects/frontend/es-core/src/hardware/BoardType.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XBoard.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XPowerEventReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XSpecialButtonsReader.h
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XVolumeReader.cpp
  projects/frontend/es-core/src/hardware/boards/anbernic/RG353XVolumeReader.h
  projects/frontend/es-core/src/hardware/messaging/HardwareMessageSender.cpp
  projects/frontend/es-core/src/hardware/messaging/IHardwareNotifications.h
  projects/frontend/es-core/src/hardware/messaging/MessageTypes.h
Due: tests emulationstation

feat: add possibility to upgrade bootloader on upgrade
  board/recalbox/anbernic/rg353x/genimage.cfg
  board/recalbox/copy-recalbox-archives.sh
  package/recalbox-initramfs/busybox.config
  package/recalbox-initramfs/init
Due: none

chore(upgrade): show first install step right after the image has been correctly checked
  board/recalbox/fsoverlay/etc/init.d/S11upgrade
Due: none

chore(rg353x): add a fix when using GPT partition table type
  board/recalbox/fsoverlay/etc/init.d/S11share
Due: none

chore(beta): add union merge for RELEASE-NOTES.md
  .gitattributes
Due: none

fix(core): add european bios note for atari 7800
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
Due: none

fix: add atari 7800 pal bios support
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  board/recalbox/fsoverlay/recalbox/share_upgrade/bios/lisez-moi.txt
  board/recalbox/fsoverlay/recalbox/share_upgrade/bios/readme.txt
  package/libretro-prosystem/libretro-prosystem.mk
Due: none

fix(core): fix uae4all in romfs v2
  package/libretro-uae4all/Config.in
  package/recalbox-romfs2/systems/amiga600/system.ini
Due: none

feat(core): add uae4all core for rpi1 & 0
  CHANGELOG.md
  Config.in
  RELEASE-NOTES.md
  TESTING.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  board/recalbox/fsoverlay/recalbox/share_upgrade/bios/lisez-moi.txt
  board/recalbox/fsoverlay/recalbox/share_upgrade/bios/readme.txt
  configs/recalbox-rpi1_defconfig
  package/libretro-uae4all/0001-Use-cyclone-core.patch
  package/libretro-uae4all/0002-lower-cycle-unit-value.patch
  package/libretro-uae4all/Config.in
  package/libretro-uae4all/libretro-uae4all.mk
  package/recalbox-romfs2/systems/amiga600/system.ini
Due: tests buildroot patches

fix(frontend): allow subfolders in arcade virtual system
  projects/frontend/es-app/src/systems/SystemData.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
Due: tests emulationstation

fix(board): remove simcoupe from pi0 - too slow
  configs/recalbox-rpi1_defconfig
Due: none

fix(roms): add default p2k for trs-80 coco
  package/recalbox-romfs2/systems/trs80coco/upgrade/roms/.p2k.cfg
Due: none

fix(board): remove sameduck core - too slow
  configs/recalbox-rpi1_defconfig
Due: none

fix(board): remove snes9x dor pi0 - too slow
  configs/recalbox-rpi1_defconfig
Due: none

fix(emulator): fix pifba package
  package/pifba/Config.in
Due: none

feat(system): add samba shortcuts
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/etc/samba/smb.conf
Due: none

feat(frontend): tate: add tate in main menu
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenu.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenu.h
  projects/frontend/es-app/src/guis/menus/GuiMenuTate.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuTate.h
  projects/frontend/es-app/src/guis/menus/GuiMenuTateVirtualSystem.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuTateVirtualSystem.h
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuUserInterface.h
  projects/frontend/es-app/src/guis/menus/GuiMenuVirtualSystems.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuVirtualSystems.h
  projects/frontend/es-app/src/recalbox/BootConf.cpp
  projects/frontend/es-app/src/recalbox/BootConf.h
  projects/frontend/es-core/src/RecalboxConf.h
  projects/frontend/es-core/src/RotationManager.cpp
  projects/frontend/es-core/src/hardware/IBoardInterface.h
  projects/frontend/es-core/src/hardware/RotationType.h
  projects/frontend/es-core/src/hardware/boards/odroidadvancego2/OdroidAdvanceGo2Board.cpp
  projects/frontend/es-core/src/hardware/boards/odroidadvancego2/OdroidAdvanceGo2Board.h
  projects/frontend/es-core/src/themes/MenuThemeData.cpp
  projects/frontend/es-core/src/themes/MenuThemeData.h
  projects/frontend/es-core/src/themes/ThemeData.cpp
Due: tests emulationstation

feat(ci): bump python to 3.10 in ci
  .gitlab-ci.yml
Due: none

feat(cores): add lr-dirksimple for daphne
  Config.in
  configs/recalbox-odroidgo2_defconfig
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi1_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-rpizero2legacy_defconfig
  configs/recalbox-x86_64_defconfig
  package/libretro-dirksimple/Config.in
  package/libretro-dirksimple/libretro-dirksimple.mk
  package/recalbox-romfs2/systems/daphne/system.ini
Due: none

fix(romfs): add netplay support for some gb/gbc/gba systems
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/gb/system.ini
  package/recalbox-romfs2/systems/gba/system.ini
  package/recalbox-romfs2/systems/gbc/system.ini
Due: none

feat(system): remove mount bind of retroarch assets partition
  board/recalbox/fsoverlay/etc/init.d/S12populateshare
Due: none

fix(frontend): fix demo not starting games with specific resolution
  projects/frontend/es-app/src/DemoMode.cpp
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
  projects/frontend/es-app/src/emulators/run/GameRunner.h
Due: tests emulationstation

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
