Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

tests configgen:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: python:3.9-slim
  script:
  - cd projects/configgen
  - echo "Installing dependencies"
  - pip install -r requirements.txt
  - echo "Running unittests"
  - export PYTHONPATH=$PYTHONPATH:$(pwd) && pytest --cov=configgen
  - echo "Building configgen"
  ...

tests emulationstation:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: none
  image: docker:latest
  tags:
  - lintstage
  services:
  - docker:dind
  script:
  - cd projects/frontend
  - docker build .
  artifacts:
    reports:
      junit: ./**/report.xml

tests buildroot patches:
  stage: lint
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  tags:
  - lintstage
  before_script:
  - apk update && apk add git
  script:
  - export ARCH=rpi4
  - git remote show target || git remote add target "${CI_MERGE_REQUEST_PROJECT_URL}"
  - git fetch target "${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}"
  ...

feat(game): add astebros demo on megadrive
  RELEASE-NOTES.md
  package/recalbox-romfs2/systems/megadrive/init/roms/Astebros demo (en).zip
  package/recalbox-romfs2/systems/megadrive/init/roms/Astebros demo (fr).zip
  package/recalbox-romfs2/systems/megadrive/init/roms/Demons Of Asteborg & Astebros/Readme.txt
  package/recalbox-romfs2/systems/megadrive/init/roms/Demons Of Asteborg (Demo)/Readme.txt
  package/recalbox-romfs2/systems/megadrive/init/roms/gamelist.xml
  package/recalbox-romfs2/systems/megadrive/init/roms/media/images/Astebros Demo.png
  package/recalbox-romfs2/systems/megadrive/init/roms/media/images/Demons of Asteborg (Demo).png
Due: none

feat(game): add astebros demo on megadrive
  package/recalbox-romfs2/systems/megadrive/init/roms/gamelist.xml
Due: none

feat(system): add guncon2 driver for support on recalbox rgb dual
  Config.in
  board/recalbox/fsoverlay/etc/udev/rules.d/99-joysticks-exotics.rules
  package/recalbox-crt/Config.in
  package/recalbox-rgb-dual-guncon2/Config.in
  package/recalbox-rgb-dual-guncon2/recalbox-rgb-dual-guncon2.mk
Due: none

feat(system): lightgun: add support for guncon2 in lightgun configuration
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/lightgun.cfg
  package/recalbox-rgb-dual-guncon2/Config.in
  projects/configgen/configgen/generators/libretro/libretroLightGuns.py
  projects/frontend/es-app/src/emulators/run/GameRunner.cpp
Due: tests configgen, tests emulationstation

fix(frontend): fix cancel button displayed on controller configuration
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
  projects/frontend/es-core/src/guis/GuiInputConfig.h
  projects/frontend/locale/emulationstation2.pot
Due: tests emulationstation

feat(joystick): bump hid-nintendo
  package/hid-nintendo/hid-nintendo.mk
Due: none

feat(joystick): bump joycond
  package/joycond/joycond.mk
Due: none

fix(dolphin): make hotkeys to work again on dolphin for xbox recognized controllers
  RELEASE-NOTES.md
  projects/configgen/configgen/generators/dolphin/dolphinControllers.py
Due: tests configgen

chore: enable uhid module onboot
  board/recalbox/fsoverlay/etc/modules.conf
  board/recalbox/rpi/fsoverlay/etc/modules.conf
Due: none

feat: add bluetooth autopairing for controllers
  RELEASE-NOTES.md
  package/recalbox-bluetooth/recalbox-bluetooth.mk
  package/recalbox-bluetooth/src/init/bluetooth
  package/recalbox-bluetooth/src/scripts/autopair
  package/recalbox-bluetooth/src/scripts/btDaemon
  package/recalbox-bluetooth/src/scripts/recalbox-bluetooth-agent
  package/recalbox-bluetooth/src/scripts/simple-agent
  projects/frontend/es-app/src/MainRunner.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuPads.h
  projects/frontend/es-app/src/mqtt/MqttClient.cpp
  projects/frontend/es-app/src/mqtt/MqttClient.h
Due: tests emulationstation

fix(romfs): add new fantasy system type
  package/recalbox-romfs2/scripts/installroms.py
  package/recalbox-romfs2/scripts/systemholder.py
  package/recalbox-romfs2/systems/.templates/readme/_leggime.txt
  package/recalbox-romfs2/systems/.templates/readme/_leiame.txt
  package/recalbox-romfs2/systems/.templates/readme/_liesmich.txt
  package/recalbox-romfs2/systems/.templates/readme/_lisezmoi.txt
  package/recalbox-romfs2/systems/.templates/readme/_readme.txt
Due: none

feat(frontend): add $system-x/$system+x meta-variables in theme's xml
  package/recalbox-romfs2/systems/easyrpg/system.ini
  package/recalbox-romfs2/systems/lowresnx/system.ini
  package/recalbox-romfs2/systems/lutro/system.ini
  package/recalbox-romfs2/systems/pico8/system.ini
  package/recalbox-romfs2/systems/scummvm/system.ini
  package/recalbox-romfs2/systems/tic80/system.ini
  package/recalbox-romfs2/systems/uzebox/system.ini
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemDeserializer.cpp
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-core/src/themes/ThemeData.cpp
  projects/frontend/es-core/src/themes/ThemeData.h
  projects/frontend/es-core/src/utils/String.cpp
  projects/frontend/es-core/src/utils/String.h
Due: tests emulationstation

fix(frontend): fix system types & device requirement for virtual systems
  projects/frontend/es-app/src/games/IFilter.h
  projects/frontend/es-app/src/systems/SystemDescriptor.h
  projects/frontend/es-app/src/systems/SystemManager.cpp
  projects/frontend/es-app/src/systems/SystemManager.h
  projects/frontend/es-app/src/views/SystemView.cpp
Due: tests emulationstation

feat(core): bump lr-mesen_s
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  package/libretro-mesen-s/0001-bios-paths.patch
  package/libretro-mesen-s/libretro-mesen-s.mk
Due: tests buildroot patches

feat(controllers): add Nintendo Switch N64 and Megadrive/Genesis controllers definitions
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_input.cfg
  package/hid-nintendo/0002-add-more-controllers-support-and-md-n64-snes-mapping.patch
Due: tests buildroot patches

feat: replace Moonlight embedded with Moonlight QT
  Config.in
  configs/recalbox-odroidxu4_defconfig
  configs/recalbox-rpi3_defconfig
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-rpi4_defconfig
  configs/recalbox-rpizero2_defconfig
  configs/recalbox-x86_64_defconfig
  package/moonlight-embedded/Moonlight.sh
  package/moonlight-embedded/moonlight-embedded.mk
  package/moonlight-qt/0001-quit-on-pair.patch
  package/moonlight-qt/Config.in
  package/moonlight-qt/Moonlight.sh
  package/moonlight-qt/moonlight-qt.mk
Due: tests buildroot patches

chore(moonlight): adapt recalbox moonlight configgen generator for moonlight-qt
  package/moonlight-qt/moonlight-qt.mk
  projects/configgen/configgen/generators/moonlight/moonlightGenerator.py
  projects/configgen/configgen/recalboxFiles.py
  projects/configgen/tests/generators/moonlightGenerator_test.py
  projects/configgen/tests/resources/moonlight/gamelist.txt
  projects/configgen/tests/resources/moonlight/moonlight.conf
Due: tests configgen

feat(emulator): add libretro same_cdi
  Config.in
  board/recalbox/fsoverlay/recalbox/share_init/system/.emulationstation/es_bios.xml
  configs/recalbox-x86_64_defconfig
  package/libretro-same_cdi/Config.in
  package/libretro-same_cdi/libretro-same_cdi-0000-recalbox-path.patch
  package/libretro-same_cdi/libretro-same_cdi.mk
  package/recalbox-romfs2/systems/cdi/system.ini
Due: tests buildroot patches

chore(project-cd): add launch_cdrom and udev rules
  CHANGELOG.md
  RELEASE-NOTES.md
  board/recalbox/fsoverlay/etc/udev/rules.d/99-cdrom_autolaunch.rules
  board/recalbox/x86/fsoverlay/usr/bin/launch_cdrom
Due: none

chore(mess): rework package and patch
  package/libretro-mess/001-cdimono1.patch
  package/libretro-mess/libretro-mess.mk
Due: tests buildroot patches

chore(mess): add romfs for gnw and for cdi
  .gitignore
  Config.in
  configs/recalbox-x86_64_defconfig
  package/libretro-mess/Config.in
  package/libretro-mess/libretro-mess.mk
  package/recalbox-romfs/recalbox-romfs-cdi/Config.in
  package/recalbox-romfs/recalbox-romfs-cdi/recalbox-romfs-cdi.mk
  package/recalbox-romfs/recalbox-romfs-cdi/roms/cdi/_lisezmoi.txt
  package/recalbox-romfs/recalbox-romfs-cdi/roms/cdi/_readme.txt
Due: none

chore(mess): add patch to rename cdimono1
  package/libretro-mess/001-cdimono1.patch
Due: tests buildroot patches

chore(mess): build only necessary driver
  package/libretro-mess/001-cdimono1.patch.old
  package/libretro-mess/libretro-mess.mk
Due: none

fix(libretro-pcsx_rearmed): fix pause menu in the game
  RELEASE-NOTES.md
  package/libretro-pcsx_rearmed/libretro-pcsx_rearmed.mk
Due: none

fix(frontend): fix lag when exiting metadata edition w/o actual change
  projects/frontend/es-app/src/guis/menus/GuiMenuGamelistGameOptions.cpp
Due: tests emulationstation

feat(themes): add new systems theme
  package/recalbox-themes/recalbox-themes.mk
Due: none

feat(modules): add wii-u gamecube adapter
  Config.in
  configs/recalbox-rpi4_64_defconfig
  configs/recalbox-x86_64_defconfig
  package/wii-u-gc-adapter/Config.in
  package/wii-u-gc-adapter/wii-u-gc-adapter-0001-fix-makefile.patch
  package/wii-u-gc-adapter/wii-u-gc-adapter.mk
Due: tests buildroot patches

feat(kodi): add skin confluence for lower resolutions
  Config.in
  RELEASE-NOTES.md
  package/kodi-skin-confluence-480/Config.in
  package/kodi-skin-confluence-480/kodi_skin_confluence_480.mk
  package/recalbox-crt/S13crt
Due: none

feat(systyem): add default /boot/crt/recalbox-crt-options.cfg with preconfigured offsets
  package/recalbox-crt/crt-config/recalbox-crt-options.cfg
Due: none

feat(system): rrgbd: fix dos and n64 resolutions
  package/recalbox-crt/crt-config/systems.txt
  projects/configgen/configgen/generators/libretro/crt/LibretroCoreConfigCRT.py
  projects/configgen/tests/generators/libretro/crt/LibretroCoreConfigCRT_test.py
Due: tests configgen

feat(frontend): option for 240p@120Hz frontend resolution
  RELEASE-NOTES.md
  projects/frontend/es-app/src/guis/MenuMessages.h
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.cpp
  projects/frontend/es-app/src/guis/menus/GuiMenuCRT.h
  projects/frontend/es-core/src/CrtConf.h
  projects/frontend/es-core/src/Renderer.cpp
  projects/recalbox-rgb-dual/recalboxrgbdual.c
Due: tests emulationstation

fix(system): rrgbd: fix theme migration and add a migration system
  package/recalbox-crt/S13crt
  projects/frontend/es-app/src/MainRunner.cpp
Due: tests emulationstation

fix(system): rrgbd: add 480i resolution support for mac system
  package/recalbox-crt/crt-config/systems.txt
  package/recalbox-romfs2/systems/macintosh/system.ini
Due: none

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch
