Repository live-clones/recalbox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tests configgen, tests emulationstation, tests buildroot patches

Path conditions:
  tests configgen: any of: projects/configgen/**/*
  tests emulationstation: any of: projects/frontend/**/*
  tests buildroot patches: any of: package/*/*.patch, board/recalbox/patches/*/*.patch

fix(configgen): rrgbd: fix alsa thread driver selected for all psx cores, now only for swanstation
  projects/configgen/configgen/generators/libretro/crt/LibretroConfigCRT.py
  projects/configgen/tests/generators/libretro/crt/LibretroConfigCRT_test.py
Due: tests configgen

fix: use kodi patch from AreaScout
  board/recalbox/odroidxu4/patches/kodi/0001-Add-ODROID-XU4-plane-support-as-we-do-not-have-NV21-.patch
  board/recalbox/odroidxu4/patches/kodi/0001-use-EGL_KHR_platform_gbm-not-EGL_MESA_platform_gbm.patch
  board/recalbox/odroidxu4/patches/kodi/0002-Fix-This-is-only-needed-for-proprietary-Mali-drivers.patch
  board/recalbox/odroidxu4/patches/kodi/0003-Fix-Needed-sometimes-because-of-header-files-used-by.patch
  board/recalbox/odroidxu4/patches/kodi/0004-Fix-GBM-implementation-on-ODROID-s-doesn-t-support-g.patch
  board/recalbox/odroidxu4/patches/kodi/0005-Fix-We-have-to-round-the-frame-rate-from-the-movie-t.patch
  board/recalbox/odroidxu4/patches/kodi/0006-Add-enable-v4l2-m2m-support.patch
  board/recalbox/odroidxu4/patches/kodi/0007-Add-abillity-to-disable-hw-decoder.patch
  board/recalbox/odroidxu4/patches/kodi/0008-Add-use-more-recent-version-of-ffmpeg.patch
  board/recalbox/odroidxu4/patches/kodi/0009-Fix-do-not-use-gbm-modifiers-and-bo-map-on-ODROID-s-.patch
Due: none

chore(configgen/kodi): configure prime for odroidxu4 architecture
  projects/configgen/configgen/generators/kodi/kodiConfig.py
Due: tests configgen

feat(system): add sdl1.2 compatibility library package
  Config.in
  package/sdl12-compat/Config.in
  package/sdl12-compat/sdl12-compat.mk
Due: none

chore: rename mali-t62x mali drivers to librelec-libmali
  Config.in
  configs/recalbox-odroidxu4_defconfig
  package/librelec-libmali/0001-add-the-libgbm-wrapper-to-the-build.patch
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: tests buildroot patches

chore: end migration from mali-t62x to librelec-libmali
  package/librelec-libmali/Config.in
  package/librelec-libmali/librelec-libmali.mk
Due: none

chore(rg353x): add a fix when using GPT partition table type
  board/recalbox/fsoverlay/etc/init.d/S11share
  package/recalbox-system/Config.in
Due: none

feat: add anbernic rg353p/v/m family support
  .gitlab-ci.yml
  Config.in
  RELEASE-NOTES.md
  board/recalbox/anbernic/fsoverlay/.dummy
  board/recalbox/anbernic/rg353x/extlinux.conf
  board/recalbox/anbernic/rg353x/fsoverlay/.dummy
  board/recalbox/anbernic/rg353x/genimage.cfg
  board/recalbox/anbernic/rg353x/kernel-aarch64-4.19-defconfig.config
  board/recalbox/anbernic/rg353x/kernel_patches/4.19/.dummy
  board/recalbox/anbernic/rg353x/patches/.dummy
  board/recalbox/anbernic/rg353x/u-boot-fragment.conf
  board/recalbox/copy-recalbox-archives.sh
  board/recalbox/kernel_patches/4.19/.dummy
  configs/recalbox-rg353x_defconfig
  package/amiberry/amiberry.mk
  package/libretro-beetle-pcfx/libretro-beetle-pcfx.mk
  package/libretro-gpsp/libretro-gpsp.mk
  package/libretro-parallel-n64/libretro-parallel-n64.mk
  package/libretro-pcsx_rearmed/libretro-pcsx_rearmed.mk
  package/libretro-yabasanshiro/libretro-yabasanshiro.mk
  package/recalbox-rockchip-mali-bifrost-vulkan/Config.in
  package/recalbox-rockchip-mali/Config.in
  package/recalbox-rockchip-mali/recalbox-rockchip-mali.mk
  package/recalbox-system/Config.in
  package/recalbox-system/recalbox-system.mk
  package/recalbox-system/rg353x/pre-upgrade.sh
  package/recalbox-system/rg353x/recalbox.conf
  package/rockchip-rkbin/Config.in
  package/rockchip-rkbin/Config.in.host
  package/rockchip-rkbin/rockchip-rkbin.mk
  package/uboot-rg353x/Config.in
  package/uboot-rg353x/old/0001-address-of-packed-member-to-warning.patch
  package/uboot-rg353x/old/0002-Remove-a-few-broken-device-trees.patch
  package/uboot-rg353x/old/0003-Fix-scripts.patch
  package/uboot-rg353x/old/0004-Fixes-for-GCC-12.2.patch
  package/uboot-rg353x/old/0006-fixup-path-to-dtc.patch
  package/uboot-rg353x/old/0007-set-part-name.patch
  package/uboot-rg353x/uboot-rg353x.mk
  package/uboot-rg353x/uboot-rg353x.mk.old
Due: none

chore: simplification of adding new board
  package/libretro-flycast/libretro-flycast.mk
  package/libretro-mupen64plus-nx/libretro-mupen64plus-nx.mk
  package/libretro-parallel-n64/0001-add-odroidgo2-board.patch
  package/libretro-parallel-n64/0002-add-gcc10-compat.patch
  package/libretro-parallel-n64/libretro-parallel-n64.mk
  package/libretro-uae4arm/libretro-uae4arm.mk
  package/libretro-vitaquake2/libretro-vitaquake2.mk
  package/oricutron/oricutron.mk
  package/recalbox-initramfs/recalbox-initramfs.mk
  package/retroarch/retroarch.mk
Due: tests buildroot patches

chore: fix ci
  .gitlab-ci.yml
Due: none

chore(rg353x): add possiblity to build resource.img linux image
  custom/linux/Config.in
  custom/linux/Config.in.patch
  custom/linux/linux.mk
  custom/linux/linux.mk.patch
Due: none

fixup! feat: add anbernic rg353p/v/m family support
  package/recalbox-rockchip-mali/recalbox-rockchip-mali.hash
Due: none

fix(lint): fix buildroot patch linter
  .gitlab-ci.yml
Due: none

feat: add support for volume control of rg353x with volumed
  board/recalbox/anbernic/rg353x/fsoverlay/etc/init.d/S06volumed
  package/recalbox-system/Config.in
  package/recalbox-volumed/recalbox-volumed.mk
Due: none

fix(frontend): fix cancel button displayed on controller configuration
  projects/frontend/es-core/src/guis/GuiInputConfig.cpp
  projects/frontend/es-core/src/guis/GuiInputConfig.h
  projects/frontend/locale/emulationstation2.pot
Due: tests emulationstation

feat(frontend): vues can block simple message popups & info popups
  projects/frontend/es-app/src/ApplicationWindow.h
  projects/frontend/es-app/src/views/ViewController.cpp
  projects/frontend/es-app/src/views/ViewController.h
  projects/frontend/es-app/src/views/crt/CrtView.h
  projects/frontend/es-core/src/ResolutionAdapter.cpp
  projects/frontend/es-core/src/ResolutionAdapter.h
  projects/frontend/es-core/src/WindowManager.cpp
  projects/frontend/es-core/src/WindowManager.h
  projects/frontend/es-core/src/guis/Gui.h
Due: tests emulationstation

feat(system): remove buildroot sdl package
  board/recalbox/patches/sdl/0003-pssc-sdl-fbcon.patch
  custom/list.hash
  custom/package/Config.in
  custom/package/Config.in.patch
Due: tests buildroot patches

feat(system): add sdl1.2 compatibility library package
  Config.in
  package/sdl/Config.in
  package/sdl/sdl-0000-route-sdl-config-to-staging.patch
  package/sdl/sdl.mk
Due: tests buildroot patches
